[2013-12-02 23:32] ToucheSir opened #1 "Usage Instructions"
It would be great if there were instructions in the readme concerning how to set up tern with Eclipse.

[2013-12-06 00:41] #1 closed, assigned to nobody

[2013-12-20 08:42] angelozerr opened #2 "Develop JUnit for node.js tern server"
Develop JUnit for node.js tern server.

@pascalleclercq : initialize maven to do JUnit and JUnit must work with any OS (start the well node exe).
@angelozerr : develop JUnit for Develop JUnit for node.js tern server.

[2013-12-26 00:22] #2 closed, assigned to nobody

[2014-01-13 08:30] angelozerr opened #3 "Problem when TernServer instance is used in several threads"
There is a problem when TernServer instance is used in several threads, because the
TernFileManager which update a list of files which are indexed is not synchronized (so the files could be indexed several times). TernFileManager  should be improved :
- indexedFiles access should be synchronized.
- indexedFiles  should be updated on the end of the tern request (if the request was done with none er

[2014-01-13 08:43] angelozerr opened #4 "Configure node path in Node.js Preferences page"
Configure node path in Node.js Preferences page

[2014-01-13 14:29] angelozerr opened #5 "Parse JS file of tern doc with monitor"
Parse JS file of tern doc with monitor

[2014-01-13 17:10] #3 closed, assigned to nobody

[2014-01-13 20:04] angelozerr opened #6 "Improve performance with JS Editor and tern completion"
When completion is done, the full js content is sent to the tern server. It can be slow if js file is big. To fix this problem, "partial" tern doc should be managed (only sent the update of the js editor).

[2014-01-13 20:05] angelozerr opened #7 "Display in the console view tern request/response"
Display in the console view tern request/response

[2014-01-18 19:39] #7 closed, assigned to nobody

[2014-01-18 19:44] angelozerr opened #8 "Load scripts files in JS Editor from defined script path"
When completion is done in JS Editor, some JS files must be parsed by tern (if those files are not already parsed). Today the only JS file which is parsed is teh JS coming from the editor. The compeltion in JS Editor should use the script paths defined in the preferences to load it.

[2014-01-18 19:47] angelozerr opened #9 ""Add Folder" as script path"
Today it exists "Add Page" in the Tern->Script path property to add an HTML/JSP file which contains script elements.

But loading script can be done with sevreal mean (requireJS, head.js, etc). I think it's hard to provide all frameworks which loads JS. I think a generci mean is to manage a "folder" script path. A new button "Add Folder"could select a folder which contains JS files to load.

[2014-01-20 14:00] angelozerr opened #10 "Add "Stop" button to the Tern console"
Add a "stop" button to stop in the tern console to stop a tern server from a given project.

[2014-01-21 23:13] #9 closed, assigned to nobody

[2014-01-23 20:24] angelozerr opened #11 "Manage Hyperlink inside JS editor"
Manage Hyperlink inside JS editor by using tern definition query.

[2014-01-24 23:02] #11 closed, assigned to nobody

[2014-01-25 14:51] angelozerr opened #12 "Don't generate .tern-port"
Call nodejs tern server process with --no-port-file to avoid generating .tern-port

[2014-01-25 14:58] #12 closed, assigned to nobody

[2014-01-25 15:01] #8 closed, assigned to nobody

[2014-01-25 17:06] angelozerr opened #13 "Improve apply of completion for function"
After apply of completion function, it shoud be good to :
- select the first parameter of the function
- set the cursor inside the function
- use tab to select next parameter of the function.

[2014-02-27 13:18] #13 closed, assigned to angelozerr

[2014-02-27 15:11] angelozerr opened #15 "Configure start timeout path in Node.js Preferences page"
Configure start timeout path in Node.js Preferences page

[2014-02-28 16:42] #4 closed, assigned to nobody

[2014-02-28 16:42] #15 closed, assigned to nobody

[2014-03-04 22:55] angelozerr opened #17 "Show several completions item for optional parameter"
Show several completions item for optional parameter.

[2014-03-05 21:55] angelozerr opened #19 "Add custom JSON Tern definition"
Add custom JSON Tern definition

[2014-03-05 21:56] angelozerr opened #20 "Add custom Tern Plugin"
Add custom Tern Plugin

[2014-03-06 09:16] angelozerr opened #21 "Manage auto shutdown of the node.js tern server with preferences"
See http://ternjs.net/doc/manual.html#server (--persistent)

[2014-03-06 10:02] #21 closed, assigned to nobody

[2014-03-06 14:43] angelozerr opened #22 "Display message inside tern console with different colors"
Display message inside tern console with different colors :
- green : process message
- red : error process
- blue : JSON request/response of tern.

[2014-03-06 14:45] #22 closed, assigned to nobody

[2014-03-08 17:09] angelozerr opened #23 "Expand functions with optional parameters for completion"
Expand functions with optional parameters for completion

[2014-03-08 17:11] #23 closed, assigned to nobody

[2014-03-17 09:44] #10 closed, assigned to angelozerr

[2014-03-17 09:44] #17 closed, assigned to nobody

[2014-03-18 11:50] paulvi opened #24 "Set Tern default to external Node.js"
while reading https://github.com/angelozerr/tern.java/wiki/Tern-Eclipse-IDE-Node.js

Well, with Nodeclipse Node.js is to be already installed.
Please make external Node.js as default.
(or default if `org.nodeclipse.debug` plugin is installed, and otherwise use bundled Node.js, that should be always installed )

Or possible configurable externally (more efforts).

Tern IDE should work out of box (t

[2014-03-19 08:09] #24 closed, assigned to nobody

[2014-03-20 08:37] angelozerr opened #25 "Customize image for completion item according the origin (ecma5, angular, etc)"
Provide an extension point to Customize image for completion item according the origin (ecma5, angular, etc)

Ex : for "angular" completion item, displays the angular icon.

[2014-03-21 10:52] paulvi opened #26 "[question] How does DefinitelyTyped compares to tern ?"
Please take a look at
https://github.com/borisyankov/DefinitelyTyped/blob/master/angularjs/angular.d.ts
that is static lbrary description.

As  I remember tern does it dynamically by analyzing.

ref Nodeclipse/nodeclipse-1#24

[2014-03-21 10:59] #26 closed, assigned to nobody

[2014-03-21 20:52] vrubezhny opened #28 "NullPointerException on Tern Node.js Preference page"
When selecting a custom Node.js install (Node.js install: -- Choose your node.js install --) the following NullPointerException occurs:

!ENTRY org.eclipse.ui 4 0 2014-03-22 00:42:39.731
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.NullPointerException
    at tern.eclipse.ide.server.nodejs.internal.ui.preferences.TernNodejsPreferencesPage$1.fireValueChanged(TernNodejsPreferencesPage.

[2014-03-24 14:35] #28 closed, assigned to nobody

[2014-03-24 14:40] angelozerr opened #30 "Tern runtime plugin"
Today tern.js (defs, lib, plugins) are hosted in the node.js tern server implementation tern.java\core\tern.server.nodejs\node_modules.

Other tren server implementation (like Rhino) doesn't use this tern.js files. It should be better to provide a new plugin "Tern runtime plugin" like tern.eclipse.ide.runtime which hosts tern.js files. With this plugin, every tern server implementation can share t

[2014-03-27 10:35] angelozerr opened #31 "Support Tern Completion inside JSP"
Support Tern Completion inside JSP

[2014-03-27 10:35] #31 closed, assigned to nobody

[2014-03-28 09:58] paulvi opened #33 "Implement tern server with Nashorn"
try and write results here

[2014-04-02 14:43] paulvi opened #35 "check out on Windows - Filename too long"
FYI, on Windows 7 32bit

There were no such problem before on Windows.

[2014-04-02 21:04] angelozerr opened #36 "YUI and AlloyUI Tern Plugin"
Create YUI and AlloyUI Tern Plugin

See https://github.com/angelozerr/tern.yuidoc

[2014-04-03 07:42] angelozerr opened #37 "[research task] manage validation with tern"
Manage validation with tern. See start of this   feature with the tern plugin https://github.com/angelozerr/tern.java/blob/master/core/tern.server.nodejs/node_modules/tern/plugin/lint.js and see demo at https://github.com/angelozerr/tern.java/blob/master/core/tern.core.tests/CodeMirror/codemirror-javascript/demo/tern-lint.html

Here a screenshot of this demo:

![tern-lint](https://cloud.githubuser

[2014-04-04 15:39] #36 closed, assigned to nobody

[2014-04-09 21:17] angelozerr opened #39 "Tern Plugin for Grunt"
Create Tern Plugin for Grunt by using :

 * tern grunt plugin : https://github.com/angelozerr/tern-grunt
 * Grunt Eclipse https://github.com/angelozerr/grunt-eclipse which provide an Eclipse View with tasks in a tree.

[2014-04-09 21:18] angelozerr opened #40 "Tern Plugin for Liferay"
Create Tern Plugin for Liferay:

See https://github.com/angelozerr/tern.java/blob/master/core/tern.server.nodejs/node_modules/tern/plugin/liferay.js

and demo at https://github.com/angelozerr/tern.java/blob/master/core/tern.core.tests/CodeMirror/codemirror-javascript/demo/liferay.html

[2014-04-10 08:29] angelozerr opened #41 "Wizard to generate HTML page with Tern & CodeMirror/ACE"
Provide a wizard to generate HTML page with Tern & CodeMirror/ACE/Orion.
- first page shows list of tern defs+plugin to check.
- second page shows checkbox CodeMirror or ACE to choose the editor.

Finish button generate a folder which contains :
- scripts folder :
  - Tern JS files
  - CodeMirror or ACE JS files
- HTML page which contains CodeMirror/ACE JS editor and initialize tern server with ch

[2014-04-10 08:34] angelozerr opened #42 "Implement Javascript refactoring for rename variable"
Tern gives the capability to rename variable. See demo at http://ternjs.net/doc/demo.html

Implement this feature in tern.java

[2014-04-10 12:42] angelozerr opened #43 "Help to develop custom tern defs/plugin"
Today tern.java provides several tern defs/plugin (official (jquery, browser, ecma5, etc) and not official (liferay, aui/yui, grunt, cordova). But it's possible to develop your own tern def/plugin. This issue is about improving tern.java to support custom  tern defs/plugin, but too to help and explain how to develop custom tern defs/plugin.
# Tern IDE

Tern IDE must be improved with thoses issues

[2014-04-10 12:45] #35 closed, assigned to nobody

[2014-04-11 13:41] angelozerr opened #45 "Wizard to generate tern defs/plugin"
Wizard to generate tern defs/plugin

[2014-04-11 13:41] #45 closed, assigned to nobody

[2014-04-15 20:32] angelozerr opened #46 "Wizard to generate HTML page with Tern & Orion"
Like https://github.com/angelozerr/tern.java/issues/41, provides a wizard which generates  an HTML page with Orion & Tern by using https://github.com/angelozerr/tern.orion

[2014-04-20 15:23] angelozerr opened #47 "Tern Plugin for MongoDB"
Create a tern plugin for MongoDB Shell. + MongoDB MapReduce.

@PaulVI what do you think about that?

[2014-04-21 21:32] angelozerr opened #49 "Unizip Node.js install without Ant"
Since https://github.com/angelozerr/tern.java/pull/48,we have a dependency to Ant to unzip node.js install files. And it seems that JUnit doesn't work because we need to unzip node.js filesbefore executing JUNit.

I think we should :
- create a ZipUtils class like ANt Expand in the tern.core project.
- use this classe in https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.

[2014-04-22 07:15] mickaelistria opened #51 "Use libraries from Orbit?"
I see that some libraries (Rhino & json-simple) are copied in the repository. Are they modified compared to the official releases of these libraries? Would it be possible to consume directly the one shipped by Eclipse Orbit ?
If you don't see any issue with using Orbit bundles and OSGi reference in MANIFEST (instead of lib inclusion), I could provide a pull request.

cc @dgolovin.as related to htt

[2014-04-22 13:16] angelozerr opened #52 "Improve starts of node.js server"
When tern is started with node.js starts, it waits 1 seconds (can be configurated in settings) and try to get the port of the started of node.js to know the URL of the server.

With big Tern plugin (like AUI, YUI), 1 sec is not enough. To fix that, we can configure settings to 2 sec, but I think we should add new settings (number of times that it must retry to get the port) to avoid waiting 2 sec

[2014-04-22 16:23] dgolovin opened #54 "tern.eclipse.linux.gtk.x86_64.feature missing arch="x86_64""
tern.eclipse.ide.server.nodejs.embed.linux.gtk.x86_64 plugin should have arch attribute in plugin declaration

[2014-04-23 00:23] angelozerr opened #55 "Customize image + description for tern defs+plugins"
Customize image + description for tern defs+plugins

[2014-04-23 00:28] #55 closed, assigned to nobody

[2014-04-23 08:01] #49 closed, assigned to nobody

[2014-04-25 07:19] #51 closed, assigned to nobody

[2014-04-25 07:22] mickaelistria opened #57 "Use fragments for platform-specific artifacts"
Similarly to what SWT does, it would be better to use fragments for platform-specific artifacts. Then all those fragments could be part of the same feature, and installing the feature would select the right fragment to install.
This would avoid having platform-specific features and would make consumption easier.

[2014-04-25 15:14] angelozerr opened #58 "Limitation of tern, sponsoring tern?"
This issue is about tern limitation that I find and I create this issues if some company (JBoss, Liferay?) wishes to sponsor tern.js to pay @marijnh for developping missing features in tern :

 * tern lint : in other words use tern/acorn to validate JS files. I have started to develop this tern plugin. See https://github.com/angelozerr/tern.java/issues/37

 * completion for JSON object litteral :

[2014-04-26 17:41] angelozerr opened #59 "Replace json-simple by minimal-json?"
Perhaps it's interesting to replace json-simple by minimal-json https://github.com/ralfstx/minimal-json because :
- minimal json is developed by Eclipse RAP.
- minimal-json seems more performant than json-simple. See http://eclipsesource.com/blogs/2013/11/27/minimal-json-0-9-1-available-on-maven-central/

[2014-05-02 22:56] #59 closed, assigned to nobody

[2014-05-09 12:06] angelozerr opened #61 "Tern Plugin for Meteor"
Integrate tern plugin for meteor https://github.com/Slava/tern-meteor

[2014-05-09 12:28] #61 closed, assigned to nobody

[2014-05-10 20:44] #37 closed, assigned to nobody

[2014-05-11 00:13] angelozerr opened #62 "Manage dependency between tern defs/plugin"
Some tern defs, plugisn depends on other  tern defs. For instance 'jquery' tern def depends on Element structure declared in the 'browser' tern def.

It should be cool
- to see this dependencies in the UI tree of tern plugins/defs.
- give the capability to check automaticly tern def depdencies. Ex : you select "jquery" and you click on a button "Add dependencies" and "browser" is checked.

To know

[2014-05-11 00:18] angelozerr opened #63 "Merge tern def/plugin selection in the same treeview"
Today, we have 2 treeviews for tern definition and tern plugin. I think it should be better to merge those treeview in one treeview.

What do you think about that?

Which names could we use? Tern Plugins? Tern facets? Tern features? Tern capabilities?

[2014-05-11 00:19] angelozerr opened #64 "Customize options of tern plugin with UI"
Some tern plugin wait some options. It should be good to customize those options with UI.

To know the options of each tern plugin, I have created https://github.com/marijnh/tern/issues/330 otherwise I will manage that in tern.java

[2014-05-11 00:20] angelozerr opened #65 "Implement text hover to display information of selected JS element"
Implement text hover to display information of selected JS element

[2014-05-18 18:17] angelozerr opened #66 "Tern Plugin for Dojo Toolkit"
Tern Plugin for Dojo Toolkit. See https://github.com/angelozerr/tern.dojotoolkit

[2014-05-19 07:28] #25 closed, assigned to nobody

[2014-05-21 07:25] #63 closed, assigned to nobody

[2014-05-21 07:50] angelozerr opened #67 "Manage version of Tern Plugin"
For some Tern Plugin which are generated from sources we can generate it for several versions, like:
- YUI : https://github.com/angelozerr/tern.yuidoc
- DojoToolkit : https://github.com/angelozerr/tern.dojotoolkit

tern.java should provide a version combo to select the version of the tern plugin.

[2014-05-21 13:09] angelozerr opened #68 "Open Tern Project Properties after "Convert to Tern Project...""
After "Convert to Tern Project..." action, it should be good to open the Project Properties by selecting Tern -> Modules menu item to select Tern Module(Plugin+JSON Type Definition).

[2014-05-28 13:34] #52 closed, assigned to nobody

[2014-05-28 13:55] #67 closed, assigned to nobody

[2014-06-01 09:31] krishna81m opened #69 "Don't see configure as AngularJs or Tern project option"
First, I want to applaud you guys for all the awesome work and its documentation.

Following the setup discussed here, I don't see the option to configure as Angular or Tern projects for some reason and I am using the latest June 01st, 2014 Eclipse Kepler version and 0.3.0-SNAPSHOT update site link? although the Angular js directives are visible, using angularjs-eclipse - http://oss.opensagres.fr/

[2014-06-01 21:42] #69 closed, assigned to nobody

[2014-06-08 23:40] angelozerr opened #70 "Tern Plugin for ExtJS"
Tern Plugin for ExtJS. See https://github.com/angelozerr/tern.jsduck

[2014-06-09 10:39] angelozerr opened #71 "Tern Plugin for CKEditor"
Tern Plugin for CKEditor. See https://github.com/angelozerr/tern.jsduck

[2014-06-17 06:56] #62 closed, assigned to nobody

[2014-06-17 15:59] fbricon opened #74 "Node runtimes shouldn't be stored in SCM"
The build process could be improved to download and zip the nodejs runtimes automatically instead

[2014-06-18 16:49] angelozerr opened #76 "Tern Plugin for Google Maps Api"
See https://github.com/angelozerr/tern.googleapi

[2014-06-19 21:45] #54 closed, assigned to pascalleclercq

[2014-06-19 23:26] #71 closed, assigned to nobody

[2014-06-19 23:26] #70 closed, assigned to nobody

[2014-06-19 23:28] #76 closed, assigned to nobody

[2014-06-19 23:29] #66 closed, assigned to nobody

[2014-06-19 23:31] angelozerr opened #77 "Customize options for lint.js tern plugin with UI"
Customize severity of the errors with UI when lint.js tern plugin is selected.

[2014-06-19 23:33] #64 closed, assigned to nobody

[2014-06-20 08:11] fbricon opened #78 "Can't install embedded NodeJS for win x86_64"
Installing AngularJS Eclipse 0.3.0 +  embedded NodeJS for win x86_64 from http://oss.opensagres.fr/angularjs-eclipse/0.3.0-SNAPSHOT/, I get :

[code]

For some reason, the tern.eclipse.ide.server.nodejs.embed.win32.x86_64 jar is missing from http://oss.opensagres.fr/angularjs-eclipse/0.3.0-SNAPSHOT/plugins/

[2014-06-20 09:24] angelozerr opened #79 "Search JS References with Ctrl+Shift+G"
Tern is enable to find references. See http://ternjs.net/doc/manual.html#req_refs

It should be cool to use this feature to manage Ctrl+Shift+G inside JS Editor.

@vrubezhny It seems that when build path is not configured with JSDT there is a warn message. Is it possible to disable it? JSDT provides an extension point to manage their own Ctrl+Shift+G or do we need implement our own search UI?

[2014-06-20 15:46] angelozerr opened #81 "Rename tern facet to tern module"
Rename tern facet to tern module

[2014-06-20 16:06] angelozerr opened #82 "Use BrowserInformationControl for completion and hover?"
It should be cool if completion and hover displays :
- image
- hyperlink

BrowserInformationControl is perhaps the solution?

To study...

[2014-06-20 19:13] #81 closed, assigned to nobody

[2014-06-23 10:13] angelozerr opened #83 "Tern Plugin for qooxdoo"
Integrate Tern plugin for Qooxdoo https://github.com/angelozerr/tern-qooxdoo

[2014-06-24 16:21] #83 closed, assigned to nobody

[2014-06-25 14:43] #78 closed, assigned to nobody

[2014-06-26 08:02] #65 closed, assigned to nobody

[2014-06-26 08:05] angelozerr opened #86 "Completion inside string"
It should be good to provide completion inside string. Ex for node.js require, completion could show list of modules ('fs', etc), for angular HTML template, etc

[2014-07-01 22:50] dgolovin opened #89 "NullPointerException when call context menu on closed project right after start"
[code]

[2014-07-02 04:52] #89 closed, assigned to nobody

[2014-07-02 13:01] angelozerr opened #91 "Function argument hints"
In the tern.js demo http://ternjs.net/doc/demo.html, there is a popup which display argument of the function when mouse is clicked inside arguments of function :

![functionargumenthints](https://cloud.githubusercontent.com/assets/1932211/3455898/a4c8520c-01e8-11e4-916b-142aceabea17.png)

It should be cool if we can have this feature inside JSDT editor. @vrubezhny do you think it's possible to man

[2014-07-02 13:11] angelozerr opened #92 "Text Hover inside string"
Like completion https://github.com/angelozerr/tern.java/issues/86 it should be good to have text hover to display information of module like for require('module

[2014-07-02 13:12] angelozerr opened #93 "Validation inside string"
Like completion #86 it should be good to have validation  to display errors when module is not known like for require('BAD_MODULE

[2014-07-02 13:14] angelozerr opened #94 "Hyperlink inside string"
Like completion #86 it should be good to have hyperlink to go to the definition of the module like for require('MY_MODULE

Ctrl+click on MY_MODULE open the file where module is defined.

[2014-07-02 13:18] #57 closed, assigned to nobody

[2014-07-03 07:30] angelozerr opened #98 "Delegate tern nature adapters in their own class"
Today Tern nature adapaters extension point loading is managed in IDETerProject. It should be more clean to manage that in a mew class TernNatureAdaptersManager

[2014-07-03 07:56] #98 closed, assigned to nobody

[2014-07-03 15:48] #91 closed, assigned to nobody

[2014-07-04 05:55] gamerson opened #99 "No way to use wst.facets or provide an adapter to an existing facet"
Liferay IDE projects are just webtools projects with liferay.\* facet.  I would like the ability to either adapt a ternNature to the liferay facet or add support in tern for tern.java facet that would serve the same purpose as ternNature.

[2014-07-05 07:46] #99 closed, assigned to nobody

[2014-07-06 23:09] angelozerr opened #101 "Create Marketplace for Tern Eclipse IDE"
Create Marketplace for Tern Eclipse IDE

[2014-07-06 23:16] #101 closed, assigned to nobody

[2014-07-08 13:11] angelozerr opened #102 "Manage Javascript validation (with lint) inside HTML editor"
Manage Javascript validation  (with lint) inside HTML editor

[2014-07-11 12:05] #82 closed, assigned to nobody

[2014-07-20 14:54] angelozerr opened #103 "Tern Plugin for Google Closure"
Integrates Tern Plugin for Google Closure https://github.com/google/tern-closure

[2014-07-21 06:53] wolfgang-ch opened #104 "StackOverflowError"
IDE: Eclipse Luna 4.4

[code]

[2014-07-21 17:47] #104 closed, assigned to nobody

[2014-07-25 09:44] angelozerr opened #105 "Release 0.4 in August"
If @pascalleclercq has time, release 0.4.0 should be done in August.

See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.4.0 to know new features.

[2014-08-04 07:59] #103 closed, assigned to nobody

[2014-08-05 17:55] angelozerr opened #106 "Debug tern.js with Nodeclipse"
Until today, when I develop JavaScript tern plugin, I use Chrome to debug it (with WebBrowser). But some tern plugin like Google Closure Library https://github.com/angelozerr/tern.java/wiki/Tern-&-Closure-support is avaialble only with node.js

Iit should be fantastic to debug tern plugin with Nodeclipse (to benefit with breakpoint).

My idea is to start the tern server with node.js with debug mod

[2014-08-06 00:13] angelozerr opened #107 "Manage Remote Access for node.js"
To support debugging for tern server https://github.com/angelozerr/tern.java/issues/106, a remote access for node.js should be available.

The basic idea is to configure a remote port for node.js server. With this configuration, none internal node.js process is started.

[2014-08-06 00:14] #107 closed, assigned to nobody

[2014-08-06 20:24] angelozerr opened #108 "Manage JavaScript Hover inside HTML editor"
Manage JavaScript Hover inside HTML editor

[2014-08-06 20:25] #108 closed, assigned to nobody

[2014-08-06 22:15] #102 closed, assigned to nobody

[2014-08-11 07:59] wolfgang-ch opened #109 "frameElement Tooltip"
The tooltip for "frameElement" looks a bit strange.

![frameelement](https://cloud.githubusercontent.com/assets/1283445/3873217/82d414c0-212c-11e4-80f3-944cff11e3a8.png)

Configuration:

.tern-project
{"ide":{},"libs":["browser","ecma5"]}

[2014-08-12 07:21] #105 closed, assigned to pascalleclercq

[2014-08-14 05:34] gamerson opened #110 "Webtools validation marks all ng-* attributes as unknown"
I'm attaching screenshot and an example webtools standard project with an angularjs app.

Here is a download of the example project

https://app.box.com/s/ie1irp22nkpxe231meur

![screenshot from 2014-08-14 13 24 33](https://cloud.githubusercontent.com/assets/595221/3916113/8e22a6cc-2373-11e4-9b52-8b0d79a87516.png)

[2014-08-14 08:42] muhdkhokhar opened #111 "No repository found"
I get error "No Repository found". Do you have this as offline plugin.....?

I even tried to mirror it as well

org.eclipse.equinox.p2.core.ProvisionException: No repository found at http://oss.opensagres.fr/tern.repository/0.4.0/.
    at org.eclipse.equinox.internal.p2.repository.helpers.AbstractRepositoryManager.fail(AbstractRepositoryManager.java:393)
    at org.eclipse.equinox.internal.p2.repo

[2014-08-19 18:38] #110 closed, assigned to nobody

[2014-08-21 10:57] #111 closed, assigned to nobody

[2014-09-02 13:22] #40 closed, assigned to nobody

[2014-09-06 22:46] angelozerr opened #117 "Tern plugin for Google Apps Script"
Integrate https://github.com/aki2o/tern-gas

[2014-09-10 07:24] angelozerr opened #118 "Display tern completion items on the top of completion popup"
Display tern completion items on the top of completion popup

[2014-09-10 07:25] #118 closed, assigned to angelozerr

[2014-09-10 20:14] #117 closed, assigned to angelozerr

[2014-09-17 14:52] angelozerr opened #119 "Configure tern script path with JSDT"
Tern.java uses script path https://github.com/angelozerr/tern.java/wiki/Tern-Script-Path to set js files from folder, js files to post to tern server the first time that completion, hover, hyperlink and hover are executed with tern.

There is 2 problems with that :
- JBoss hides the tern script path property page and it is impossible to customize script path.
  See https://issues.jboss.org/browse/

[2014-09-18 14:27] #119 closed, assigned to nobody

[2014-09-18 20:08] MetaMemoryT opened #121 "tern.TernException: No query type 'lint' defined"
When I tried to use tern.java on tern-lint, it failed, maybe it is trying to use the lint.js in the project path?

How would I debug this?

Any work-around comes to mind for this one project?

[code]

.tern-project

[code]

[2014-09-18 22:28] #121 closed, assigned to nobody

[2014-09-23 16:10] #77 closed, assigned to nobody

[2014-09-24 14:35] angelozerr opened #124 "Provide extension point ternFileConfiguration to customize script element inside HTML like aui:script"

[2014-09-24 14:37] #124 closed, assigned to nobody

[2014-09-25 13:02] paulvi opened #125 "Wiki page - How to add tern-ide module"
there should be Wiki page - How to add tern-ide module

![](https://github.com/angelozerr/tern.java/wiki/images/0.6.0/EcLipseIDE_TernLintOptions.png)

related to #39 #47

[2014-09-25 20:47] MetaMemoryT opened #126 "add tern-chrome-apps"
https://github.com/MetaMemoryT/tern-chrome-apps

[2014-09-26 09:04] paulvi opened #127 "UI Preferences for Default Modules"
After installing 0.5.0 (all modules) I still don't see Modules preference page

Only

- Tern
    -Node.js

BTW, Rhino option not installed, but only Node option

[2014-09-26 10:31] paulvi opened #128 "Release 0.6 in September-October"
https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.6.0

please notify for every release by mentioning me @PaulVI

see also https://github.com/Nodeclipse/nodeclipse-1/issues/166

[2014-09-26 10:47] paulvi opened #129 "Always use module icon for code suggestions"
Because TernIDE is to be used together with JSDT, Nodeclipse https://github.com/Nodeclipse/nodeclipse-1/issues/166 and others, it may be confusing where this suggestion came from

![](https://github.com/angelozerr/tern.java/wiki/images/0.6.0/EcLipseIDE_JSDTAfterTernCompletion.png)

Please always use ternIDE module icon (or derived) for code suggestions.
This way user can know where this suggestion

[2014-09-28 06:11] paulvi opened #131 "MEAN stack support"
MEAN is "MongoDB-Express-Angularjs-Nodejs"

started in https://github.com/Nodeclipse/nodeclipse-1/issues/166 by @nodeleaf

@angelozerr answered

- tern-mongodb : doesn't exists -> #47
- tern-express: doesn't exists
- angularjs : exists => https://github.com/angelozerr/angularjs-eclipse
- node : exists => https://github.com/angelozerr/tern.java/wiki/Tern-&-Node.js-support

[2014-09-29 11:08] ghost opened #133 "Issue with Tern v. 0.5.0.201409012129 installed from nodeclipse-anide repository."
eclipse.buildId=4.4.0.I20140606-1215
java.version=1.8.0_05
java.vendor=Oracle Corporation
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en_US
Framework arguments: -product org.eclipse.epp.package.jee.product -keyring . . .
Command-line arguments: -os macosx -ws cocoa -arch x86_64 -product org.eclipse.epp.package.jee.product -keyring . . .

tern.eclipse.ide.ui
Error
Mon Sep 29 12:45:33

[2014-10-05 00:06] angelozerr opened #134 "Generate inline function when completion apply is done"
When function signature as a parameter which is a function like express app.get :

[code]

When completion app.get is applyed it generates :

[code]

It should be better that it's generate the inline function :

[code]

[2014-10-05 00:08] angelozerr opened #135 "Integrate tern chrome apps"
https://github.com/MetaMemoryT/tern-chrome-apps.git

[2014-10-05 00:08] angelozerr opened #136 "Integrate tern node mongodb native"

[2014-10-05 00:09] angelozerr opened #137 "Integrate tern express"
https://github.com/angelozerr/tern-node-express

[2014-10-05 00:10] #128 closed, assigned to pascalleclercq

[2014-10-05 00:11] angelozerr opened #138 "Integrate tern mongoose"
https://github.com/angelozerr/tern-node-mongoose

[2014-10-05 00:13] #135 closed, assigned to nobody

[2014-10-05 19:02] #126 closed, assigned to angelozerr

[2014-10-05 21:20] #137 closed, assigned to nobody

[2014-10-10 03:11] paulvi opened #139 "Isn't tern description a markdown format?"
I see that tern description uses ` one quote for keywords

Example:

<pre>* Assign `setting` to `val`, or return `setting`'s value.</pre>

That is used within markdown. Should Tern output be processed with markdown?

Example of markdown output:
- Assign `setting` to `val`, or return `setting`'s value.

[2014-10-10 03:13] paulvi opened #140 "[minor] Configurable mouse-over hints"
It is awesome that tern can provide hints for anything,
but after a while hints for string (that is quite a big block) starts being annoying.

There should be preferences to disables some kinds of mouse-over hints

[2014-10-10 03:41] paulvi opened #141 "[minor] With Nodeclipse 0.17 Tern modules are not shown as selected until re-open"
There is some problem with approach of just adding `.tern-project` file https://github.com/Nodeclipse/nodeclipse-1/issues/165

While hints and completions seems to work fine, when I open project Properties and Tern -> Modules
I see none on modules is selected, while  `.tern-project` content is
`{"libs":["ecma5"],"plugins":{"node":{}},"ide":{}}`

`.project` content is

[code]

[2014-10-10 16:18] #134 closed, assigned to angelozerr

[2014-10-10 17:03] MetaMemoryT opened #142 "Connect tern.java to an external user installed, user managed, tern server"
This is a very simple solution to issues such as https://github.com/angelozerr/tern.java/issues/43 https://github.com/angelozerr/tern.java/issues/141

### The Problem

Power users and developers are often creating their own tern modules/defs/plugins and hand edit .tern-project files with complex additions that the gui does not support.  For example, the plugin tern-closure supports custom "finder"

[2014-10-13 06:16] paulvi opened #143 "[hard] mouse-over hints should show value"
For example, when mouse-over boolean values, it would be nice see `true` or `false`.

taken from http://stackoverflow.com/questions/359494/does-it-matter-which-equals-operator-vs-i-use-in-javascript-comparisons/359509#359509

Currently mouse-over `==` just shows it is

 bool
The Boolean object is an object wrapper for a boolean value.

Returns:
bool
Guess?:
false

Similar for #140 when mouse over

[2014-10-13 06:22] paulvi opened #144 "Integrate mongo-shell"
as discussed in https://github.com/angelozerr/tern-node-mongodb-native/issues/1#issuecomment-58845803

mongo shell support in independent issue

[2014-10-13 06:31] paulvi opened #145 "Underline with yellow line for not used variables"
Just like in JDT, when variable is not used, it is underlined

int underfinedVar;
[code]

[2014-10-13 06:57] paulvi opened #146 "[minor] Guess?: should follow with yes or no"
Guess?: section in hint should follow with values yes or no

currently it shows false or true.

[2014-10-13 07:40] paulvi opened #147 "node shebang #!/usr/bin/env node is not JavaScript"
Node.js .js file may contain

`#!/usr/bin/env node` as its first line.

Tern gives hint that is it Boolean, that together with JSDT showing it as error, may confuse user even more.

see also http://stackoverflow.com/questions/18960201/how-to-ignore-node-shebang-error-in-eclipse

[2014-10-13 11:19] #136 closed, assigned to nobody

[2014-10-13 11:21] #138 closed, assigned to angelozerr

[2014-10-13 16:58] mickaelistria opened #148 "Tern property page shows up on Working Sets"
Using project navigator, with tern.java installed in IDE, I see the property page allowing to configure tern module when editing working set proprties.
This property page doesn't seem to be relevant at that point, it should probably only be shown when selected item is adaptable to IProject or IJavaScriptProject.

[2014-10-14 14:06] piotrtomiak opened #149 "More flexible API for file management and syncing"
Genuitec proposes to make some API cleanup/reorganization within File management and synchronisation, especially defining class roles in a better way. Here is a very raw draft of proposed changes:
1. FileManager or better IFileCacheManager, would be responsible for keeping up-to-date list of files on the server
   - IFileCacheManager would work on ITernFile interface and all details of accessing f

[2014-10-14 16:22] angelozerr opened #150 "Exclude tern script path"
Provide a mean to exclude tern script path (folder, file) to avoid parsing some JS files. For instance if your project has this script folder :

----------------------------

scripts
    -> lib which contains angular.js
    myscript.js

----------------------------

Here :

 * angular.js must not be parsed by tern (because it exists a tern plugin for angular and angular.js is bif (performance prob

[2014-10-15 07:30] angelozerr opened #152 "Tern RoadMap"
Hi

Today, tern.java is used (or will be used)  by :
- JBoss tools for tern.java and AngularJS Eclipse
- Liferay IDE for AUI support
- Nodeclipse for node, express, mongodb and mongoose support
- MyEclipse

To give you more about tern.java features, I have created a RoadMap page https://github.com/angelozerr/tern.java/wiki/RoadMap

@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @

[2014-10-15 08:52] paulvi opened #153 "[minor] .tern-project gets change after pressing OK in project properties"
Even without changing anything in project properties `.tern-project` changes from

[code]

into

[code]

As `.tern-project` is to be committed into SCM, it would be nice to have it not changing, when there are no changes.

ref https://github.com/Nodeclipse/nodeclipse-1/issues/165

[2014-10-16 11:33] #147 closed, assigned to nobody

[2014-10-17 09:19] paulvi opened #155 "completion inside Eclipse Console"
Started in https://github.com/angelozerr/tern.java/issues/144#issuecomment-59473658

but it is more general issue.

Examples

[![](http://pydev.sourceforge.net/images/console/code_completion.png)](http://pydev.sourceforge.net/manual_adv_interactive_console.html#code-completion)

[![](http://rherrmann.github.io/gonsole/screenshot.png)](http://rherrmann.github.io/gonsole/)

also in [Bug 447206 - [TE

[2014-10-20 09:27] angelozerr opened #157 "Problem with synchronization of tern file"
When a JS file is moved or deleted, tern server is not refreshed with thos changes.

@piotrtomiak if you have time to see it, it should be very cool, otherwise I will do it.

[2014-10-20 12:10] #149 closed, assigned to nobody

[2014-10-21 03:14] paulvi opened #158 "Tern popup hints disable JSDT JSDoc popup hints"
When using JSDT without TernIDE, with JSDoc like below

[code]

when mouse-over `http` anywhere inside file, I would get JSDoc hint "base node package"

![base-node-package](https://cloud.githubusercontent.com/assets/1614482/4712598/36458c84-58d0-11e4-9b47-276a9d04af92.png)

Now with TernIDE on, as a user I can't use JSDOc support feature

[2014-10-21 11:38] paulvi opened #159 "Origin should be clickable to open Editor"
This example use
https://github.com/shyamseshadri/angularjs-up-and-running/blob/master/chapter10/routing-example/server.js

A, when mouse-over or clicking over `require` or `'morgan'` inside

[`morgan = require('morgan'),`](https://github.com/shyamseshadri/angularjs-up-and-running/blob/master/chapter10/routing-example/server.js#L7)

there is more sense of seeing not definition of `require` (or tha

[2014-10-26 23:20] #133 closed, assigned to nobody

[2014-10-26 23:21] #139 closed, assigned to nobody

[2014-10-27 11:56] #145 closed, assigned to nobody

[2014-10-27 17:08] angelozerr opened #160 "Don't use Eclipse nature to know if project is an Tern project"
Remove tern nature tern.eclipse.ide.core.ternnature. See https://github.com/angelozerr/angularjs-eclipse/issues/108 for more info.

[2014-10-28 01:05] #160 closed, assigned to nobody

[2014-10-28 17:09] #68 closed, assigned to nobody

[2014-10-31 14:41] gamerson opened #161 "java.io.IOException when saving tern project"
[code]

java.io.IOException: Cannot save .tern-project
    at tern.eclipse.ide.internal.core.resources.IDETernProject.save(IDETernProject.java:307)
    at tern.resources.TernProject.saveIfNeeded(TernProject.java:333)
    at tern.eclipse.ide.internal.core.resources.IDETernProject.addExternalScriptPath(IDETernProject.java:418)
    at tern.eclipse.ide.jsdt.internal.JSDTClassPathManager.synchTernScrip

[2014-10-31 17:48] #153 closed, assigned to nobody

[2014-10-31 21:18] #161 closed, assigned to nobody

[2014-11-03 09:22] piotrtomiak opened #162 "Null Pointer Exception"
@gamerson is seeing following NPEs (originally reported as part of Issue #157):

[code]

and

[code]

As @angelozerr noted down in a comment:

[2014-11-04 10:12] #162 closed, assigned to nobody

[2014-11-05 04:36] gamerson opened #164 "local plugin development example doesn't work?"
I installed the latest build of tern.java from master and then tried to follow the steps here:

https://github.com/angelozerr/tern.java/wiki/Tern-Toolings-Server-Plugins

Everything worked as documented until I tried to test out the completions but at I was unable to see anything there.

[2014-11-05 09:34] angelozerr opened #165 "Server Plugin Wizard & Tern repository"
Today server plugin wizard generates a tern plugin which can be used with local mean (stored inside root project).

Since 0.7.0, you can create your tern repository :

![ternrepository](https://cloud.githubusercontent.com/assets/1932211/4766508/91401ea0-5b51-11e4-9592-a79bb0e08d4d.png)

After clicking on OK button, you can reopen the Tern -> Modules and you will see the modules of your custom tern

[2014-11-05 09:47] #164 closed, assigned to nobody

[2014-11-06 11:02] angelozerr opened #166 "Tern Modules & Categories"
As tern modules are growing, it's a little difficult to find the well tern module to check in the table of tern modules. It should be good if we can categorize tern modules (transforme the table to a tree). Here a sample of categorization of node tern plugin :
- node
-  -> node-express
- -> node-mongodb-native
- -> node-mongoose

[2014-11-11 04:52] paulvi opened #167 "Release 0.7 in November/December"
Is it possible to have release for all before New Year?

blockers are

https://github.com/angelozerr/eclipse-wtp-webresources/issues/20
https://github.com/angelozerr/angularjs-eclipse/issues/113
https://github.com/angelozerr/angularjs-eclipse/issues/120

[2014-11-12 21:50] angelozerr opened #168 "Improve JSDT Install Path -> Tern script path"
Improve JSDT Install Path -> Tern script path

[2014-11-14 09:30] angelozerr opened #169 "Integrate tern meteor 1.0"
Integrate tern meteor 1.0

[2014-11-14 11:03] #169 closed, assigned to nobody

[2014-11-14 14:12] angelozerr opened #170 "Display Tern Modules with a label"
Today Tern Modules table display the name of the tern def/plugin. It should be better to display a custom label.

[2014-11-14 14:16] #170 closed, assigned to nobody

[2014-11-14 16:30] angelozerr opened #171 "Improve tern file synchronisation"
The PR of @piotrtomiak https://github.com/angelozerr/tern.java/pull/154 has cleaned a lot tern file synchronization, but I think we should improve it because there is 2 problems :

 * when JS file is moved or deleted, tern server is not updated. See https://github.com/angelozerr/tern.java/issues/157
 * when there are a lot of JS files, UI freeze. The solution is to configure tern script path only

[2014-11-23 15:15] #131 closed, assigned to nobody

[2014-11-24 22:09] #159 closed, assigned to nobody

[2014-11-25 13:32] lygstate opened #173 "Stack overflow."
!ENTRY org.eclipse.ui 4 0 2014-11-25 21:28:41.569
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.StackOverflowError
    at org.eclipse.core.internal.resources.Workspace.getResourceInfo(Workspace.java:1741)
    at org.eclipse.core.internal.resources.Resource.getResourceInfo(Resource.java:1267)
    at org.eclipse.core.internal.resources.Project.isOpen(Project.java:961)
    at org.eclipse

[2014-11-26 12:08] p-bakker opened #174 "Generate Validation Builder Markers"
As discussed offline with Angelo, please generate Eclipse Builder Markers for validation errors

[2014-11-26 14:35] p-bakker opened #175 "Expose tern's omitObjectPrototype setting"
In order to configure whether or not Object prototype methods should be included in Code Completion suggestions

[2014-11-26 15:51] jabby opened #176 "Completion on angular.forE is not correct"
In a JS file, when I use completion on the following code

[code]

and select one of the proposals, I get the following code.

[code]

In this code, the second parenthesis after "key" should be removed.

[2014-11-26 20:13] #176 closed, assigned to nobody

[2014-11-26 20:16] angelozerr opened #177 "Open Declaration in Tern Hover (like JDT)"
Open Declaration in Tern Hover (like JDT)

[2014-11-26 20:17] #177 closed, assigned to nobody

[2014-11-27 08:18] #175 closed, assigned to nobody

[2014-11-27 21:31] angelozerr opened #180 "Support for Tabris"
Integrate tern tabris https://github.com/angelozerr/tern-tabris

See discussion at  https://github.com/eclipsesource/tabris-js/issues/180

[2014-11-27 21:46] #180 closed, assigned to nobody

[2014-11-28 10:30] jkrause opened #181 "Editor does not offer "Assign statement to new local variable" quickfix for tabris.js"
When typing a statement and pressing ctrl-1 the "Assign statement to new local variable" quickfix is not shown while the editor has unsaved changes. As soon as the editor has been saved (with no other change) the quickfix appears.

In a project with jQuery support everything works as expected, just tabris.js seems to be affected.

[2014-11-28 20:59] angelozerr opened #182 "Don't use lineCharPositions"
Don't use lineCharPositions :
- to improve performance (no need to compute on tern server side line + char)
- prepare support for completion inside string.

[2014-11-28 21:02] #182 closed, assigned to nobody

[2014-11-29 21:22] grdryn opened #183 "Bundled apache-commons-io files licensing"
I'm creating an RPM package of tern.java for [Fedora](https://fedoraproject.org/). One of the things that I have to do as part of this is remove any bundled stuff from other packages. There are 3 classes in tern.java from apache commons.io:
- [core/tern.core/src/tern/internal/org/apache/commons/io/input/ClosedInputStream.java](https://github.com/angelozerr/tern.java/blob/master/core/tern.core/src/

[2014-12-01 05:15] gamerson opened #186 "json parse exception"
With the aui plugin enabled and in .js file if I do code assist like :

AUI().use('aui-base', function(A) {
        new A.<content assist>
});

it will get no proposals and in the tern console I get the following error:

[code]

[2014-12-01 10:51] liluCN opened #187 "Aui code assists has the wrong way to add code completation like A.A.AceEditor()"
in this project https://issues.liferay.com/secure/attachment/119162/tern-test.7z
 when i do code assist in js file like
AUI().use('aui-base',function(B){
   new A.  +(Code Assist)
})

it will pop out a list with many templates starts with "A."  like "A.AceEditor(config)" "A.Aria(config)"  etc .

then I double click one item and it added double A , when it finished code completation like this with

[2014-12-01 10:53] #187 closed, assigned to nobody

[2014-12-02 12:29] #173 closed, assigned to nobody

[2014-12-02 12:33] #183 closed, assigned to nobody

[2014-12-02 12:48] #167 closed, assigned to nobody

[2014-12-03 21:02] angelozerr opened #188 "Problem with Open Declaration in Tern Hover"
When Open Declaration in Tern Hover is executed it post the content of the JS file which is saved and not the current editor content.

[2014-12-03 21:03] #188 closed, assigned to nobody

[2014-12-03 21:05] angelozerr opened #189 "Tern hyperlink without start/end"
Sometimes when hyperlink is executed tern returnd just the origin file and not the start/end offset. This case should be supported.

[2014-12-03 21:05] #189 closed, assigned to nobody

[2014-12-04 12:33] angelozerr opened #193 "Improve tern performance with condense tools"
Today when project have a lot of JS files (downloaded for instance with bower), the start of tern server can be very slow.

Tern provides condense tools which gives a JSON representation of the result of the JS files analyzed. We can compare condense to index.

The idea is to gives the capability with preferences to use or not condense. If condese must be used, the first time that tern server load

[2014-12-04 16:56] angelozerr opened #194 "Support completion string module for node require('"
Support completion string module for node require('

[2014-12-04 23:00] #194 closed, assigned to nobody

[2014-12-05 10:11] paulvi opened #195 "Download tern plugins from ternjs repository.json"
started as discussion in #190

[2014-12-08 08:41] paulvi opened #196 "[Research][Plugins] Nashorn support - tern plugin for nashorn"
Please support Hashorn

https://blogs.oracle.com/nashorn/

related to #33

[2014-12-09 22:59] angelozerr opened #198 "Add tern node lint to validate require node module"
Add tern node lint to validate require node module https://github.com/angelozerr/tern-node-lint

[2014-12-09 23:14] #198 closed, assigned to nobody

[2014-12-11 06:16] paulvi opened #201 "Doanload is slow and fails, offline zip option"
While in Beijing China download is very slow, about 4kBs

![tern-downloading-3](https://cloud.githubusercontent.com/assets/1614482/5390067/3ef0cdec-8140-11e4-8f24-45d40e8e951c.png)

What is the current hosting?

Please consider Bintray

http://www.nodeclipse.org/nodeclipse/binaries/bintray/2014/05/09/Nodeclipse-on-Bintray.html

[2014-12-11 07:42] paulvi opened #202 "Two scopes for web.js and Node.js"
While following https://github.com/angelozerr/tern.java/wiki/Tern-Script-Path
I got `.tern-project` like

[code]

Now, how I can specify, that e.g. `public` folder is for web and the root is for Node.js ?

[2014-12-11 08:52] #125 closed, assigned to nobody

[2014-12-11 09:56] paulvi opened #203 "Organize Toolings wiki"
I am confused about wiki, possibly because some issues were not closed because

e.g. #125 could be closed before with https://github.com/angelozerr/tern.java/wiki/Tern-Toolings-Server-Plugins,
also #19 #20 #43 could have been closed.

It seems that I only add mess right now.

What I thought was

Tern Toolings - list all possible tasks and list tools
Debugging tern.js
Tern Console
Creating Tern Plu

[2014-12-11 10:27] paulvi opened #204 "Add Tern Wizzards to Node perspective"
I'd like to add Tern Wizzards to Node perspective

Are you OK with that or you want to do your own perspective or perspective extension?

see https://github.com/Nodeclipse/nodeclipse-1/commit/bfab0eaed3d9d8ffa582cdd490a2c006c6a21175

If OK please help with those wizards ids

[2014-12-11 10:28] paulvi opened #205 "New Tern Plugin Project Wizard"
As said in https://github.com/angelozerr/tern.java/wiki/Tern-Toolings-Server-Plugins
current wizards just add files, while it was discussed in `plugin.json` that every plugin is a (git/npm) project.

ref #204 Add Tern Wizzards to Node perspective
ref #203 Organize Toolings wiki

[2014-12-11 18:24] angelozerr opened #207 "Provide wizard to create an empty tern repository"
Provide wizard to create an empty tern repository :
- from existing tern file system
- by downloading tern with npm.

[2014-12-12 07:34] paulvi opened #208 "[build] R20140114142710 drop for ?"
@pascalleclercq

While unable to get because of #201
I have built from sources

What is R20140114142710 drop for in root pom.xml ?

		<repository>
			<id>orbit</id>
			<layout>p2</layout>
			<url>http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/</url>
		</repository>

[2014-12-12 07:43] paulvi opened #209 "low [Tooling] Repositories should have link to Install Tern Modules wizard"
- [ ] Tern -> Develop -> Repositories Preferences should have link link to "Install Tern Modules" wizard

"Install Tern Modules" wizard should have
- [ ] link to Repositories Preferences
- [ ] and/or quick way to to create repo

ref #195 download plugins

[2014-12-12 09:15] paulvi opened #210 "acorn vs esprima"
I just took a research.

Tern can't be without parser. And it has acorn (just updated to 0.10.0 today)

But for acorn there is alternative esprima http://esprima.org https://github.com/ariya/esprima

And it is proposed to be Eclipse project https://projects.eclipse.org/proposals/esprima
https://projects.eclipse.org/reviews/esprima-creation-review

Have you compared before? Are there other alternat

[2014-12-12 09:36] paulvi opened #211 "Rename `node_modules` to `ternjs`"
started as https://github.com/angelozerr/tern.java/issues/195#issuecomment-66745816

inside https://github.com/angelozerr/tern.java/tree/master/core/tern.core/
rename `node_modules` to `ternjs`

OK, for me it is not yet clear 100%

But for Node.js installed modules usually are to come into `node_modules` inside of new `ternjs`

Let's come up with word other than "repository" e.g. "ternjs folder" o

[2014-12-13 09:14] #148 closed, assigned to nobody

[2014-12-13 15:33] michal-grzejszczak opened #212 "Fields for fs:Stats in node plugin give wrong autocompletion"
Changing lines

[code]

to

[code]

works. Is this part generated with `condense` and I should look for a bug there rather than fix it here?

[2014-12-13 16:13] #212 closed, assigned to nobody

[2014-12-18 01:35] angelozerr opened #214 "Completion for object literal for requirejs.config"
Integrate Completion for object literal for requirejs.config https://github.com/marijnh/tern/pull/449

[2014-12-18 02:31] #214 closed, assigned to nobody

[2014-12-29 16:34] angelozerr opened #216 "Integrate tern jasmine"
Integrate tern jasmine https://github.com/angelozerr/tern-jasmine

[2014-12-30 08:57] #216 closed, assigned to nobody

[2014-12-30 09:04] angelozerr opened #217 "Integrate tern protractor"
Integrate tern protactor https://github.com/angelozerr/tern-protractor

[2015-01-03 10:08] angelozerr opened #218 "Integrate tern YUI3"
Integrate tern YUI3 https://github.com/angelozerr/tern-yui3

[2015-01-03 10:11] #218 closed

[2015-01-03 15:43] angelozerr opened #219 "Integrate tern AlloyUI 2.0.x"
Integrate tern AlloyUI 2.0.x https://github.com/angelozerr/tern-aui2.0.x

[2015-01-03 15:45] #219 closed

[2015-01-04 03:14] paulvi commented on #168
Can "Tern script path" just go into past and only JSDT path be used?

[2015-01-04 03:28] paulvi commented on #142
That is https://bugs.eclipse.org/bugs/show_bug.cgi?id=223131

[2015-01-05 17:06] #217 closed

[2015-01-05 17:07] angelozerr commented on #217
@jabby please test this new tern plugin for protractor and give me feedback. Thanks!

[2015-01-05 17:10] angelozerr opened #220 "Integrate tern snabbt"
Integrate tern snabbt https://github.com/daniel-lundin/tern-snabbt

[2015-01-05 17:28] angelozerr commented on #217
Here a screenshot with by completion :
![eclipseide_protractorbycompletion](https://cloud.githubusercontent.com/assets/1932211/5616849/99a9cf00-9508-11e4-84b4-244d16ca3b34.png)

See See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.8.0#protractor-support
 for more infos.

[2015-01-05 17:36] #220 closed

[2015-01-05 22:26] angelozerr commented on #210
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=432940

See http://esprima.org/demo/autocomplete.html but IMHO it's less powerful than tern and I'm not sure that you cannot develop some plugins for JS fwks (not sure with that).

Can I close this issue?

[2015-01-05 22:30] angelozerr commented on #168
tern.java uses their own script paths because I don't want to have dependencies to JSDT.https://github.com/angelozerr/tern.java/tree/master/eclipse/tern.eclipse.ide.jsdt is the plugin which does the glue between JSDT and Tern IDE.

The goal of this issue is to translate correctly tern script path from JSDT Install Path infos.

So you could just use JSDT Install Path instead of useing Tern script p

[2015-01-06 02:26] paulvi commented on #210
Now Bug 432940 - Investigate using Tern to provide inferred content assist
is clearer

[2015-01-06 02:26] #210 closed

[2015-01-06 10:00] piotrtomiak commented on #171
@angelozerr In the first place: happy New Year :) I was planning to start working on the contribution this week, however we still have some stuff to fix before the GA release going out on 15-th of Jan. It looks like I will start work on 19-th of Jan. Sorry for such a delay!

I think so, I stumbled upon this plugin some time ago, but there was no time to put it into the release ;) I hope to include

[2015-01-06 10:46] angelozerr commented on #171
Happy New Year!

No pb, it's a very cool news for tern.java. I'm very exciting to see this feature inside tern.java!

Cool!

I think too you could be interested by https://github.com/angelozerr/eclipse-wtp-xml-search

Liferay IDE uses now this project for their XML descriptor (portlet, etc). I could tell you more info, if you need.

[2015-01-13 12:26] angelozerr opened #221 "Support for ECMAScript 6"
Support for EcmaScript 6 (only for completion)

[2015-01-13 13:35] jabby commented on #221
:+1: for this feature
You can read what is new in this git repository https://github.com/lukehoban/es6features
or of course here https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference

[2015-01-13 13:40] angelozerr commented on #221
@jabby first step is to integrates https://github.com/marijnh/tern/pull/475 if tern accept it.

After I think acorn (the JS parser) should be customized to support ES6.

[2015-01-13 15:01] jabby commented on #221
@angelozerr Nice PR. I am impress.

[2015-01-13 17:07] angelozerr opened #222 "Customize filtering + insertion of completion"
Customize filtering + insertion of completion with Content Assist preferences pages.

[2015-01-16 02:10] angelozerr opened #223 "Guess parameters of function when completion is applied"
Like Java Editor, provides guess parameters when completion is applied :

![guessparameters](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_GuessTypesCompletionApplied.png)

To support that, integrates tern plugin https://github.com/angelozerr/tern-guess-types

See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.8.0#guess-types

[2015-01-16 09:09] angelozerr opened #224 "Add String completion tern plugin"
Add String completion tern plugin http://ternjs.net/doc/manual.html#plugin_complete_strings

[2015-01-16 09:35] paulvi commented on #221
:+1:

[2015-01-16 10:51] paulvi commented on #181
OK, it is about case mention in [comment above](https://github.com/angelozerr/tern.java/issues/181#issuecomment-64881626)
and it only appears when

[2015-01-16 13:03] angelozerr commented on #181
Ok I have retry this issue and I have the same problem than you, but it's not an issue with tern.java.

To fix the problem, I have configured my project as JavaScript project (Configure -> Convert to JavaSCript project), and now it works like a charm.

@jkrause @paulvi could you check that and close this issue if it work's. Thanks.

[2015-01-16 16:29] #224 closed

[2015-01-16 16:54] angelozerr commented on #223
See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.8.0#guess-types

[2015-01-17 11:02] angelozerr opened #225 "Integrate tern AlloyUI 1.5.x"
Integrate https://github.com/angelozerr/tern-aui1.5.x

[2015-01-17 13:18] angelozerr opened #226 "Sort plugins inside .tern-project according dependencies"
This sort is important when a tern plugin B which depends an other plugin A must be loaded after A. For instance aui1.5.x which depends on yui3 must be loaded after the yui3 tern plugin.

[2015-01-17 13:23] #226 closed

[2015-01-17 13:23] #225 closed

[2015-01-19 10:23] angelozerr commented on #223
@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak do you think this tern plugin must be activated by default (like today ECMAScript 5)?

[2015-01-19 13:30] angelozerr commented on #141
@paulvi have you the problem with last version of tern.java? I have improved a lot the obsevation of .tern-project

[2015-01-19 16:52] angelozerr opened #227 "Using TypeScript community stubs (TypeScript definition files)"
Like WebStorm http://blog.jetbrains.com/webstorm/2014/07/how-webstorm-works-completion-for-javascript-libraries/ use https://github.com/borisyankov/DefinitelyTyped

The idea is to generate typedscript file to JSON Type Definition by using tern tool  https://github.com/marijnh/tern/blob/master/bin/from_ts

[2015-01-20 02:27] gamerson opened #228 "Add ability to configure default tern project modules with Extension Point"
Right now the only way to configure modules is using defaultModules, but I noticed that the schema has a way to provide a ITernProjectConfigurator but it is never read.

Could we add support for that (reading the class attribute for the module) so that we can configure the version based on the user's project config?

[2015-01-20 02:29] gamerson commented on #223
+1

On Mon, Jan 19, 2015 at 6:23 PM, Angelo <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2015-01-20 07:33] angelozerr commented on #228
@gamerson I will implement this feature ASAP.

[2015-01-20 09:18] jabby commented on #223
:+1:

[2015-01-20 19:09] scharf opened #229 "An internal error occurred during: "Converting 'MyProject' to tern project..."."
I am using 0.8.0-SNAPSHOT

[code]

[2015-01-21 08:09] angelozerr commented on #229
tern.java is based on minimal-json_0.9.1.jar. See http://oss.opensagres.fr/tern.repository/0.8.0-SNAPSHOT/plugins/

Could you check please that you have several version of minimal-json in your plugins Eclipse folder.  Thanks.

[2015-01-21 10:01] angelozerr commented on #229
@scharf now tern.java use Require-Bundle for minimal-json, could you please retry to install it to check if it resolves your problem. Thanks!

[2015-01-21 10:11] piotrtomiak commented on #223
+1

[2015-01-21 12:51] piotrtomiak commented on #229
@angelozerr Require-Bundle in a way you did it, will still be prone to errors, passing just a version leaves it open for newer versions, which can lead to troubles, if package provider does not stick to rules and e.g. version 0.9.3 is missing a class or method. If you really want to stick to a particular version of a package, you can do it as follows:

`Import-Package: com.eclipsesource.json;versi

[2015-01-21 13:56] scharf commented on #229
Updating the installation solved the problem. Thank you! Form my perspective the problem is solved and the issue can be closed.

[2015-01-21 14:43] piotrtomiak opened #230 "[Dev] Include java auto-formatter preferences in Tern plugin projects"
In my environment I do not have auto-formatting of java files enabled, as it doesn't allow me to format the code the way I like it ;) However, it seems that @angelozerr has auto-formatter turned on and in some commits there are a lot of formatting changes happening on particular files (e.g. commit 2165bfddd007f3142f2c2b18de3b1f491bb007b4, file ITernFileSynchronizer), which makes it harder to under

[2015-01-21 14:50] angelozerr commented on #230
@piotrtomiak  I'm using default Java Formatter `Eclipse [build-in]`.

[2015-01-21 14:55] angelozerr commented on #230
That's very cool!

[2015-01-22 08:14] maxandersen commented on #223
this looks like something that is relevant for any javascript code or library so +1

[2015-01-22 08:14] maxandersen commented on #223
maybe it should just be part of ecmascript plugin instead of separate ?

[2015-01-22 08:44] angelozerr commented on #223
Ok glad this plugin seems to please you :) I will activate it by default but it will work only when tern project is creating the first time.

I cannot do that, because ecma5.json is a part of tern.

[2015-01-22 11:10] angelozerr commented on #230
@piotrtomiak I would like to commit some improvment for https://github.com/angelozerr/tern.java/issues/223

I have done several refactoring, can I do or do you prefer I'm waiting for your PR?

[2015-01-22 11:11] angelozerr commented on #229
Thanks @piotrtomiak for your suggestion. I have done that.

@scharf could you retry to install tern.java to check if it's OK for you. Thanks

[2015-01-22 11:36] piotrtomiak commented on #230
Sure, go on, it will take me some time to finish, and I will adjust to your changes.

Ok, anywyas, it would be cool if you set up projects for auto-formatting exactly the way you want them to be :)

[2015-01-22 13:38] scharf commented on #229
I cannot really tell -- I tried to restore the situation before I did my last update, but then I did not get the error anymore. Yes, the update works but I am not sure if it fixes the problem, because I cannot get it to not work. Is there something in the workspace that can make it work even with the version that had problems two days ago?

[2015-01-22 13:42] angelozerr commented on #229
Ok, I think it's OK because import package is used (liek before) but with max/min version.

It should work. I close this issue. Thanks @scharf for your test.

[2015-01-22 13:42] #229 closed

[2015-01-23 17:20] #223 closed

[2015-01-23 17:22] #221 closed

[2015-01-23 17:47] vrubezhny commented on #223
It might be too late (but github is not fastest in notifications), but I like this feature! So: +1!

[2015-01-24 01:16] angelozerr commented on #223
No problem @vrubezhny This feature is activated by default (it works only when project is converted to a tern project or with ternNatureAdapter extension point).

[2015-01-24 10:37] #127 closed

[2015-01-24 10:45] angelozerr commented on #127
![Default modules](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_DefaultModulesPreferences.png)

See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.8.0#default-modules

[2015-01-24 14:52] angelozerr commented on #221
![Promise completion](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_ECMAScript6PromiseCompletion.png)

See https://github.com/angelozerr/tern.java/wiki/Tern-&-ECMAScript-support#ecmascript-6

[2015-01-24 16:33] angelozerr opened #231 "Release 0.8.0 in January"
@piotrtomiak do you think it's possible to create your PR next week? I would like to create a release for this month. If it's not possible for you, your feature will be integrated for 0.9.0.

@pascalleclercq is it possible for you to create the 0.8.0 release next week (once we will have answer of @piotrtomiak)?

Many thanks for your help!

[2015-01-24 16:42] angelozerr commented on #211
I would like to move (if it's possible) https://github.com/angelozerr/tern.java/blob/master/core/tern.core/node_modules to a new project call tern.repository. This project will be the default repository, but you can customize your own tern repository.

@paulvi are you OK with that?

[2015-01-24 16:43] angelozerr commented on #186
@lilu1990 have you again the problem with new plugin of YUI/AUI?

[2015-01-25 09:18] angelozerr commented on #228
See https://github.com/angelozerr/tern.java/wiki/Tern-IDE-Extension#idefaultternmodulesprovider

[2015-01-25 09:26] angelozerr commented on #228
@gamerson See my PR https://github.com/liferay/liferay-ide/pull/53 for Liferay IDE. Tell me if it works for you and if it works please close this issue. Thanks!

[2015-01-26 07:39] lilu1990 commented on #186
![aui only](https://cloud.githubusercontent.com/assets/4350803/5896494/68ae1374-a571-11e4-9d15-4a95143daff4.PNG)
![aui2 0 yui3 0](https://cloud.githubusercontent.com/assets/4350803/5896499/6ea4ef50-a571-11e4-8197-fc6d5af05f95.PNG)
![aui 1 5x yui3 0](https://cloud.githubusercontent.com/assets/4350803/5896503/743a1648-a571-11e4-964d-a2d34f374ded.PNG)

@angelozerr  I still have some problem with the

[2015-01-26 08:03] angelozerr commented on #186
@lilu1990 it's a new problem, could you create an issue with this problem at https://github.com/angelozerr/tern-aui2.0.x/issues thanks!

[2015-01-26 09:16] piotrtomiak commented on #231
@angelozerr yes, I am almost finished with it. However, it will require a bit of testing on your side as well, as I am not that familiar with all AngularJS features.

[2015-01-26 10:00] angelozerr commented on #231
@piotrtomiak thanks for your answer. Ok I will integrate your cool feature in 0.9.0.

@pascalleclercq go go go for the release!

[2015-01-27 05:13] paulvi commented on #211
sure.

[2015-01-28 05:09] #228 closed

[2015-01-28 05:09] angelozerr commented on #231
Thanks @pascalleclercq !

[2015-01-28 05:09] #231 closed

[2015-01-28 08:17] paulvi commented on #231
Just noticed 0.8.0 release.
Will update my links and announce later.

[2015-01-28 08:21] paulvi commented on #231
https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.8.0

[2015-01-28 08:42] angelozerr commented on #231
@paulvi pay attention, eclipse market place doesn't work. See https://github.com/angelozerr/tern.java/pull/215#issuecomment-71798437

I don't know how to fix that?

[2015-01-28 08:55] angelozerr commented on #231
for your info @paulvi "Completion String" is a tern modules, it is on the side bar inside tern modules.

[2015-01-28 09:17] paulvi commented on #231
yes, I added it first on side bar, than had to remove.

[2015-01-28 09:33] gamerson commented on #228
This is working good! thanks for the PR

On Wed, Jan 28, 2015 at 1:09 PM, Angelo <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2015-01-28 09:48] angelozerr commented on #228
That's cool!

[2015-01-28 09:51] paulvi commented on #231
@angelozerr Should not Completion Guess be inside "Tern modules" not "Tern completion" ?

https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.8.0#completion-guess

[2015-01-28 09:54] angelozerr commented on #231
Because "Completion Guess"  is a tern plugin

[2015-01-30 14:32] extdevelopment opened #233 "Question: JSDoc DocBlock comments or Block Tags autocompleter"
I would like to ask it is possible to in Tern - Eclipse IDE set DocBlock  like
https://github.com/spadgos/sublime-jsdocs
![](https://camo.githubusercontent.com/415148aecc6dac2e5ebb12b7f7584f4a8744eca4/687474703a2f2f73706164676f732e6769746875622e696f2f7375626c696d652d6a73646f63732f696d616765732f66756e6374696f6e2d74656d706c6174652e676966)
or any autocompleter JSDoc Block Tags  solution?
thx

[2015-01-30 14:38] angelozerr commented on #233
It's an intersting feature, yes. To implement that we must study :

 * in Eclipse side, how to detect that comments must be generated (after /** + Enter comments must be generated)
 * in Tern side how to retrieve function parameters. To do that we must improve https://github.com/angelozerr/tern.java/wiki/Tern-&-Completion-Guess-support

[2015-01-30 14:40] angelozerr commented on #233
Note that JSDT does a little that. It generates :

[code]

[2015-01-30 15:04] angelozerr opened #234 "Validate JavaScript files with ESLint"
Validate JavaScript files with ESLint by using https://github.com/angelozerr/tern-eslint

[2015-01-30 16:28] extdevelopment commented on #233
Can i use mixed Tern and JSDT, mainly Tern and little bit JSDT only DocBlock generation at present somehow?
I failed to set this.
thx

[2015-01-30 16:31] angelozerr commented on #233
Yes, tern compeltion is an extension of JSDT compeltion.

To use JSDT DocBlock  generation, you must configure your project to JavaScript Project.

[2015-01-30 17:14] #211 closed

[2015-01-30 23:20] extdevelopment commented on #233
Thank you for the information.
`<nature>org.eclipse.wst.jsdt.core.jsNature</nature>` was in the project, and project rebuild helped. Now works.

`@deprecated` can autocompleter
`@description` can't autocompleter

Anonymous function declaration do not like, but prototype worked.

<pre>
/**
 *
 */
var Person = function(firstName, lastName) {
	  this.firstName = firstName;
	  this.lastName = lastName

[2015-01-31 17:29] angelozerr commented on #233
Please post your question to JSDT Project.

As JSDT supports this feature, I think I will not implement it. I close the issue.

[2015-01-31 17:29] #233 closed

[2015-01-31 17:30] angelozerr commented on #181
@jkrause @paulvi could you tell me if it's OK for you when you configure to JavaScript project?

[2015-01-31 17:31] #157 closed

[2015-01-31 17:34] angelozerr commented on #30
Same issues than https://github.com/angelozerr/tern.java/issues/211

Now tern plugins, defs are hosted inside https://github.com/angelozerr/tern.java/tree/master/core/ternjs

[2015-01-31 17:34] #30 closed

[2015-01-31 17:51] angelozerr opened #235 "Customize guess completion with preferences"
Today completion query uses guess and result of completion can be bizarre. See https://github.com/marijnh/tern/issues/488 and https://github.com/angelozerr/tern-aui2.0.x/issues/15

Gives the capability with preferences to disable guess.

[2015-02-02 16:18] Ghassan-Fadila opened #236 "Undefined JavaScript/Css file"
Hello,

When trying to load a file without specify the protocol the editor shows this error (in the title):

for example:

[code]

or

[code]

adding https or http solve this, but is should work without it,

Thanks a lot,
Ghassan

[2015-02-02 16:26] angelozerr commented on #236
Please create this issue at https://github.com/angelozerr/eclipse-wtp-webresources/issues

[2015-02-02 16:26] #236 closed

[2015-02-02 17:05] angelozerr opened #237 "Stop JS files post"
When you have a lot of JS files and you execute completion, it post JS files to tern server with asynch mode (that's very cool), but if you try to stop it (you can do that if you hava activated tern console), it continues to post JS files). It should be cool if we could stop the posting of JS files.

@piotrtomiak I know you have done something for that but it seems that it doesn't work with my sam

[2015-02-02 17:36] piotrtomiak commented on #237
Have you tried stopping the job in progress view ?

[2015-02-02 22:32] Ghassan-Fadila opened #238 "jquery code assist"
Hello,

when I trying to use jquery 'on' with data param:

$('selector').on('click', {key: 'val'}, function() {});

I got an error:
Invalid argument at 2: cannot convert from Object.prototype to Function.prototype

this does not happen when use 'one'

[2015-02-03 10:56] angelozerr opened #239 "Display "Completion proposals took to long to calculate. Try again in a few seconds..." on the top"
When timeout is doen for completion, a message Completion proposals took to long to calculate. Try again in a few seconds..." is displayed.

If the project have JSDT Nature, this messages is displayed after JSDT completion item (Document, etc). I think it's better to display this message on the top of the completion..

[2015-02-03 10:57] #239 closed

[2015-02-03 10:57] angelozerr commented on #239
@piotrtomiak hope you will like it.

[2015-02-03 11:04] piotrtomiak commented on #239
Sure, I do :)

[2015-02-03 12:27] angelozerr commented on #238
[code]

this messages comes from the tern-lint plugin. So I suppose you have checked lint tern module.

For lint probleme, please create issues at https://github.com/angelozerr/tern-lint/issues

[2015-02-03 12:27] #238 closed

[2015-02-03 12:30] angelozerr commented on #237
Yes I have tried. I will study more my case.

But it should be cool too if we can stop this job when tern server is disposed (when you ciick on stop button of the Console View when you have activated tern console).

[2015-02-03 12:34] angelozerr opened #240 "Infinite loop when "Synchronizing script resources" when errors occured"
@piotrtomiak I have a problem when tern serevr loading fails. "Synchronizing script resources" is redone everytime. The server start, it starts, stop, etc

To have this problem use last version of tern.java, select just Dojo Toolkit 1.6 (there is a bug that I must discover)  tern module and try to open completion.

 Dojo Toolkit 1.6 module fails :

[code]

and this erros appears everytime because

[2015-02-03 13:43] piotrtomiak commented on #240
I this could be related to enhancement to Issue #237 . It looks like the update job should be tied to the server. I have delays and I still wasn't able to go back to Tern and integrate it with MyEclipse :/ I will try to resolve both issues today.

[2015-02-03 17:23] angelozerr commented on #240
Thanks @piotrtomiak for your help.

I have started to introduce your cool feature at https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0#asynch-tern-completion

Don't hesitate to update it to improve it.

[2015-02-03 19:40] piotrtomiak commented on #240
I am almost done with the fix, but need to finish for today. Will make PR tomorrow morning.

[2015-02-04 08:23] angelozerr commented on #234
@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak I have integrated ESLint with a tern plugin. To use it, select eslint inside tern modules.

It's very basic, the ESLint cannot be configurated (it's hard coded) and I think there are some bugs. Please give me your feedback to improve it like add some UI preferences to customize ESLint (how do y

[2015-02-05 00:57] angelozerr commented on #240
@piotrtomiak  your PR https://github.com/angelozerr/tern.java/pull/241 fixes this issue. Thanks!

[2015-02-05 00:57] #240 closed

[2015-02-05 00:58] angelozerr commented on #237
@piotrtomiak  your PR https://github.com/angelozerr/tern.java/pull/241 fixes this issue. Thanks!

[2015-02-05 00:58] #237 closed

[2015-02-05 01:01] angelozerr opened #242 "Validate JavaScript files with JSHint"
Validate JavaScript files with JSHint by using https://github.com/angelozerr/tern-jshint

[2015-02-05 10:02] lxbzmy opened #243 "Connection to nodejs refused"
On Mac pro 10.10 tern cannot connect to nodejs.

Env:
- Mac Pro 10.10
- Node 0.10.35
- Tern 0.8.0

nodejs start correct,listen on port 52589
But tern report connection refused on http://localhost:52589(and there is no proxy config used).
This use curl verbose:
[code]

When I change hostname string from `localhost` to `127.0.0.1` in `server/nodejs/NodejsTernServer.java`.
This problem solved.

So,am

[2015-02-05 10:37] angelozerr commented on #243
In my case I use Windows and it works, but it seems that they are a problem with Mac -(

The officicial integration with emacs https://github.com/marijnh/tern/blob/master/emacs/tern.el#L562 uses too `127.0.0.1`

So perhaps we should change `locahost` to `127.0.0.1`?

@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak it's an important change, a

[2015-02-05 13:19] maxandersen commented on #243
+1 this could explain why I have had issues with our integration lately.

[2015-02-05 13:42] vrubezhny commented on #243
I don't have a Mac to test it, but I don't see a reason why not to use an IP address instead of 'localhost' synonym. While 127.0.0.1 points to local computer, any synonym can be configured to any address as well as it can be not configured at all. So, +1 for this change.

[2015-02-05 15:12] lxbzmy commented on #243
May this is nodejs issue.
Because, I test get http://localhost:80 which apache running ,It  works well,
while nodejs refused connection use "localhost" . when bind use '0.0.0.0' ,there is no problem.

[2015-02-05 15:18] angelozerr commented on #243
I don't know but the goal is that ternjs works after tern.java install. If the of change `locahost` to `127.0.0.1` works for any OS, I will change that.

@maxandersen and @vrubezhny are OK for this change. I'm waiting for answer of @gamerson @PaulVI @piotrtomiak which integrates too tern.java

[2015-02-05 15:22] piotrtomiak commented on #243
I think it is fine. I remember some troubles with Tomcat port detection on 8080 on Mac, but don't recall details. I think we were using localhost:8080 and it couldn't connect.

[2015-02-05 15:23] angelozerr commented on #243
You mean that you are OK to change `locahost` to `127.0.0.1` ?

[2015-02-05 15:31] gamerson commented on #243
+1

On Thu, Feb 5, 2015 at 11:23 PM, Angelo <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2015-02-05 15:37] piotrtomiak commented on #243
yes, exactly :)

[2015-02-05 17:02] #243 closed

[2015-02-05 17:03] angelozerr commented on #243
Thanks everybody for your answer! Now tern.java uses 127.0.0.1

[2015-02-06 02:36] paulvi commented on #234
well as there are 3 option for validation: JSDT, JSHint-Eclipse and tern-eslint,
could there be easy switching between for user?

[2015-02-06 04:21] angelozerr commented on #234
I'm writing a tern-jshint https://github.com/angelozerr/tern.java/issues/242 so tern.java will provide too validation with JSHint.

JSDT Validation belongs to JSDT project so I will not work on this topic. I'm afraid that it's a complex task, because JavaScript Parser ftom JSDT cannot parse ECMAScript5

[2015-02-06 04:35] angelozerr commented on #181
@jkrause @paulvi can I close this issue?

[2015-02-06 13:38] maxandersen commented on #234
we have disabled more and more of JSDT validation - would be much better if JSDT could be opened up to let other plugin contribute which validation occurs. @vrubezhny we talked about allowing alternative validation and parsers for Mars in JSDT - any progress ?

[2015-02-06 14:01] angelozerr commented on #234
For JSHint and ESLint and Lint (which provides semantic validation), it works with the tern file (ast or text). So in this case, allowing alternative validation and parsers could not help. No?

[2015-02-06 16:18] maxandersen commented on #234
if JSDT could just delegate to Tern then tern would be doing its thing.

I see JSDT as the thing in eclipse that configures the projects etc. but it should not dictate what parser etc. is used  (of course its faster/better if only one gets used but since the Java based jscript parser is not ecmascript 5 compatible we need to allow others to do a better job ;)

[2015-02-07 12:15] angelozerr opened #244 "Support for any linter (Validator)"
Today Lint, ESLint and JSHint are supported, but it exists other linter.

See https://github.com/angelozerr/tern.java/wiki/Tern-Linter

The goal of this issue is to provide the capability to add your own linter by developping a tern plugin (no need some Java code).

It's almost possible, but metadata must be improved and gives the capability to load from a tern plugin to use it.

[2015-02-07 12:17] angelozerr commented on #234
See https://github.com/angelozerr/tern.java/wiki/Tern-Linter-ESLint Now I must create a new plugin which will provide UI preferences to customize ESLInt

[2015-02-07 12:18] angelozerr commented on #242
See https://github.com/angelozerr/tern.java/wiki/Tern-Linter-JSHint Now I must create a new plugin which will provide UI preferences to customize JSHInt

[2015-02-07 12:22] angelozerr opened #245 "Provide Tern Hover Problem"
Tern Hover Problem : when there is an error text is highligted but hover doesn't show the error (it shows the doc of the hovered text).

[2015-02-07 12:24] angelozerr commented on #86
I close this issue since tern is able to provide custom completion.

[2015-02-07 12:24] #86 closed

[2015-02-07 12:24] angelozerr commented on #94
I close this issue since tern provide the capability to custome typeAt.

[2015-02-07 12:24] #94 closed

[2015-02-07 12:25] angelozerr commented on #92
I close this issue since tern is able to customize typeAt

[2015-02-07 12:25] #92 closed

[2015-02-08 04:25] angelozerr opened #246 "Validate JavaScript files with JSCS"
See https://github.com/angelozerr/tern-jscs

[2015-02-10 00:09] angelozerr commented on #246
See https://github.com/angelozerr/tern.java/wiki/Tern-Linter-JSCS

[2015-02-10 03:32] paulvi opened #247 "typo: to long; Calculating completion proposal took too long"
in https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0

there is typo

![](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_TernSynchFileCompletionToLongToCalculate.png)

should be "too long"

[2015-02-10 03:35] paulvi commented on #247
Also I think "Calculating completion proposal took too long." would be better English,

and similar to string shown in Progress View

[2015-02-10 03:45] paulvi opened #248 "Integration with JSDT"
in #234 @maxandersen said

Raise issue to collect JSDT related questions to @vrubezhny

[2015-02-10 03:46] paulvi commented on #234
Created #248

[2015-02-10 03:52] paulvi opened #249 "[minor] processing TODOs"
Currently JSDT helps with processing TODOs,

if there is no progress with  Integration with JSDT #248
then after validation #244 the next thing can be TODOs

Or will they stay to JSDT like JSDoc #158 #233?

[2015-02-10 03:56] paulvi commented on #181
not following

[2015-02-10 04:11] paulvi commented on #249
ref https://github.com/eclipsesource/jshint-eclipse/issues/68

[2015-02-10 07:34] angelozerr commented on #247
@piotrtomiak what do you think about that?

[2015-02-10 08:36] angelozerr commented on #181
@jkrause can I close this issue?

[2015-02-10 11:11] angelozerr commented on #242
@vrubezhny @dgolovin @gamerson @PaulVI @piotrtomiak pay attention if you are using id of properties/preferences page, I have changed it.

For instance https://github.com/angelozerr/tern.java/commit/88c022400c0795a448b4ffd079b28d0e06e8d4c0#diff-1cb7c6096f9a37ccb697d0c3eb024e10R148

[2015-02-11 10:26] piotrtomiak commented on #247
Agreed. Though I would make "proposal" plural, so the message is: "Calculating completion proposals took too long."

[2015-02-11 13:33] #247 closed

[2015-02-11 13:38] angelozerr commented on #247
Ok I have fixed the typo.

@piotrtomiak do you know if it's possible

 * to add the filename which is processing in the job message?
 * to add file number to process (ex : 2/1000 files processed)?

[2015-02-11 14:29] piotrtomiak commented on #247
It is sending 20 files per request, so it will be hard to display file names, however I think you could display number of files.

[2015-02-11 17:51] piotrtomiak commented on #240
@angelozerr did you manage to fix the issue with Dojo 1.6 ? Do you have an issue created for it?

[2015-02-11 19:19] angelozerr commented on #240
@piotrtomiak yes I have created an issue at https://github.com/marijnh/tern/issues/491

[2015-02-11 20:20] piotrtomiak commented on #240
thanks for the info. For now, I have reverted your commit on our branch for MyEclipse and both issues are gone :)

[2015-02-12 00:12] ar2112 opened #250 "Tern Eclipse ID, status of grunt support"
Hi Angelo,

been playing with the eclipse plugin for angular, and so far I like what I see...

My question is it looks like there is grunt support in the plugin, but I can't find much information on how to use this.  Do you have any additional documentation or the status of the grunt support in this plugin?

Thanks,

Tony

[2015-02-12 01:31] angelozerr commented on #250
@ar2112 it exists a tern plugin for Grunt to provide completion for grunt inside JavaScript Editor.

But to be honnest with you, it's just a POC.

Note that this tern plugin doesn't provide some other Grunt support like gives the capability to start some grunt task with Eclipse.

[2015-02-12 01:51] angelozerr commented on #240
I have revert ternjs too. You can synchronize with tern.java. You can start to play with Linter like JSHint, ESLint etc https://github.com/angelozerr/tern.java/wiki/Tern-Linter

I'm developping UI for JSHint (it's just the UI). Don't hesitate to give me some feedback. Thanks

[2015-02-12 12:13] piotrtomiak commented on #240
Cool. I don't think we will have time to integrate your liniting support now. We can't expect users to use the Tern Builder, since all validation is done through WST validation framework. I guess I will start working on integration in 2-3 weeks only. So, no feedback for now ;)

[2015-02-12 18:42] angelozerr commented on #240
I'm developping the lhe linting support, so there are a lot of thing to do again like customize linter with UI preferences (I'm working on this toopic) and improve tern script path to exclude JS files and support for instance https://github.com/jshint/jshint/blob/master/examples/.jshintignore

I hope in 2-3 weeks, I will provide a basic UI to customize JSHint.

[2015-02-12 23:41] angelozerr commented on #250
@ar2112 if you wish to have completion for Grunt inside JavaScript Editor, please tell me. I will create a project tern-grunt for that and you will abel to create issues.

If you wish to start task grunt with Eclipse (or other thing), JSDT is integrating https://github.com/sbegaudeau/webtools.jsdt

So please post your question on JSDT Project (Forum, Bugzilla, etc).

[2015-02-13 02:40] vrubezhny opened #251 "IllegalArgumentException occurs in RefreshTernProjectJob"
When opening a projects JSP/HSML page in editor while a project is being built, an error dialog appears and error message is written into the Error Log:

!ENTRY org.eclipse.core.jobs 4 2 2015-02-13 05:24:36.400
!MESSAGE An internal error occurred during: "Refresh tern project job".
!STACK 0
java.lang.IllegalArgumentException: Attempted to beginRule: R/, does not match outer scope rule: P/HelloCord

[2015-02-13 02:47] vrubezhny commented on #251
@angelozerr, if this fix is OK, could you merge it, if possible, into 0.7.x and 0.8.x streams too?

[2015-02-13 08:29] angelozerr commented on #251
I'm sorry I don't know how to do that -(. We have just a master branch and tags like
https://github.com/angelozerr/tern.java/blob/tern.java-0.7.0/eclipse/tern.eclipse.ide.core/src/tern/eclipse/ide/internal/core/resources/IDETernFileSynchronizer.java

But tags cannot be change?

[2015-02-13 08:34] piotrtomiak commented on #251
@angelozerr - you would have to create a branch from tag, than cherry-pick the commit and fire off a new build on that branch and than create a new tag like 0.8.1 ;)

[2015-02-13 08:50] angelozerr commented on #251
@piotrtomiak thanks for your info! I will do that when I will have time.

[2015-02-13 11:22] jabby commented on #242
@angelozerr When you said that you will create a basic UI to customize JSHint, did you mean that configuration will be stored in workspace preferences or in project preferences ?

I think that read .jshintrc file to customize jshint will be a great feature. In fact when I use tern.java, it's for projects which are build with yeoman. In generators there is commonly .jshintrc files which contain all

[2015-02-13 12:42] vrubezhny commented on #251
@angelozerr, yes, @piotrtomiak is correct - you have to make a branch based on the latest commit of 0.8.0 then pick up the required commit into it, increase the versions, set up the build environment (to use that branch instead of master) and that's it.

[2015-02-13 13:02] angelozerr commented on #251
Ok @vrubezhny thanks.

@pascalleclercq do you think you could have time to do that?

[2015-02-13 13:29] pascalleclercq commented on #251
Hi,

@angelozerr will do It ASAP which means before the end of next week (hopefully earlier..).

@vrubezhny do you expect a new release (0.7.1 and 0.8.1) of tern only or do you expect a corresponding release of angularjs-eclipse in the mean time ?

thx

[2015-02-13 13:39] vrubezhny commented on #251
@pascalleclercq yes, probably... I mean at least we should have been guaranteed that Angularjs-eclipse will be able to work with Tern.java's 0.7.1 and 0.8.1 builds.

[2015-02-13 13:44] angelozerr commented on #251
@pascalleclercq thanks for your help!

@vrubezhny we will do those 2 releases this time. But we wish to avoid doing that for next releases, because it takes a time (and as we develop tern.java in our spare time, we have not a lot of time). It should be cool if we will able to find another solution next time. Hope you will understand.

[2015-02-13 16:21] angelozerr commented on #242
@jabby my idea is to store JSHint configuration :

 * inside .tern-project
 * inside a given .jshintrc

Here a screenshot about my idea:

![jshintconfig](https://cloud.githubusercontent.com/assets/1932211/6190734/53377bde-b3a4-11e4-94ff-a4cac722aaa3.png)

I would like to provide a first version with this feature. After we could improve it like Jetbrains https://www.jetbrains.com/idea/help/jshint.h

[2015-02-13 18:23] alexeykazakov commented on #251
It would be great if we had 0.7.1 release with this fix. Then we could include it in JBoss Developer Studio 8.1.0 (JBoss Tools 4.2.3) which is going to be based on Eclipse Luna SR2.
Tern.java 0.8.1 is not so important for us because we probably will switch to Tern 0.9 eventually in the next major JBoss Developer Studio 9.0.0 release (JBoss Tools 4.3.0).
So, I hope this is an exception that we need

[2015-02-13 23:32] angelozerr commented on #240
You mean that TernBuilder is bad idea. It should be better to implement Tern linter with WST Validation. Is that? If you think that WS Validation is better than builder, could you just explain why? After that I will investigate how to replace TernBuilder with a WST Validation.

[2015-02-14 20:12] angelozerr opened #253 "Advanced JSON Editor"
Here a sample of `.tern-project` :

[code]
I would like to provide a JSON editor for the .tern-project file :

- Color text highlighting
- An Outline Tree view
- JSON validation
- Text formatting
- Text folding on JSON Objects and Arrays

But too :

 - completion for tern modules (inside libs and plugins json fields)
 - validation for tern modules (check that modules exists)

It exists several JSO

[2015-02-15 08:26] mickaelistria commented on #253
Adding @xcoulon to this discussion as he's made some experiment about some json editor for JBoss Tools.

[2015-02-15 14:11] angelozerr commented on #253
Thanks @mickaelistria

I suppose you mean https://github.com/xcoulon/jbosstools-jsoneditor project . It is based on XText. I'm not sure that WTP Project accept XText? I would like that WTP provide :

 * org.eclipse.wst.json.core
 * org.eclipse.wst.json.ui

with IJSONModel like like WTP CSS & XML projects, I will study if it's easy to do.

[2015-02-15 14:41] jabby commented on #242
@angelozerr It's a good idea to let choice at user. I will try this feature during the next week.

[2015-02-15 14:42] angelozerr commented on #242
It's just an ideao of UI. It's not implemented.

[2015-02-15 14:46] jabby commented on #242
Ok. So the UI in your previous comment is good for me. Tell me when the UI will be available.

[2015-02-15 23:21] pascalleclercq commented on #251
Hi all,

It appears that apply  the patch :
https://github.com/angelozerr/tern.java/commit/baa2a00fa9ee22b9fcb192d883ea568400628207

Is not trivial on the branch :
https://github.com/angelozerr/tern.java/blob/tern.java-0.7.x-branch/eclipse/tern.eclipse.ide.core/src/tern/eclipse/ide/internal/core/resources/IDETernProjectSynchronizer.java
(code structure have changed).

What should we do ?

[2015-02-16 08:17] piotrtomiak commented on #240
Well, I am not saying it's bad from technical point of view. It's kind of the same. But we want our users to have smooth migration from previous versions of MyEclipse and adding a new builder to the project is not helping ;) Additionally, WTP Validators have a nice pref page to disable and configure validators to which our users are accustomed and we have custom validation exclusion mechanism base

[2015-02-16 08:41] xcoulon commented on #253
@angelozerr

I'm not familiar with the IDOMModel and ICSSModel you mentionned above. What are the benefits of such models ?
I'm actually not sure whether we could submit a JSON editor based on XText in WTP, but having one flexible enough to allow for custom content assist providers and hyperlink navigations would be a real plus, for sure!

[2015-02-16 10:24] maxandersen commented on #253
I completely agree it would be great to have a json editor that is extensible like this.

[2015-02-16 10:55] paulvi commented on #253
There are 2 Editors without dependencies:

- JSON Editor ~v0.9
- JSON Tools ~v1.1 (is actually continuation of first, more features, but less stable)

They are already within @Nodeclipse `http://www.nodeclipse.org/updates/` "Enide Tools Collection" group

see
- http://www.nodeclipse.org/history
- http://marketplace.eclipse.org/content/json-editor-plugin
- https://bitbucket.org/denmiroch/jsontools/

[2015-02-16 14:07] angelozerr commented on #240
Ok! I will try to migrate tern builder to WTP Validator.

[2015-02-16 14:18] angelozerr commented on #253
I don't know very well XText but if I have understood you have an editor wich maintains an EMF instance (in your case aen EMF JSONObject model), When user changes the code in the editor, the EMF insance is updated. Is that? ICSSModel, IDOMModel works like this. So if you change code in the editor, it updated the ICSSModel, IDOMModel. IDOMModel  manages a IDOMDocument which is the DOM Document. So

[2015-02-16 14:26] angelozerr commented on #251
@pascalleclercq sorry for that. I have updated at hand the change for 0.7.0. See https://github.com/angelozerr/tern.java/blob/tern.java-0.7.x-branch/eclipse/tern.eclipse.ide.core/src/tern/eclipse/ide/internal/core/resources/IDETernFileSynchronizer.java#L106

[2015-02-16 14:32] xcoulon commented on #253
@angelozerr why JFlex grammar and not something like Antlr ? There's already a grammar for JSON with Antlr v4: https://github.com/antlr/grammars-v4/blob/master/json/JSON.g4
At sone point, I was thinking about building a prototype based on that grammar, but I did not have time to further dig into it. Do you think it could be a good solution ?

[2015-02-16 14:55] angelozerr commented on #253
because all XML, CSS, DTD parsers are based on JFlex. The very hard thing is that it must be a tolerant parser.

You can find the XML jflex at https://eclipse.googlesource.com/sourceediting/webtools.sourceediting/+/07297d3f285530630c6b6712f1c0306911b700c8/bundles/org.eclipse.wst.sse.core/DevTimeSupport/SedModel/HTMLTokenizer/devel/XMLTokenizer.jflex

I have created teh WTP JSON project at https://

[2015-02-16 16:52] piotrtomiak commented on #240
Cool!

[2015-02-16 17:37] piotrtomiak commented on #253
@angelozerr ,

We have spent some time on fixing http://marketplace.eclipse.org/content/json-editor-plugin to provide all required support, that is among others, scientific notation, correct validation, outline fixes etc. Validation works only on save, and only in projects with WTP validation builder. Please check it in MyEclipse. If you are interested in getting the source code we can provide it.

[2015-02-16 19:30] maxandersen commented on #253
@piotrtomiak  if you want to contribute it to WTP we are all for this. @vrubezhny  is a committer on JSDT where this would fit very well so we can make this happen if you are interested.

[2015-02-17 22:32] pascalleclercq commented on #251
@vrubezhny Hi,
can you please test  :
http://oss.opensagres.fr/tern.repository/0.7.1/
http://oss.opensagres.fr/tern.repository/0.8.1/
http://oss.opensagres.fr/angularjs-eclipse/0.7.1-SNAPSHOT/
http://oss.opensagres.fr/angularjs-eclipse/0.8.1-SNAPSHOT/

tern.java releases are already done and angularjs-eclipse are about to be done.

Should be fine now and I'll finish the release ASAP.

[2015-02-18 08:52] angelozerr commented on #251
Thanks @pascalleclercq for your work! @vrubezhny @alexeykazakov tell us if it's OK for you. Thanks.

[2015-02-18 09:03] angelozerr commented on #253
I though use the JSON model https://json-processing-spec.java.net/nonav/releases/1.0/fcs/javadocs/index.html

I would like to do the same thing than WTP for CSS and DOM (usse JFlex parser).

@xcoulon are you interested to help me for https://github.com/angelozerr/eclipse-wtp-json/blob/master/org.eclipse.wst.json.core/Resource/parserTools/highlighting/JSONTokenizer.jflex ?

[2015-02-19 14:53] angelozerr commented on #251
@pascalleclercq I'm a little lost.

It seens that we need to create a new release because @vrubezhny have done a PR https://github.com/angelozerr/tern.java/pull/254

[2015-02-21 11:15] angelozerr commented on #253
@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak, @xcoulon @kaloyan-raev I have started the JSON Editor based on WTP and I can highlight JSON content. This highlight is based on JFlex lexer (like WTP CSS and DOM). The editor is based on WTP org.eclipse.wst.sse.ui.StructuredTextEditor. Today only highlight is avaiable. My goal is to provide ex

[2015-02-21 11:15] #253 closed

[2015-02-21 11:28] mickaelistria commented on #253
Hey @angelozerr , would you be interested in contributing this editor to WTP. Since it uses the same dependencies, it would be pretty straightforward to include it.

[2015-02-21 12:39] angelozerr commented on #253
@mickaelistria it's exaclty my wish. I had a comment about that at https://github.com/angelozerr/eclipse-wtp-json

[2015-02-21 12:47] mickaelistria commented on #253
@angelozerr So maybe you should try to have it in WTP immediatly, before everyone gets used to your GitHub repo and migration becomes costly.

[2015-02-21 12:54] angelozerr commented on #253
To be honnest with you, I don't prefer doing that. I would like to have users feedback, manage my wiki as I wish, create release every time, like I do with tern.java.

The packag ename follows the sam ename than css, xml : org.eclipse.wst.json.*

[2015-02-21 13:27] mickaelistria commented on #253
You'd get more user feedback by including it in WTP directly, and trying to get in into Mars release train, than by having it on a separate project. If it's on GitHub, it appears as yet-another-JSON-editor. If it's in WTP, it becomes the "official" JSON editor of Eclipse IDE.
You are free to manage wiki pages as you want on wiki.eclipse.org.
Also, while your component is incubating, you are free t

[2015-02-21 16:52] fbricon commented on #253
Angelo, 

I just have a couple of boring remarks :
- you just can't use the org.eclipse namespace, not until you move the project to the Eclipse Foundation
- it's very unlikely you'll be able to hop onto the Mars release train, we're very late in the process already. But it's fine, it's not the end of the world. You'll need a few stable releases before the project can be considered for inclusion i

[2015-02-21 17:48] angelozerr commented on #253
@mickaelistria for the moment it's just a POC. I must find time to improve it. So I don't prefer setting this project in WTP Incubation. More I find github tooling (like issues, wiki etc) more user friendly than Eclipse wiki, bugzilla.

My idea is to contribute to WTP once JSON Editor will be stable. My idea is to use this JSON Editor inside tern.java too to have an editor for .jshintrc, .eslintrc

[2015-02-21 23:33] mickaelistria commented on #253
IMHO, it's a chicken-egg problem: your projects will get more user
reports and external contributions, and as a consequence more stability,
by sharing them under the Eclipse community process.

[2015-02-23 13:02] maxandersen commented on #253
is fine using org.eclipse if intent is to contribute upstream, but shouldn't be including them in final/public releases. For that you really should step up on wtp-dev and ask for having incubator status or something of that sort. The longer we wait for that the harder everything is going to be.

[2015-02-23 13:08] kaloyan-raev commented on #253
@angelozerr Developing this (and any other) plug-in under the Eclipse Foundation will indeed attract more contributions. Some companies, especially big corporations, have complex internal processes for allowing their employees contributing to open source projects. Such process goes much simpler if the project is under Eclipse Foundation compared to those "in the wild". This was the case in my prev

[2015-02-23 13:10] kaloyan-raev commented on #253
@angelozerr and BTW, the same is valid for the adoption. Those big corporation would be more willing to include an Eclipse.org project in their product than one from the wild. It's another big fat process for adoption of open source projects.

[2015-02-23 13:19] angelozerr commented on #253
Ok it seems that everybody wish to host WTP JSON in WTP repository incubation.

My fear is that I can create a release when I wish. I don't know how to create release with maven, etc It's @pascalleclercq who does that. This topic interest me, but I have no time and I would like really provide a JSON Editor based on WTP.

For the moment, it's just a POC, I don't know if I will able to implement my

[2015-03-05 03:38] paulvi opened #255 "Release 0.9"
there was bug #251

plus there are new good features

https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0

[2015-03-05 03:41] paulvi commented on #255
BTW take a look at Mockito continuous delivery http://site.mockito.org/

- Continuously delivering new version for every git push that passes the build

that happens automatically

[2015-03-05 03:42] paulvi commented on #250
I bet we won't hear again from @ar2112

[2015-03-05 03:44] paulvi commented on #251
Please keep things simple.

Just one `master` branch and incremental [versioning][http://semver.org/] is enough.

This project can be agile to release every few weeks, so there should be no need for x.x.PATCH  releases as new feature arrive and it can be just next x.MINOR.x

For end-users it should be as:

- old features work the best in the latest release
- some newer features may have bugs

[2015-03-05 03:49] paulvi opened #256 "Is there nice tool to update year from 2014 to 2015?"
Is there nice tool (better than search/replace) to update year from 2014 to 2015?

ref #255

[2015-03-05 08:04] angelozerr commented on #255
I don't know when 0.9.0 will be released. I would like to provide for thsi release :

 * JSON Editor: https://github.com/angelozerr/tern.java/issues/253
 * Tern Linter : https://github.com/angelozerr/tern.java/issues/244

Is it not done for tern.java? It creates SNAPSHOT version

[2015-03-05 08:37] paulvi opened #258 "3 Features Sets"
Currently tern.java update site is more arranged.

![1](https://cloud.githubusercontent.com/assets/1614482/6501607/8428a248-c355-11e4-9a63-9a0fe9c4935b.png)

But some new user still may be confsed what they need to install so there is idea about Feature Set:

One Feature Set aims at specific user type

- End User
- Tern JavaScript contributor
- Tern.java contributor

So there are

![3](https://clo

[2015-03-05 09:00] paulvi commented on #258
After installing in Installation Details Dialog it will look like

![4](https://cloud.githubusercontent.com/assets/1614482/6501910/1ceeec64-c359-11e4-81d5-c04de712d956.PNG)

[2015-03-05 09:12] paulvi commented on #255
tern.java is good

I just showed example when when every change is treated as production ready and there is no SNAPSHOT and release version differences.

So if there was a bug like #251 we could release 0.9.0 just because there were new features as well.

[2015-03-05 09:15] paulvi commented on #255
Do you mean https://github.com/angelozerr/eclipse-wtp-json released https://github.com/angelozerr/eclipse-wtp-json/issues/2

or embed any of alternatives?

This also may be long and heavy.

[2015-03-05 09:19] paulvi commented on #208
close as old

[2015-03-05 09:19] #208 closed

[2015-03-05 09:20] paulvi commented on #201
Would be nice to get offline zip option with 0.9 release #255

[2015-03-05 09:25] angelozerr commented on #255
Yes. For that I must finish :

 * Validator
 * Format
 * Fix bug with JSON model synch and editor

I would like to provide this JSON Editor because linter uses JSON.

Here for instance a screenshot of .jshintrc config for JSHint :

![JSHInt](https://github.com/angelozerr/eclipse-wtp-json/wiki/images/JSONEditorSyntaxColoringComment.png)

Today linter starts working, I must finish :

 * Transform Te

[2015-03-05 09:27] angelozerr commented on #201
@pascalleclercq is very busy and me I have no time to see how to do that with github.

[2015-03-05 10:15] paulvi commented on #201
With maven/tycho build there is `tern.repository-0.9.0-SNAPSHOT.zip` inside `tern.repository/target`

So just publish it, for example attach to new release inside https://github.com/angelozerr/tern.java/releases

[2015-03-05 10:17] paulvi commented on #255
ok, nice

[2015-03-05 10:49] paulvi commented on #258
Similar to MyEclipse
![5](https://cloud.githubusercontent.com/assets/1614482/6503473/5d95730a-c368-11e4-9c74-af1a46d1671f.PNG)

[2015-03-05 10:53] angelozerr commented on #258
@paulvi  I will see your PR when I will find time.

[2015-03-07 16:36] angelozerr commented on #251
@pascalleclercq could you read comments of @paulvi Thanks!

@vrubezhny can I close this issue?

[2015-03-07 16:42] angelozerr opened #260 "Tern Validator"
Today linters (validator for tern Lint, JSHInt, ESLInt, etc) https://github.com/angelozerr/tern.java/wiki/Tern-Linter are executed with :

 * with a custom tracker to  validate as user typing : https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.ui/src/tern/eclipse/ide/internal/ui/validation/JavaEditorTracker.java
 * with a Builder : https://github.com/angelozerr/tern.java

[2015-03-08 15:28] angelozerr commented on #260
@piotrtomiak I tell me if it's a good idea to transform TernBuilder to WTP Validator:

 * JSDT provide a JavaBuilder and not a WTP Validator.
 * Tern Validator has a complex files scope (IResourceProxyVisitor). I have not found how to use WTP Validator with a complex files scope? The HTML, XML WTP Validator doesn't manage custom files scope (custom IResourceProxyVisitor).

@piotrtomiak I'm not sur

[2015-03-09 09:37] piotrtomiak commented on #260
@angelozerr

Probably so that you can use JSDT without bringing any dependencies to the rest of WTP, or for other reasons. JSDT is a fork of JDT support, so maybe they didn't bother to unify with WTP validation framework. Anyway, it makes it harder for the users, so in MyEclipse we tend to put all the stuff into WTP validation framework, as we include that part of WTP anyway.

I am a bit lost. In

[2015-03-09 11:05] angelozerr commented on #260
Ok it's a good explanation.

Ok sorry for my bad explanation. IResourceProxyVisitor is used for folder script path https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.core/src/tern/eclipse/ide/internal/core/scriptpath/FolderScriptPath.java#L106 When you iterate from tern script path it excecutes custom IResourceProxyVisitor.

My question is which files are iterate by WTP V

[2015-03-09 11:21] piotrtomiak commented on #260
AFAIK all the files in the project are iterated by V2 validator, but only those which are accepted by your validator are passed. So, if you make project -> clean all the eligible files for your validator will be validated. However, if you have incremental builds, only those which have been changed between builds. V1 validators are pretty slow, because you will have to scan resource tree yourself A

[2015-03-09 17:15] angelozerr commented on #260
@piotrtomiak I have initialized WTP (V2) Tern Validator. See https://github.com/angelozerr/tern.java/commit/0cca73865e9953ed1090f262da123e09941f8bc8

Today it doesn't validate JS file, it displays in the console (Sys.err) trace in order to I understand how to the ValidationBuilder works.

I have added ValidationBuilder in my test project and I'm in "Build Automaticly" mode. Here the behaviour I un

[2015-03-10 08:27] angelozerr commented on #260
@vrubezhny can you help me too please, thanks!

[2015-03-10 09:07] piotrtomiak commented on #260
@angelozerr

And none validation should be done. All markers are persisted between sessions, so if the file is unchanged there is no reason to validate files again. This is very good as on large projects your IDE is very quickly ready to use. Imagine JDT recompiling all the files in your project on every start.

Why would you need a full build anyway?

That is a problem : ( Maybe there would be so

[2015-03-10 09:39] angelozerr commented on #260
Ok thanks for your explanation, I agree with you.

I'm afraid that it's not possible. I think a solution is to create a tracker like https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.ui/src/tern/eclipse/ide/internal/ui/validation/JavaEditorTracker.java and create an instance of org.eclipse.wst.sse.ui.internal.reconcile.DocumentRegionProcessor here https://github.com/ange

[2015-03-10 09:52] piotrtomiak commented on #260
Sounds like a very good idea. I had something like that in mind.

[2015-03-10 12:38] angelozerr commented on #260
Cool:) Ok it was easy to implement this idea. Now when I can call WTP Source Validator https://github.com/angelozerr/tern.java/commit/e63b7715e5efb3fd0c3353414f7c9aa7df5abaaf#diff-b6a3f0e0d8204710b1ed68e01828dee9R20 as soon as I type JS code in the JSDT Editor.

It works too for HTML, JSP, etc. Next step is to implement those validator (I think it will easy).

After that I will work on an hard tas

[2015-03-10 13:14] piotrtomiak commented on #260
Nice :) I think it could be as simple as asking each TernScriptPath whether it has the resource. I would say that support for exclusions/inclusions is a separate task, not connected to validator, which can be done once we have validators working nicely (to not complicate this task). Each TernScriptPath object could internally check if the file matches any patterns. We depend on JSDT methods for th

[2015-03-11 17:21] angelozerr commented on #174
I close this issue because TernBuilder will disappear for WTP Tern Validator. See https://github.com/angelozerr/tern.java/issues/260

[2015-03-11 17:21] #174 closed

[2015-03-11 17:22] #245 closed

[2015-03-11 17:23] angelozerr commented on #5
Done with async tern completion https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0#async-tern-completion

[2015-03-11 17:23] #5 closed

[2015-03-11 17:24] angelozerr commented on #251
I think this issue is done, I close it.

[2015-03-11 17:24] #251 closed

[2015-03-11 18:38] vrubezhny commented on #251
@angelozerr, yes. we cannot reproduce the issue anymore. Thank you!

[2015-03-12 07:12] paulvi commented on #5
Is it possible just to add more options into list when they arrive?

or make first line selection as "Retry" command

[2015-03-12 08:24] angelozerr commented on #5
Asyn tern completion is done every time. When tern server starts quicly (not a lot of JS files), the completion shows the result directly otherwise it shows in the completion that tern server is working.

I'm not sure that it was your question?

[2015-03-12 08:25] angelozerr commented on #260
@piotrtomiak I have commited my work with WTP Tern Validator and it provides the 2 features :

 * as you type validation
 * global validation (Manual/Builder Validation)

 To activate Tern Validator, you must select one or several Tern Linter inside Project Properties Tern -> Modules (Lint, JSHint, ESLint, JSCS).

 There are 2 things which must be done :

  * Line message (Tern Problem) : when you

[2015-03-13 18:03] angelozerr commented on #242
@jabby you can install 0.9.0 SNAPSHOT of AngularJS Eclipse. It provides now the capability to validate  with a WTP Validator your JS with JSHint and you can use a `.jshintrc` to customize it :

![JSHint config file](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_JSHintPreferencesConfigFile.png)

Please read https://github.com/angelozerr/tern.java/wiki/Tern-Linter  and https://githu

[2015-03-13 18:08] piotrtomiak commented on #260
Can you point me to the appropriate code, which should be doing this stuff? I have some ideas and could quickly point you to them. On the other hand you could request Tern server to return you line/line-pos pair instead of characters offsets.

Thanks for info. Sounds perfect :)

Thank you, really great job! You are amazing :)

[2015-03-13 22:11] angelozerr commented on #260
https://github.com/angelozerr/tern.java/blob/master/eclipse/linters/tern.eclipse.ide.linter.core/src/tern/eclipse/ide/linter/internal/core/validation/TernReporterCollector.java#L54

But I think we should modify some code because this helper is used for core and ui validation. I would like to avoid having JFace Text inside core.

Cool!

Wow, that's really cool:) Hope they will have not a lot of bug

[2015-03-16 03:19] paulvi commented on #5
I just seen implementations where suggestion list content grows (user sees more options as they are added). So user does not need to press anything, just wait. When the full option list is shown above line "Processing..." disappears.

It is just other user experience.

[2015-03-16 04:55] gamerson opened #261 "error dialog popup when clicking on new JS/ESLint panels in tern module pref page"
I updated my dev environment to the latest tern.java and then created a maven war project and right clicked the project to display the tern modules.  Anytime I clicked on JSLine or ESLint it would see a error dialog popup

![workspace 1_106](https://cloud.githubusercontent.com/assets/595221/6660753/1c7dfec0-cbdb-11e4-90ba-e5f61a028c39.png)

with the following exception:

[code]

[2015-03-16 04:57] gamerson commented on #261
Test project http://ge.tt/84qD9LC2/v/0?c

[2015-03-16 07:23] paulvi commented on #242
wow, screenshots look terrific :+1:

[2015-03-16 07:25] paulvi commented on #242
Will `.tern-project` way to configure validation be tool independent?
That is the same config when using JSHint, ESLint? [naive?]

[2015-03-16 08:54] piotrtomiak commented on #5
Was it eclipse? If so, looking at how it was done would be very interesting and I guess we could apply similar solution to tern.java.

[2015-03-16 10:56] #261 closed

[2015-03-16 10:58] angelozerr commented on #261
@gamerson I have fixed this problem, but if you wish to configure JSHint, you must import too linters projects https://github.com/angelozerr/tern.java/tree/master/eclipse/linters

I will give you a new entry Tern -> Validation -> JSHint to configure JSHint like explained here https://github.com/angelozerr/tern.java/wiki/Tern-Linter-JSHint#jshint-preferences-

[2015-03-16 11:06] angelozerr commented on #242
Glad it pleases you:)

As tern linter can be used with other editor like Emacs, Vim, Sublime, linter config (or using a config file) are stored in this file. I have updated the wiki :

 * see https://github.com/angelozerr/tern.java/wiki/Tern-Linter-JSHint#config when none .jshintrc is used.
 * see https://github.com/angelozerr/tern.java/wiki/Tern-Linter-JSHint#configFile when you wish to use a .js

[2015-03-16 17:12] angelozerr opened #262 "Validate JavaScript files with Lint"

[2015-03-17 01:14] gamerson commented on #261
Confirmed its working with latest commit.

On Mon, Mar 16, 2015 at 6:58 PM, Angelo <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2015-03-17 23:43] angelozerr opened #263 "Implement tern server with J2V8"
Today it exists 2 tern server implementation :

 * with Rhino : cannot be used for IDE because too slow, and out of memory problem.
 * with node.js which works like a charm.

It should be interesting to implement tern server with [J2V8](https://github.com/eclipsesource/J2V8) to :

 * clean the tern server API
 * compare it with node.js

@maxandersen @irbull I think you will be interested with this

[2015-03-17 23:49] angelozerr commented on #171
Doen with https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0#async-tern-completion

[2015-03-17 23:49] #171 closed

[2015-03-17 23:52] angelozerr commented on #58
JSON Object literal is now supported. I close this issue.

[2015-03-17 23:52] #58 closed

[2015-03-18 08:13] paulvi commented on #5
That IntelliJ-based Android Studio giving suggestions inside Java class.
Java inside IntelliJ IDEA CE is open source, but I won't think it is worth looking at.

BTW with Android API it is quite common to have data in a List that is displayed in Adapter, then underlying data is updated and UI elements are notified to be updated. Isn't it so with Eclipse APIs?

[2015-03-19 14:34] piotrtomiak commented on #260
Sorry for not replying so long, we are close to release. I will finally look into this on Monday most likely

[2015-03-19 16:51] angelozerr commented on #260
No problem, I understand. I'm working on JSON Editor by waiting for feedback about this issue.

[2015-03-21 14:47] kwebble opened #264 "Eclipse error: Error while JSDT Tern completion."
I want to get code completion to work in Eclipse Luna on code for Node.js core modules (and also my own modules) like this:

    var fs = require('fs')
    fs.

When pressing Ctrl-Space with the cursor after the fs. this error appears in the error.log:
**Error while JSDT Tern completion.**

This happens with both my native Node.js installation and the embedded server.

Tern.js 0.8.0 was installed

[2015-03-21 15:10] angelozerr commented on #264
Have you several tern.java version installed?

[2015-03-21 17:41] kwebble commented on #264
I don't think so, there are no duplicates in the installed Eclipse Software and Plug-ins.

And names of all tern.* jars and folders in the eclipse `features` and `plugins` folders end with the same version, _0.8.0.201501272018.

[2015-03-21 17:52] angelozerr commented on #264
I don't understand how you can hav ethis problem. The apply method which causes problems implements http://help.eclipse.org/luna/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjface%2Ftext%2Fcontentassist%2FICompletionProposalExtension.html

Have you tried to install 0.9.0 SNAPSHOT?

[2015-03-21 17:58] kwebble commented on #264
No, but I'll try later.

[2015-03-21 21:05] kwebble commented on #264
The 0.9.0 SNAPSHOT generates a different stack trace:

    java.lang.VerifyError: (class: tern/eclipse/ide/ui/contentassist/JSTernCompletionProposal, method: apply signature: (Lorg/eclipse/jface/text/IDocument;CI)V) Incompatible object argument for function call
	at tern.eclipse.ide.jsdt.internal.ui.contentassist.JSDTTernCompletionCollector.createProposal(JSDTTernCompletionCollector.java:43)
	at t

[2015-03-22 11:39] angelozerr commented on #264
Your problem is very strange -(

I don't understand, which version of Eclipse (JEE?) do you use? Which OS do you use? Which JDK do you use?

[2015-03-22 15:30] kwebble commented on #264
Instead of spending time to find out why it didn't work I decided to try a fresh start. I updated to the current JDK, got the current Eclipse (JEE package) and started a new workspace.

After adding Tern 0.9.0-SNAPSHOT code completion works for my Node.js modules.

Now I need to complete the workspace setup with the rest of the configuration settings and Eclipse plugins I normally use. But I think

[2015-03-22 15:30] #264 closed

[2015-03-22 16:19] angelozerr commented on #264
Ok that's cool, hope tern.java will help you.

[2015-03-23 14:34] maxandersen commented on #168
I really think its hurting tern to insist not just using jsdt script path.

It seems that tern currently does not honor JSDT include path and tern requires '/' to be added to the script path.

[2015-03-23 14:35] maxandersen commented on #150
since jsdt already has include/exclude capability - would it not be great if tern.js just used that ?

[2015-03-23 14:54] angelozerr commented on #168
@maxandersen It will be very hard to use JSDT Install Path directly because tern script path belongs to the core (which have none dependencies to Eclipse).

More I would like to support scope for .jshint by using for instance .jshintignore file.

[2015-03-23 14:58] angelozerr commented on #150
As I said you, I cannot have dependencies to JSDT inside tern script path.

I know the compute of the scope is a very important part of improvment of tern.java, but I must find time to study this topic (I'l very busy with JSON Editor).

[2015-03-26 05:29] AlexanderOMara opened #265 "Support for .jshintignore in the JSHint Validation plugin?"
As far as I can tell, the JSHint validation plugin does not support the use of a `.jshintignore` file at the root of the project folder. Is there any way support for this functionality can be added? It should be a core feature of JSHint.

This would take care of [the one advantage](https://github.com/angelozerr/tern.java/wiki/Tern-Linter-JSHint#what-is-the-difference-with-jshint-eclipse) jshint-ec

[2015-03-26 07:53] angelozerr commented on #265
@AlexanderOMara yes I would like to support this feature, but after that I must study if it's possible to use directly JSDT Install Path.

[2015-03-26 09:29] piotrtomiak commented on #260
Finally got the release out and I had a time to look into this. Additionally to offset and length, you should add:

message.setAttribute("charStart", start.intValue());
message.setAttribute("charEnd", end.intValue());

In some contexts those attributes are used and not offset or length.

There is no generic way to get an IDocument from IFile, since IDocuments are related to opened editors. However

[2015-03-26 14:04] angelozerr commented on #5
Today it seems that "asynchronous ContentAssist" is not possible with Eclipse. I have created an issue at https://bugs.eclipse.org/bugs/show_bug.cgi?id=463210

[2015-03-26 20:08] AlexanderOMara commented on #265
I'm considering developing this functionality myself and submitting a pull request. Unfortunately, I'm having some trouble getting setup to develop on the plugin. Any chance of a quick overview on how to develop on an existing plugin?

Also, how do you debug plugin code? Do `console.log` statements go anywhere? I tried adding some debug code to the example plugin, but could not find the log statem

[2015-03-26 22:23] angelozerr commented on #265
I suppose you mean developping JavaScript tern plugin like https://github.com/angelozerr/tern-jshint that it is used inside tern.java

If it that, to be honnest with you, it was my first tern plugin that I have developped with node code. The most tern plugin that I develop works without node, so I use Chrome Developer to debug it.

But in the case of tern-jshint tern plugin, node code must be used

[2015-03-26 22:43] AlexanderOMara commented on #265
Hmm, I enabled `Trace on console?` and `Loading local plugin?` for the project settings, but "Tern Console" seems to be missing from my Eclipse console. These are the options I have:

![my console](https://i.imgur.com/BvhY6Mp.png)

I do see some output in the CVS console, but not the `console.log`/`console.warning` statements.

[2015-03-26 23:25] AlexanderOMara commented on #265
I think I'm almost there. I cloned the `tern-jshint` repository, ran `npm install`.

But now I get this error in the console:

[code]

Is this possibly a collision with the built-in version of `tern-jshint`? I added a `console.warn` statement, and I know that the initialization `mod` function is being executed.

[2015-03-27 02:58] paulvi commented on #5
yep, closed as duplicate of old [Bug 251156 - [content assist] Asynchronous code completion](https://bugs.eclipse.org/bugs/show_bug.cgi?id=251156)

[2015-03-27 16:46] angelozerr commented on #265
If your jshint.js + package.json are on the root of the project and you have checked `Loading local plugin?` option it should use your tern plugin.

If it doesn't work (why?) I suggets you that you modify the orginal jshint.js which is hosted inside ECLIPSE_HOME/plugins/ternjs folder.

[2015-03-27 16:48] angelozerr commented on #250
Why?

For your information, I have started a new Eclipse plugin for grunt based on tern.java

[2015-03-28 16:36] angelozerr commented on #250
I close this issuse for https://github.com/angelozerr/tern.java/issues/39

[2015-03-28 16:36] #250 closed

[2015-03-28 17:57] angelozerr commented on #39
I'm a newbee with grunt, @paulvi @ar2112 @jabby I'm developping a View which shows the whole grunt tasks from the Gruntfile.js (today I can display list of tasks from grunt.registerTask) but it seems that grunt.initConfig is used to register tasks, could you tell me (and give me sample) of tasks to display in a tree (after that we could execute it by double clicking) from a Gruntfile.js

Thanks!

[2015-03-29 15:44] angelozerr commented on #260
@piotrtomiak thank's for your information. I will study how to do that (for tern(lint, it will be easy but I don't know for other linter like JSHint).

[2015-03-29 19:39] jabby commented on #39
I don't know how to represent in tree all grunt tasks.

You can find an example here https://github.com/jabby/sample-4-angularjs-eclipse/blob/master/Gruntfile.js It's a Gruntfile.js generated by a yeoman generator. There are useful tasks like [serve](https://github.com/jabby/sample-4-angularjs-eclipse/blob/master/Gruntfile.js#L391), [server](https://github.com/jabby/sample-4-angularjs-eclipse/blob

[2015-03-30 00:42] AlexanderOMara commented on #265
Unfortunately I seem to be encountering compatibility issues. Sometimes the JSHint plugin just does not run the code defined in `tern.defineQueryType("jshint", {` which makes developing on it difficult.

I was able to create a function to check if a file is ignored by the `.jshintignore` file, just put it in the `validate` function and pass the `file` object to it.

[code]

Unfortunately the issue

[2015-03-30 01:13] angelozerr commented on #265
@AlexanderOMara the Tern Validator with JSHint is a new feature that I would like to improve it like with your feature.

Thank's for your feedback with your code. I will test it and discover which problem you have (Sometimes the JSHint plugin just does not run the code).

[2015-03-30 01:15] angelozerr commented on #39
Many thank's @jabby it was exactly information that I need.

When I will finish my idea, are you OK to test https://github.com/angelozerr/grunt-eclipse (not available for the moment)

[2015-03-30 02:33] paulvi commented on #39
grunt takes a lot of ideas from Gradle http://gradle.org/ (that also takes a lot from Maven and Ant)

Take a look at how it is implemented in Gradle integration https://github.com/spring-projects/eclipse-integration-gradle

[2015-03-30 08:20] angelozerr commented on #265
If you activate tern console, you will see that `tern.defineQueryType("jshint", {` is called :

 * as soon as you are typing code inside the JavaScript Editor.
 * if you have activated WTP Validation Builder, it is called for each JS files which have changed after a save action.

Please tell me which case doesn't work. Thanks!

[2015-03-30 09:52] angelozerr commented on #39
Many thank's @paulvi for your helpful info!

[2015-03-30 11:44] jabby commented on #39
@angelozerr Yes I will test your grunt-eclipse plugin. Send me an email when it is available or ping me in this issue.

[2015-03-30 16:08] ar2112 commented on #39
@angelozerr <https://github.com/angelozerr> I am interested in testing this
plugin whenever you are ready, thanks for the info!

On Mon, Mar 30, 2015 at 5:44 AM, jabby <notifications@github.com> wrote:

[2015-03-31 17:00] angelozerr commented on #39
@jabby @ar2112 @paulvi here a screenshot for Grunt View :

![grunteclipse](https://cloud.githubusercontent.com/assets/1932211/6924331/1f0eef7e-d7d8-11e4-9aed-2c68c57c9aed.png)

What do you think?

[2015-04-01 20:40] angelozerr commented on #242
@jabby @piotrtomiak could you give me some feedback about the JSHint linter please when you have will have time. I would liek to do a release soon. Thanks!

[2015-04-03 11:24] angelozerr opened #266 "Support for Gulp"
Support for http://gulpjs.com/ :

 * inside JavaScript Editor for completions with https://github.com/angelozerr/tern-gulp
 * provide a View which displays gulp task to execute it and open it in the file with https://github.com/angelozerr/jsbuild-eclipse

[2015-04-07 13:11] angelozerr commented on #266
Done, see https://github.com/angelozerr/jsbuild-eclipse

[2015-04-07 13:11] #266 closed

[2015-04-07 13:14] angelozerr commented on #39
@paulvi @ar2112 @jabby you can start playing with see https://github.com/angelozerr/jsbuild-eclipse

It supports Grunt and Gulp. Please read https://github.com/angelozerr/jsbuild-eclipse/wiki/Getting-Started

If you wish to have some new features for grunt, gulp. Please create issues at https://github.com/angelozerr/jsbuild-eclipse/issues

[2015-04-07 13:14] #39 closed

[2015-04-11 06:35] angelozerr opened #267 "Use YUI image inside completion + hover"
Use YUI image inside completion + hover

[2015-04-12 15:49] angelozerr commented on #267
Here a screenshot which shows icons of YUI or AlloyUI in teh completion :

![YUI icon](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_YUICompletionForYUseModules.png)

[2015-04-12 15:49] #267 closed

[2015-04-12 16:28] angelozerr opened #268 "Line message (Tern Problem)"
Line message (Tern Problem) : when you execute Manual/Builder Validation you can see inside Problem View a Line colomn which is equald every time to 0. I don't know for the moment how to manage that : I have the well start/end offset but I should compute line number with this information by using IDocument#getLineOfOffset(start) but I don't know how to get IDocument from a IFile, have you an idea?

[2015-04-12 16:29] angelozerr opened #269 "Implement IIDETernProject#isInScope(IResource resource)"
IIDETernProject#isInScope(IResource resource) which returns every time true. I think in your case you will implement with JSDT Install Path. In my case I must implement it by using tern script path. I would like to support wildcard incude/exclude path to support bower.json exclude path, jshintignore, etc

[2015-04-12 16:30] angelozerr commented on #260
I close this issue . I have created 2 issues :

 * https://github.com/angelozerr/tern.java/issues/268 for line problem
 * https://github.com/angelozerr/tern.java/issues/269 for isInscope implementation

[2015-04-12 16:30] #260 closed

[2015-04-12 16:31] angelozerr commented on #242
I close this issue since integration of JSHInt was done.

[2015-04-12 16:31] #242 closed

[2015-04-14 17:02] angelozerr commented on #268
@piotrtomiak I have found a generic solution to retrieve the IDocument from a IFile if linter cannot support that. I will implement for tern-lint and JSHint if it is able to return lineNumber to avoid loading IDocument.

[2015-04-14 20:24] piotrtomiak commented on #268
Really cool :) This code reminded me of some stuff I have found, when I was browsing through eclipse text search engine code. It might be worth looking whether they do dispose ad-hoc buffers, or use some other, lighter, solution there. I'll give it a look tomorrow.

[2015-04-15 08:32] angelozerr commented on #255
@paulvi  we plan to create the 0.9.0 releases when @pascalleclercq  will have time to do that.

JSON Editor will be not released because it is not very stable today.

[2015-04-15 11:44] piotrtomiak commented on #268
The class I was speaking about is org.eclipse.search.internal.core.text.TextSearchVisitor (see processFiles(IFile[] files) ). It is trying to use an IDocument if possible, but if there is no active, it is just using binary contents of the file.

I can see two problems with creating a buffer for the file, if there is none existing:
- you are not disposing this buffer later on, so it probably stays

[2015-04-15 12:12] angelozerr commented on #268
@piotrtomiak thanks for your feedback.

tern-lint and tern-jshint supports now lineNumber. So it doesn't use IDocument.

I will try to do the same thing for ESLint and JSCS (when I will have time).

In other words only ESLint and JSCS uses IDocument.

The code which get IDocument from IFile comes from the Ant plugin. So I tell me that it should work. But it seems that it's not optimized according

[2015-04-15 12:23] piotrtomiak commented on #268
Right, that's correct. Missed that part. Cool, maybe that sophisticated part of code for detecting lines won't be required anyway.

[2015-04-15 13:59] jabby commented on #255
[code]

[2015-04-15 14:08] angelozerr commented on #255
Thanks, but Format, Completion, Validation are not very stable because synch of model should really improved. I don't want to do a release of the WTP JSON Editor, otherwise users will think that's it's very bugged and they will switch to other JSON Editor.

[2015-04-16 06:49] paulvi commented on #255
Nowadays they just add word "Experimental" and release bugy, unfinished stuff... :-)

well, now seriously speaking, @angelozerr do you have any timing when 0.9 train can be released?

[2015-04-16 09:02] angelozerr commented on #255
I see, but users (like me) doesn't tink like this. If tools doesn't work, they switch to another tools :)

When @pascalleclercq will have time to do that, I don't know more.

[2015-04-16 20:57] #268 closed

[2015-04-17 15:11] gorkem commented on #263
I have been investigating running tern and a few other js tools with j2v8. I am currently trying to implement a node like AMD (require()) implementation.

[2015-04-17 16:57] angelozerr commented on #263
@gorkem very cool that you are working on this toipc.

I have started the J2V8 tern server implementation and it starts working (I will commit soon my work).

It should very cool if we could work together.

[2015-04-17 17:00] gorkem commented on #263
Sure.. please ping me when you do the commit.

[2015-04-18 03:25] paulvi commented on #263
:+1: Yes, it is cool.

[2015-04-18 04:21] paulvi commented on #255
Just by chance noticed that @pascalleclercq has just released main 3 repositories

[2015-04-18 04:27] paulvi opened #271 "Build all maven projects at once"
It is possible to create new Maven project and put all main Eclipse project (angularjs-Eclipse, tern.java, eclipse-wtp-resources and later eclipse-wtp-json) as modules.

This way there will a build to build all at once and if to keep version the same (please continue to)
then update version in all project at once.

It is possible also then to have one solid p2 repository (also as zip archive) for

[2015-04-18 06:11] angelozerr commented on #263
@gorkem @irbull @maxandersen I have started to implement tern server with J2V8. See https://github.com/angelozerr/tern.java/tree/master/core/tern.server.j2v8

You will find a README with several informations like sample, limitation of J2V8 (like OSGify J2V8). I have doen that quickly and it's just a basic implementation. Any comments are welcome!

[2015-04-19 21:41] #235 closed

[2015-04-20 07:14] angelozerr commented on #255
Done, many thank's @pascalleclercq !

[2015-04-20 07:14] #255 closed

[2015-04-22 22:54] angelozerr opened #272 "Support for Titanium"
Provide a tern plugin for http://www.appcelerator.com/ by using https://github.com/x-cray/titanium-ternjs

[2015-04-23 15:52] angelozerr commented on #271
@paulvi I would like to keep a github project per technologies angular, tern, jsbuild-eclipse, etc because I would like to avoid having one wiki which merges those several technologies.

@pascalleclercq will study if it's possible to create a new main github project which references angular, tern.java project (git submodule?) to create an Update site like you wish. We don't know if it's possible t

[2015-04-24 14:21] paulvi commented on #271
@angelozerr

The proposal was not understood. Nothing needs to be changed, but only new project in new repository, that should be cloned into the same folder as angular, tern, jsbuild-eclipse, etc

Then in this super-build all project can be referenced as modules

    <module>../tern.java</module>

[2015-04-24 15:59] piotrtomiak commented on #271
@paulvi @angelozerr

I think that submodules are very good in this case, even when projects are rapidly changing. Nightly builds would happen per each repo separately anyway. When you would want to do a release/common build, than you would check out appropriate commits for each of the sub-modules repos in the super repo and you would push it to GitHub. The automated process will be able to create

[2015-05-01 22:35] swingfield opened #273 "Non-explicit org.apache.http.client dependency seems to cause conflicts with some third-party plugins"
It looks like Eclipse Tern does not specify which version of Apache's HttpClient it requires, and this appears to be causing a conflict with some third-party plugins in my Eclipse environment.

I installed Eclipse Tern, and kept getting intermittent error dialog's popping up, associated with a "Synchronizing script resources with tern server" background job.

The error details were

class org.apac

[2015-05-01 23:22] angelozerr commented on #273
I do that to support both kepler and indigo.

I suggest you to install indigo. I'm afraid if I set some retriction with version, it will not work for kepler and indigo both.

[2015-05-02 18:42] swingfield commented on #273
Hi Angelo,

Thanks for your quick reply.  Actually I'm on Luna, but I think that switching to Indigo wouldn't help because the third-party plugin would still load up its older httpclient, which Tern would then try utilize.

Do you think Tern could package the version of httpclient that it requires into a new, tern-supplied, plugin, and then mark that plugin as an explicit dependency? That should d

[2015-05-02 20:58] angelozerr commented on #273
Sorry I'm too on Luna.

I suppose you have several version of httpclient. I think if you use the JEE distrbitionj it should work. I will try to see this problem.

[2015-05-02 21:06] angelozerr commented on #273
I'm woaiting for you PR to try it. Thanks.

[2015-05-02 23:07] swingfield commented on #273
I'm using the JEE version ("Java EE IDE for Web Developers").

If I delete the third-party plugin with the old version of http client then Tern works fine.  So in that case, Tern seems to be handed a compatible version of http client.  But if I have that plugin in place, then Tern gets handed the older http client library and thus hits the error.

Sorry, didn't understand your last comment - you w

[2015-05-02 23:12] swingfield commented on #273
Oh sorry, I understand - you wanted me to try the JEE version. Yes, that is the version I use.

[2015-05-02 23:14] swingfield commented on #273
I will try to create a simple plugin that demonstrates the problem, that you can drop into your eclipse to reproduce.

[2015-05-05 16:12] angelozerr opened #274 "Support for jQuery Mobile"
See https://github.com/angelozerr/tern.jqueryapi

[2015-05-05 16:12] angelozerr opened #275 "Support for jQuery UI"
See https://github.com/angelozerr/tern.jqueryapi

[2015-05-06 18:01] swingfield commented on #273
Hi Angelo,

I set about to create a simple plugin that would show the problem.  Unfortunately, the problem seems to be not easily reproducible.  In all of my recent attempts to reproduce, Eclipse Luna picks a good plugin to resolve tern.core's org.apache.httpclient packages:

![image](https://cloud.githubusercontent.com/assets/3903455/7499682/85dc67e8-f3e6-11e4-8c6a-49160c924e93.png)

I can, howev

[2015-05-07 21:46] angelozerr commented on #273
@vrubezhny @piotrtomiak I think we need import the well package. I have tested quickly for the tern.server.nodejs plugin by setting version of http client : :

[code]

I use Luna but I'm afraid that it breaks Kepler for instance. Have you some recommandation?

Thanks!

[2015-05-07 22:21] vrubezhny commented on #273
@angelozerr You cannot keep the support for Indigo & Kepler forever. Eclipse is discontinued their support. So, imho, it's OK to drop Indigo & Kepler compatibility. If you have a customer that requires such a support then suggest him the custom builds (Indigo and/or Kepler compatible, but without all the newest functionality). The main build stream should follow the Eclipse's LTS terms (at the mom

[2015-05-09 15:49] angelozerr opened #277 "Use module & JS type in the same icon for completion"
Merge module icon (like YUI) with JS type (liek string, boolean) to obtain that :

![yuiicon](https://cloud.githubusercontent.com/assets/1932211/7551026/aaa43440-f678-11e4-9558-cfd60da0d2c6.png)

[2015-05-09 15:49] angelozerr commented on #129
I close this issue for https://github.com/angelozerr/tern.java/issues/277

[2015-05-09 15:49] #129 closed

[2015-05-12 16:37] angelozerr commented on #273
@swingfield @vrubezhny  @piotrtomiak I have restricted the version of httpclient according my luna Eclipse (Thanks PDE). See https://github.com/angelozerr/tern.java/commit/39efa4fb484e0ce49c578d6e224d6d2ade15305d

Hope it will not problem.

@swingfield is it ok for you?

[2015-05-13 15:34] angelozerr opened #278 "Support for jQuery QUnit"
See https://github.com/angelozerr/tern.jqueryapi

[2015-05-13 23:59] angelozerr commented on #274
See https://github.com/angelozerr/tern.java/wiki/Tern-&-jQueryMobile-support

![jQuery Mobile](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_jQueryMobileObjectLiteralOptionsCompletion.png)

[2015-05-13 23:59] angelozerr commented on #275
See https://github.com/angelozerr/tern.java/wiki/Tern-&-jQueryUI-support

![jQuery UI](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_jQueryUICompletion.png)

[2015-05-14 00:00] angelozerr commented on #278
See https://github.com/angelozerr/tern.java/wiki/Tern-&-QUnit-support

![QUnit](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_QUnitCompletion.png)

[2015-05-14 00:15] angelozerr commented on #277
Done. See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.10.0#icon-for-completion--hover

[2015-05-14 00:15] #277 closed

[2015-05-14 00:16] angelozerr commented on #272
Done. See https://github.com/angelozerr/tern.java/wiki/Tern-&-Titanium-support

[2015-05-14 00:16] #272 closed

[2015-05-14 10:15] angelozerr commented on #265
@AlexanderOMara if you wish that validation is done when you save your JavaScript editor, please read https://github.com/angelozerr/tern.java/wiki/Tern-Linter#wtp-tern-validator

[2015-05-16 11:00] angelozerr opened #279 "Use 0.9.4 minimal-json"
minimal-json 0.9.4 was released and provides :

 * pretty print :json of tern-project and tern console could be formatted.
 * improve of toString

[2015-05-16 18:32] angelozerr opened #280 "Support for Bootstrap"
See https://github.com/angelozerr/tern-bootstrap

[2015-05-17 15:31] angelozerr opened #281 "Support for threejs"
Integrates https://github.com/tylerwbell/tern-threejs

[2015-05-22 16:05] angelozerr opened #282 "Support for DojoToolkit 1.10"
Add dojo 1.10 support + improve it liek have completion for require module, etc

[2015-05-27 20:45] angelozerr opened #283 "Support for Google Charts"
Support for https://developers.google.com/chart/interactive/docs/reference

[2015-06-02 05:37] angelozerr opened #284 "Support for Chrome Extension"
Support https://developer.chrome.com/extensions/api_index for with https://github.com/Yasushi/tern-chrome-extension

[2015-06-02 05:49] #284 closed

[2015-06-02 06:05] #283 closed

[2015-06-02 06:06] angelozerr commented on #283
Done. See https://github.com/angelozerr/tern.java/wiki/Tern-&-Google-Charts-support

[2015-06-02 06:06] angelozerr commented on #284
https://github.com/angelozerr/tern.java/wiki/Tern-&-Chrome-Extension-support

[2015-06-08 16:57] angelozerr opened #285 "Support for multi types for hover + guess types"
ternjs is now able to support multi types. String#replace pattern can have string or RegExp type.

This issue is used to integrate this multi types for hover, guess types, lint.

[2015-06-08 16:58] angelozerr commented on #285
See https://github.com/angelozerr/tern.java/commit/b603ba61eb92d09d477630f5e1754c1bc39956a2 for guess type

[2015-06-08 17:12] angelozerr commented on #285
See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.10.0#multi-types-support

[2015-06-08 17:12] #285 closed

[2015-06-10 09:02] brunano21 opened #286 "Support for delite/deliteful"
Hi,

I would like to request support for IBM delite/deliteful
https://github.com/ibm-js/delite
https://github.com/ibm-js/deliteful

Thanks!

[2015-06-10 11:45] angelozerr commented on #286
I think to provide a very good support for delite, we should :

 * write a tern plugin for delite. delite seems very good commented by using JSDoc, so we could generate the tern plugin for delite by using JSDoc comments. The tern plugin will able to work on Eclipse IDE, but with other editor like too Emacs, Vim, Sublime text, Atom, CodeMirror and Orion which supports tern
 * develop a new plugin l

[2015-06-10 15:08] brunano21 opened #287 "JavaScript Validation"
Hi,
I would like to ask if tern has a workaround to let to Eclipse working fine when using some JS keywords, even if the strict validation is enabled.

What I mean is the following:
if you have the JS strict validation into Eclipse enabled and if you use keywords as `catch`, you will get an error on that - this is normal! But: since I'm using a third JS library (Promise) I get a lot of errors beca

[2015-06-11 16:05] paulvi commented on #277
wow

[2015-06-12 12:05] angelozerr commented on #286
For information, I have started the tern plugin for delite at https://github.com/angelozerr/tern-delite

[2015-06-12 15:31] angelozerr opened #288 "Release 0.10.0"
@vrubezhny @dgolovin when @pascalleclercq will have time, release can be created.

[2015-06-12 15:32] #282 closed

[2015-06-12 15:32] angelozerr commented on #281
See https://github.com/angelozerr/tern.java/wiki/Tern-&-Threejs-support

[2015-06-12 15:32] #281 closed

[2015-06-12 15:33] angelozerr commented on #282
See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.10.0#dojo-110

[2015-06-12 15:34] #280 closed

[2015-06-12 15:34] #275 closed

[2015-06-12 15:34] #274 closed

[2015-06-12 15:34] #278 closed

[2015-06-15 11:21] vrubezhny commented on #288
That's great news!

[2015-06-16 08:56] angelozerr commented on #287
tern.java has her own WTP Tern Validator. It doesn't disable the JSDT Validator.

Perhaps if you disable JSDT Validator and you use https://github.com/angelozerr/tern.java/wiki/Tern-Linter-Lint it will work perhaps?

If tern validator must be improved (with your Promise lib) please create an issue at https://github.com/angelozerr/tern-lint/issues with a sample.

[2015-06-16 09:24] brunano21 commented on #287
The main problem is that the standard WTP does not allow the use of JavaScript languages keywords, giving so errors when using them and reporting those error into the Problems view. The only way to not showing those errors into the Problems view is to exclude the folder/file that is generating errors (Project Properties -> JavaScript -> Include Path). This solution obviously is not feasible!
PS: I

[2015-06-16 11:10] angelozerr commented on #287
JSDT doesn't provide a WTP Validator for JavaScript. It is based on Builder. To disable it, you go at Properties project Buillders and uncheck JavaScript Validator.

[2015-06-16 11:36] angelozerr commented on #273
@swingfield is it ok for you?

[2015-06-16 11:36] #273 closed

[2015-06-16 11:37] #244 closed

[2015-06-16 11:38] angelozerr commented on #262
The integration is done. Next step is to provide an UI preferences to customize tern-lint.

[2015-06-16 11:38] angelozerr commented on #246
The integration is done. Next step is to provide an UI preferences to customize tern-jscs.

[2015-06-16 11:39] angelozerr commented on #234
The integration is done. Next step is to provide an UI preferences to customize tern-eslint.

[2015-06-16 14:26] angelozerr opened #289 "Tern Explorer"
I think it should be cool that tern.java provide a "Tern Explorer" View which display JavaScripts functions, variables of the current JavaScript file like the JSDT Ouline View.

Why doing that although JSDT does that?

 * we could display a lot of information like type, variable inside a function.
 * display the acorn AST
 * displays for each frameworks some items. For instance for AngularJS displ

[2015-06-16 15:23] mickaelistria commented on #289
I'm not sure adding yet-another-view is a good UI solution. Instead, it would make more sense to contribute additional data to the Project Explorer (via CNF) or Outline view (via whatever works).

[2015-06-16 15:30] angelozerr commented on #289
@mickaelistria I would like unify angular explorer + build explorer (gulp/grunt) and add functions, variables. If I contribute to Project Explorer or Outline View, we will have some duplicate variables (coming from JSDT and coming from Tern, (it's the same problem with completion))

[2015-06-16 15:37] mickaelistria commented on #289
the CNF allows filters to avoid duplicate. The Outline view probably has something similar.
I believe having those details in the Outline view is what users will expect.

[2015-06-16 15:38] vrubezhny commented on #289
@angelozerr, but still it is a good idea to integrate to Project Explorer and Outline View. We're going to provide a mode for JSDT that excludes any internal parsing/validation/content assisting/ And, as far as I tested, Tern.java works fine in such a mode. But Content outline is completely empty in such a mode, so your contribution to Outline View will be very welcomed.

[2015-06-16 15:44] angelozerr commented on #289
Thanks @mickaelistria for your information.

@vrubezhny  glad this issue please you:) Could we work together about this issue? If you can prepare me the implementation of the extension point  for Outline View + Project explorer, it will win a lot of time and I could work for https://github.com/angelozerr/tern-outline Thanks!

[2015-06-16 15:47] angelozerr opened #290 "Browser Extension"
Integrates https://github.com/angelozerr/tern-browser-extension.

At first tern-browser-extension needs the accept of [this PR](https://github.com/marijnh/tern/pull/550) because it needs preParse method.

[tern-browser-extension](https://github.com/angelozerr/tern-browser-extension) is a tern plugin which extends [browser.json](https://github.com/marijnh/tern/blob/master/defs/browser.json) and pro

[2015-06-16 15:49] angelozerr opened #291 "Validate by using JSDoc"
Integrates tern-lint which starts supporting JSDoc. See https://github.com/angelozerr/tern-lint/wiki/Validation-JSDoc

[2015-06-16 23:54] maxandersen commented on #289
please dont add more custom views when eclipse already has it.

please show up on wtp-dev with what you need instead of just fixing it in tern.

[2015-06-17 06:22] angelozerr commented on #289
Ok @maxandersen, I have understood the message:)

I fix nothing inside tern.java. I suppose you speak about [WTP JSON Editor](https://github.com/angelozerr/eclipse-wtp-json) or [WTP Web Resources](https://github.com/angelozerr/eclipse-wtp-webresources)

If it that, my goal is to try to contribute to WTP.

[2015-06-17 07:02] angelozerr opened #292 "Include/Exclude paths with minimatch"
https://github.com/isaacs/minimatch written in JavaScript is used in a lot of project to match include/exclude path for files. With minimatch you can write complex regexp to match something (a file for instance).

I have started to port(very quickly) minimatch in Java https://github.com/angelozerr/minimatch.java and I would like to use it to support include/exclude files for tern script path to fi

[2015-06-17 07:06] angelozerr commented on #289
@vrubezhny if you could give me some directive to extends JSDT outline view (is it possible?), it should be cool. Thanks!

[2015-06-17 07:22] mickaelistria commented on #289
It's up to the JSDT editor to contribute content to the Outline:
https://wiki.eclipse.org/FAQ_How_do_I_create_an_Outline_view_for_my_own_language_editor%3F
For JSDT, here is the implementation:
http://git.eclipse.org/c/jsdt/webtools.jsdt.core.git/tree/bundles/org.eclipse.wst.jsdt.ui/src/org/eclipse/wst/jsdt/internal/ui/javaeditor/JavaOutlinePage.java?id=396d55a37c164ad743dfd9f59c06ba49f25211d3
If

[2015-06-17 07:37] angelozerr commented on #289
Thanks @mickaelistria !

It was my fear. I think in a first step, I will create a new ViewPart "Tern Explorer" which will replace Angular Explorer and Build Explorer. Once JSDT will do some change for their outline, I will remove "Tern Explorer".

[2015-06-17 07:46] mickaelistria commented on #289
Ok. But don't call it "Tern Explorer", most users don't know what Tern is. A Generic "JavaScript Explorer" would probably be more intuitive.
Also, despite the Outline view requires changes in JSDT, you can still contribute your ContentProviders and co to the CNF framework to show them in the Project Explorer view. It's just a matter of adding an extension (no code necessary once you already have t

[2015-06-17 12:42] jabby commented on #292
FYI, in Eclipse Mars, the JSDT have a new ability. By default the jsdt include path deal with some know locations. More information here. https://bugs.eclipse.org/bugs/show_bug.cgi?id=462385

For an update about how bower works, I think we should use this explanation https://bugs.eclipse.org/bugs/show_bug.cgi?id=462115#c6

[2015-06-17 22:44] angelozerr commented on #288
Done http://oss.opensagres.fr/tern.repository/0.10.0/

Many thanbks @pascalleclercq !

[2015-06-17 23:02] angelozerr commented on #288
Next release is for AngularJS Eclipse.

[2015-06-19 12:00] altukhov-a opened #293 "Local jquery-1.11.0.min.js override Tern module jQuery"
Hi! I use Tern 0.10.0
When convert my "Dynamic Web Project" to "Tern Project" my "WebContent" folder automatically add in Tern Script Path. After that I select jQuery module
![jquery module](https://cloud.githubusercontent.com/assets/2371820/8252862/65bae4f2-1692-11e5-9e69-a11a16440925.png)
In my project I have local jquery script located in "WebContent/resource/js/jquery-1.11.0.min.js"
And when I

[2015-06-19 12:07] angelozerr commented on #293
I know this problem.

In short answer, please try to install 1.0.0-SNAPSHOT https://github.com/angelozerr/tern.java/wiki/Installation-Update-Site

This version provides a fix for https://github.com/marijnh/tern/issues/557 I think it's the same problem that you have. I suggest you that you install 1.0.0-SNAPSHOT an dgive me feedback.

Yes I know this problem, I'm working on include/exclude tern scr

[2015-06-19 14:10] altukhov-a commented on #293
I update to http://oss.opensagres.fr/tern.repository/1.0.0-SNAPSHOT/, but it does not help me.
I get the same problem.
I revert to version 0.9.0 and it works for me.
Then another question. How can I add for example bootstap module into version 0.9.0?
Thank you!

[2015-06-19 14:33] angelozerr commented on #293
That's really strange that 0.9.0 fix you rproblem?

To fix your problem, exclude tern script path must be implemented. I'm working on that.

 * search in your ECLIPSE_HOME/plugins (of 0.10.0) a folder which starts with terns
 * copy folder ternjs*\node_modules\tern\node_modules\tern-bootstrap from 0.10.0 to 0.9.0
 * copy folder ternjs*\metadata\bootstrap.metadata.json from 0.10.0 to 0.9.0

For the

[2015-06-19 15:30] altukhov-a commented on #293
I don't know why, but when I revert to 0.9.0
"WebContent" folder is not added in "Tern Script Path", accordingly local jquery script not override jquery module
![script path 0 0 9](https://cloud.githubusercontent.com/assets/2371820/8256676/3225f662-16b1-11e5-9848-42b107e3d4c5.png)
Thank you very much, for help

[2015-06-19 15:41] angelozerr commented on #293
Ok I understand more!

In 0.9.0, there were a bug which didn't use JSDT Install Path, it's the reason that your tern script path is empty.

In 0.10.0, JSDT Install Path is used (you can see (jsdt) label). Those tern script path cannot be deleted because they comes from JSDT Install Path.

Exclude tern script path must definitely implemented. I'm working on this topic, but it's a long and hard task

[2015-06-19 16:53] angelozerr commented on #288
All release was done (tern.java, AngularJ SEclipse WTP WebResources) Thanks @pascalleclercq!

@vrubezhny @dgolovin for your information, released is done.

[2015-06-19 16:53] #288 closed

[2015-06-20 21:22] angelozerr commented on #286
@brunano21 I have integrated tern-delite inside tern.java. See https://github.com/angelozerr/tern.java/wiki/Tern-&-Delite-support

Note that for the moment completion for required modules are not available. I'm waiting for accept PR https://github.com/marijnh/tern/pull/560

You can play with online demo of tern-lint at http://demo-angelozerr.rhcloud.com/CodeMirror-Java/delite.html (in this demo re

[2015-06-23 16:28] angelozerr commented on #292
@jabby thanks for your info. tern.java synchronize tern script path from JSDT Install path, but today include/excclude path are not managed. I'm working on this issue.

[2015-06-23 16:45] angelozerr commented on #292
@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak @jabby I have integrated minimatch.java to support include/eclude path inside tern.java. JSDT Install Path are translated to tern script path.

It's a big refactoring, and I must write tests now.  minimatch.java will provide the capability to write complex pattern that we can use inside bower.j

[2015-06-24 05:46] paulvi commented on #256
clean up

[2015-06-24 05:46] #256 closed

[2015-06-26 06:55] paulvi commented on #234
Do you mean integration with tern-eslint and not #248 Integration with JSDT ?

[2015-06-26 06:58] altukhov-a commented on #293
Thanks again and good luck

[2015-06-26 06:58] #293 closed

[2015-06-26 07:05] paulvi commented on #289
+1 for "JavaScript Explorer"

I wonder why there's no way to show the same tree in Outline and in Project Explore view.

[2015-06-26 07:45] angelozerr commented on #234
yes I mean that

[2015-06-26 07:46] angelozerr commented on #293
@altukhov-a I have soon finished my work with include/exclude path. I will ping you when you will able to try and install 1.0.0-SNAPSHOT

[2015-06-26 08:43] angelozerr commented on #289
Ok I will do that.

It's my goal.

My first goal is to fill the view with variables, functions of the current file. But I would like to extend it to fill other items like angular controller, modules liek https://github.com/angelozerr/angularjs-eclipse/wiki/Angular-Explorer-View (in order to remove this view from AngularJS Eclipse).

My idea is to give the capability for each tern modules to extend

[2015-06-27 15:54] angelozerr opened #294 "Support for requirejs module validation"
Integrate https://github.com/angelozerr/tern-requirejs-extension

[2015-06-27 15:55] angelozerr commented on #286
Validation for required module will be available with the issur https://github.com/angelozerr/tern.java/issues/294

[2015-06-27 15:59] angelozerr commented on #287
It's a problem with JSDT, It seems that if you disable "Strict mode", the validator doesn't report problem.

@brunano21 as it's a problem with JSDT, I close this issue. Please post a bug to JSDT, thanks!

[2015-06-27 15:59] #287 closed

[2015-06-27 16:00] angelozerr commented on #269
I close this issue, because it's now implemented with https://github.com/angelozerr/tern.java/issues/292

[2015-06-27 16:00] #269 closed

[2015-06-27 16:01] angelozerr commented on #150
I close this issue, because now it's implemented with https://github.com/angelozerr/tern.java/issues/292

[2015-06-27 16:01] #150 closed

[2015-06-29 03:23] paulvi commented on #289
rename issue?.. or possibly add related items. it seems now too broad a-la discussion thread

[2015-06-29 11:07] angelozerr commented on #292
@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak @jabby I have finished my work to support include/exclude for completion, and validation (with WTP tern Validator).

Today include/exclude are confugured only with JSDT Install Path. In the future we could configure it :

 * with UI preferences to set complex pattern (that minimatch supports)

[2015-07-03 05:58] angelozerr opened #296 "jQuery Extension"
Integrates https://github.com/angelozerr/tern-jquery-extension

[2015-07-03 08:19] brunano21 opened #297 "JSHint: .jshintrc file location"
At the moment, it's possible to load a .jshintrc file that lives only in the project or in a project's subfolder.
Would be handful to provide also a file which lives outside of the project. In fact when you are going to select a custom config file for jshint, potential .jshintrc files are searched only within project's folder.

Example:
Suppose we have the following folders organization:

    + ro

[2015-07-03 08:31] brunano21 commented on #297
Note, if you edit by hand the .tern-project file and use the following:
`"jshint":{"configFile":"../.jshindddtrc"}`
the validation works well, I suppose the file is found and used for the jshint validation.

However, if the file does not exist, no error is returned. I'm not sure if this is good or not. And furthermore, a JSHint validation is executed anyway - I do not know which file is used for r

[2015-07-08 05:51] paulvi opened #298 "Enide (Studio) 2015 for Java, JavaScript and tool dev"
Enide 2015 http://www.nodeclipse.org/enide/2015/ is released

that includes Nodeclipse and AngluarJS, TernIDE and webresources, and all for plugin development as in IDE for committers (excluding CVS) and all dev resources.

Please give a try.

Sources and suggestions at
https://github.com/Nodeclipse/packages

[2015-07-08 23:19] angelozerr commented on #298
@paulvi thanks for your info.

I close this issue.

[2015-07-08 23:19] #298 closed

[2015-07-10 06:40] angelozerr opened #299 "JUnit for Include/Exclude paths with minimatch"
Create JUnit for Include/Exclude paths with minimatch

[2015-07-10 06:42] angelozerr commented on #292
I close this issue. Please read https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0#includeexclude-tern-script-paths

For JUnit I have created this issue https://github.com/angelozerr/tern.java/issues/299

[2015-07-10 06:42] #292 closed

[2015-07-13 03:29] paulvi opened #300 "Question: When changing .tern-project how to make TernIDE refresh markers for current file?"
When changing .tern-project (manually or via properties Dialog)
how to make TernIDE refresh markers for current file?

I try reopening files or reopening project but it does not always give the same result.

ref https://github.com/angelozerr/tern-lint/issues/46

[2015-07-13 03:52] paulvi opened #301 "Question: Rename JSDoc Support to JSDoc"
I wanted to rename JSDoc Support to JSDoc
but could not find metadata for JSDoc

Where is it?

https://github.com/angelozerr/tern.java/tree/master/core/ternjs/metadata does not have

[2015-07-15 07:51] angelozerr commented on #301
The tern plugin is doc_comment

[2015-07-15 07:55] angelozerr commented on #300
When you change .tern-project it reload trrn server

I dont know how to refresh the wtp tern validator with java code

[2015-07-15 15:15] paulvi commented on #300
Ok, changing `.tern-project` reloads tern server, but the error markers stays the same.

So thing to try would reopen file or close and open project ?

[2015-07-15 20:29] angelozerr commented on #300
I must studio how to refresh wtp validator with java code

[2015-07-24 12:28] angelozerr opened #303 "WebIdl support"
https://github.com/othree/tern-webidl

[2015-07-24 12:32] angelozerr opened #304 "Fetch support"
https://github.com/othree/tern-fetch

[2015-08-04 02:35] #301 closed

[2015-08-04 02:38] angelozerr commented on #296
Now you can benefit with CSS selectors validation, hyperlink, completion with jQuery:

![jQuery Extension Completion](images/EclipseIDE_jQueryExtensionCSSSelectorsCompletion.png)

See https://github.com/angelozerr/tern.java/wiki/Tern-&-jQuery-Extension-support

[2015-08-04 02:53] #290 closed

[2015-08-04 02:53] angelozerr commented on #290
See https://github.com/angelozerr/tern.java/wiki/Tern-&-Browser-Extension-support

[2015-08-04 02:54] #296 closed

[2015-08-04 03:04] angelozerr commented on #291
See https://github.com/angelozerr/tern.java/wiki/Tern-&-JSDoc-support#validation

[2015-08-04 03:04] #291 closed

[2015-08-04 14:44] paulvi opened #306 "Release 1.0"
What and when?

[2015-08-04 15:06] angelozerr commented on #306
https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0

I don't know, perhaps in September. I would like to try to provide Tern Explorer https://github.com/angelozerr/tern.java/issues/289 (if I can)

[2015-08-05 16:00] #300 closed

[2015-08-05 16:05] angelozerr commented on #300
Done

![](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_ValidationSettingsChangedDialog.png)

See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0#validation-settings-changed

[2015-08-06 19:58] angelozerr commented on #289
Why. This issue about developping a new ViewPart like JSDT Outline but where the treeview is filled with https://github.com/angelozerr/tern-outline

[2015-08-08 15:16] angelozerr commented on #289
@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak @jabby I have started to implement Tern Explorer (it's the first step before integrating inside Outline and Navigator).

Here the result :

![ternexplorer](https://cloud.githubusercontent.com/assets/1932211/9150931/dd314ff0-3df0-11e5-908d-6ae50d39b0fe.png)

On the left you can see Tern Explorer

[2015-08-11 17:23] angelozerr commented on #289
See https://github.com/angelozerr/tern.java/wiki/Tern-Outline-support for more infomration. You can see comparison between JSDT Outline and Tern Explorer :

![](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_TernExplorerCompareToOutline.png)

[2015-08-11 17:23] #289 closed

[2015-08-12 15:11] paulvi commented on #289
Can TernExplorer content bee inside Outline instead of JSDT ?

[2015-08-12 15:13] angelozerr commented on #289
Please read https://github.com/angelozerr/tern.java/wiki/Tern-Outline-support#why-an-another-view

I don't know how to override or extend JSDT Outline.

[2015-08-12 15:43] paulvi commented on #300
Can there be preference to re-validate project automatically on any .tern-project change

[2015-08-12 15:46] paulvi opened #307 "what are minimatch.java dependencies?"

[2015-08-12 17:10] angelozerr commented on #307
https://github.com/angelozerr/minimatch.java has none dependencies.

[2015-08-12 17:12] angelozerr commented on #300
I have done the same thing than WTP Validator (eg : you modify HTML validator preferences).

We could add this preferences, but no time to do that today.

[2015-08-17 15:53] paulvi opened #308 "tern.java & ES6 support"
Copied from email

Hi Guys,

At first I hope you are in fit after your holliday (or perhaps you are in holliday again).

I contact you to give you news about :tern.java, AngularJS Eclipse and ternjs.

1) tern.java 1.0.0-SNAPSHOT

It provides validation by using JSDoc, advanced completion for browser (CSS selectors, element IDs), RequireJS required module completion, hyperlink support, improve of E

[2015-08-17 16:03] paulvi commented on #308
When talking about looking for bounty sponsors, I can suggest posting to http://www.nodeclipse.org/

Just write text to publish or even PR see https://github.com/Nodeclipse/www.nodeclipse.org/blob/gh-pages/index.html#L207

TernIDE effort is also effort that should have some feedback loop via asking for bounties.

Nodeclipse is maybe too, but had no time or talks about that recently.

[2015-08-17 16:09] paulvi commented on #308
ref https://github.com/marijnh/tern/issues/116

[2015-08-17 16:19] paulvi commented on #142
Isn't this done?

[2015-08-17 22:52] angelozerr commented on #142
Yes you are right, I close this issue.

[2015-08-17 22:52] #142 closed

[2015-08-31 06:52] #304 closed

[2015-08-31 06:53] #303 closed

[2015-08-31 06:53] #294 closed

[2015-08-31 06:54] angelozerr commented on #286
I close this issuue. For deliteful, for the moment I'm waiting for if it interest the delite team. If yes, please create a new issue.

[2015-08-31 06:54] #286 closed

[2015-08-31 06:55] angelozerr commented on #306
tern.java was released, thanks @pascalleclercq! Waiting for angular eclipse.

[2015-08-31 06:55] #306 closed

[2015-09-01 09:16] paulvi commented on #306
I saw this.

So is ES6 for 1.1 ?

[2015-09-01 09:29] angelozerr commented on #306
Yes! I have started to integrates tern-es6 https://github.com/angelozerr/tern.java/issues/308 but there are a lot of bugs with other tern plugins. I'm fixing it.

So 1.1.0 will provide completion, hyperlink, hover, (and perhaps validation if I have time) for ES6 and ES6 modules. But as JSDT doesn't support ES6, they will have 2 problems :

 * syntax coloration 'I have developped a simple POC with

[2015-09-01 10:31] paulvi opened #309 "Release 1.1.0"
Why there is https://github.com/angelozerr/tern.java/milestones/1.0.1 ?
Was there bug in 1.0.0 ?

If not, 1.1.0 should be next as semver.org

[2015-09-01 11:22] angelozerr commented on #309
Yes it's an error. Next version will be https://github.com/angelozerr/tern.java/milestones/1.1.0

[2015-09-01 11:25] paulvi commented on #306
Frankly wiki pages for  New-and-Noteworthy-1.0.0 should use deeper levels.

I could hardly understand relations when doing announce https://github.com/Nodeclipse/www.nodeclipse.org/commit/6e23d56ba5ff8c6182441b38f3b973ad2570d9ca

Note that level 1 and level 2 `#` and `##` draws horizontal line. That groups sections. When everthing is divided by horizontal line relationships are not clear.

[2015-09-01 11:30] paulvi commented on #309
OK, also [comment](https://github.com/angelozerr/tern.java/issues/306#issuecomment-136648431) should be here

[2015-09-01 11:41] piotrtomiak commented on #306
@angelozerr after doing the JS Debugger, I am back on Tern track :) I am happy to hear that ES 6 integration is coming in! Have you considered contributing the extension for different syntax colorer to JSDT?

[2015-09-01 12:30] angelozerr commented on #306
You mean above New-and-Noteworthy-1.1.0 in the sidebar?

What you mean? It is about sidebar? content of New-and-Noteworthy?

@piotrtomiak very cool! I hope those new features will help you.

Yes I have integrated tern-es6. Now I must fix bugs in some tern plugins.

Thanks!

I have not developped this extension point. I hope JSDT will provide that. I have created a POC by implementing ITokenScanner

[2015-09-01 13:20] piotrtomiak commented on #306
@angelozerr there is no extension point for a different code scanner in JSDT, but they are being created in JavaScriptSourceViewerConfiguration (initializeScanners method). I think it should be possible to add an extension point to JSDT UI plugin, so that you can override default code scanners. For MyEclipse I will just patch that class, but it's not that easy if you need to depend on the official

[2015-09-01 13:22] piotrtomiak commented on #306
I'll probably be, once I get to the point of integrating the newest version, but I will try to modify existing JSDT scanners. We don't want to change editor ID for our users.

[2015-09-01 13:27] angelozerr commented on #306
Thanks for your info. I will study that.

Me too. My idea is to set my implementation of scanner in a tern.eclipse and add in a sample teh use of this scanner. So you will able to to use my scanner without my custom editor (that I have created just to test my scanner)

[2015-09-01 16:06] angelozerr opened #310 "ES6 Syntax Coloration inside JSDT Editor"
This issue is about using https://github.com/katspaugh/tj-mode to highlight with tern/acorn ES6 code (syntax coloration for ES6 template, let, import, export, etc).

To highlight ES6 code inside JSDT Editor:

 * tern.java must provides an implementation of ITokenScanner which uses https://github.com/katspaugh/tj-mode
 * JSDT must provide an extension point to extends teh existing JavaCodeScanner.

[2015-09-01 16:07] angelozerr commented on #306
@piotrtomiak for highlight issue, please comment at https://github.com/angelozerr/tern.java/issues/310

[2015-09-01 16:48] angelozerr commented on #310
@piotrtomiak @vrubezhny @dgolovin I have explained how to highlight JSDT Tern Editor with acorn at https://github.com/angelozerr/tern.java/tree/master/sandbox

[2015-09-03 02:00] angelozerr opened #311 "[node] Guess required node module when require completion is applied"

[2015-09-03 10:27] angelozerr opened #312 "UI Preferences for ECMAScript compliance + JSDoc"
tern-es6 support is integrating. So now we need a better UI for ECMAScript settings (and JSDoc)

![ecmascriptuiprefs](https://cloud.githubusercontent.com/assets/1932211/9664034/c0a9f428-5267-11e5-9eb6-92d17befd130.png)

IMPORTANT: I will remove ECMAScript and JSDoc from the Tern / Modules.

@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak @ja

[2015-09-03 16:11] angelozerr commented on #311
Here the result with required node module :

![test](https://cloud.githubusercontent.com/assets/1932211/9663922/305c0a64-5267-11e5-8cc6-35e5425d288e.gif)

[2015-09-04 20:23] paulvi commented on #312
It becomes closer to JSDT, and it should look more like

![image](https://cloud.githubusercontent.com/assets/1614482/9693781/a11d537e-5385-11e5-8dc3-364b7aad6829.png)

![image](https://cloud.githubusercontent.com/assets/1614482/9693785/a96a775a-5385-11e5-8710-49509af4ca17.png)

JSDoc checkbox labels are to long, can you do it shorter but add tip on mouse over

[2015-09-04 20:28] paulvi commented on #311
Looks very neat

How do you record .gif ?

[2015-09-04 20:34] paulvi commented on #306
BTW about wiki, see https://github.com/tiimgreen/github-cheat-sheet#embedding-images-in-github-wiki

[2015-09-04 20:41] paulvi commented on #306
1.0 usually is grandiose relase, but wiki is not logically organized

Read contents below, how many times there is validation?

# Include/Exclude Tern script paths

# ECMAScript 6 (Promise)

# Node  (required module)

#### Hover

#### Validation

## RequireJS (required module)

#### Completion

#### Hyperlink

#### Hover

#### Validation

# Delite

# Tern Hyperlink inside HTML

# Browser Extension

[2015-09-04 21:08] paulvi opened #313 "Tern Explorer is empty"
When/how TernExplorer is updated

![image](https://cloud.githubusercontent.com/assets/1614482/9694538/21488996-538c-11e5-9691-64761655aeee.png)

[code]

[2015-09-05 08:11] mickaelistria commented on #312
@angelozerr Also, not sure if it's related to your question, but the Tern node should probably be a child of the "JavaScript" node in preferences. Many JavaScript developers who are "just" users don't know about Tern, and while tweaking JS stuff, they'll search under the "JavaScript" node.

[2015-09-05 09:35] angelozerr commented on #311
A little bug must be fixed, but it's soon finished and other tern plugin will able to contribute to tern-guess-type to support this feature.

I searched a very simple free software which does that and I have found http://www.cockos.com/licecap/

[2015-09-05 09:37] angelozerr commented on #306
@paulvi I fill N&N as soon as I implement feature. If you think it's not very well organized, please change it. Thanks.

[2015-09-05 09:40] angelozerr commented on #313
Have you checked Outline tern modules like explained at  https://github.com/angelozerr/tern.java/wiki/Tern-Outline-support

This Tern Explorer is refreshed as soon as you are typing JS code. If it doesn't work, please try with a simple code like "var a;".

[2015-09-05 09:45] angelozerr commented on #312
Yes but JSDT uses that only for Validation. Tern uses this ECMA config for completion too (and soon validation when tern-lint will support validation for ES modules, Class).

What do you mean? Change "Version" to "ECMAScript compliance level"? For JSDoc, it's not the same than JSDT. The JSDoc Tern config is used to know if JSDoc must be used or not, but it doesn't validate the syntax of JSDoc.

[2015-09-05 09:47] angelozerr commented on #312
The problem with that is "JavaScript" node belongs to JSDT and Tern UI have none dependencies to JSDT. If I do that, I must change my all screenshot of wiki (a lot of work too).

[2015-09-06 09:35] angelozerr opened #314 "Convert to tern project must update ecmaVersion of .tern-project"
When .tern-project doesn't con,tains ecmaVersion, tern use by default ECMAScript 6. The convert to tern project must update ecmaVersion  to 5 like this :

[code]

The ecma5 from the libs must not be added.

[2015-09-06 16:58] angelozerr commented on #279
0.9.4 is now used to format .tern-project with pretty print.

[2015-09-06 16:58] #279 closed

[2015-09-06 17:49] maxandersen commented on #312
you can declare the same category (JavaScript) without having a hard dependency on JSDT and it will still work.
So I would recommend aligning these instead of spreading the settings for javascript across preferences.

[2015-09-07 01:24] angelozerr commented on #312
@maxandersen as I have explained, you can use tern without JSDT.

If I set Tern property page in the JavaScript category (by using category="org.eclipse.wst.jsdt.internal.ui.preferences.JavaScriptMainPage" ) :

 * if project has JSDT nature, there is JavaScript -> Tern
 * if project has NOT JSDT nature, there is Tern

So to avoid having those 2 cases, I prefer having Tern as root node.

[2015-09-07 06:20] mickaelistria commented on #312
If I understood correctly, Max is suggesting you to "copy" the JavaScript category in Tern, either reusing only the label or even the categoryId if it works better. If you do that, then the Preference page should merge the 2 JavaScript categories, providing a single and consistent JavaScript node in Preference UI.

The question is more "what would user prefer" ;)

[2015-09-07 07:20] angelozerr commented on #312
@mickaelistria I have tried several means, but it doesn't work -(:

 * If my project has JSDT Nature, I can have JavaScript/Tern hierarchy if I do like this :

[code]

 * If my project has NOT JSDT Nature, I have Tern hierarchy without JavaScript root node.

If I declare a class MyClass with JSDT ID:

[code]

It works when project has not JSDT nature, but when project has JSDT nature, the JavaSCri

[2015-09-07 08:57] mickaelistria commented on #312
Thanks for those technical details. I now understand better the issue,
and it's indeed an annoying situation... I have no idea how to make it
work as expected at the moment. However, I suggest that, keeping the
current approach, instead of Tern, you name the page "Tern for
JavaScript" or "JavaScript/Tern". I believe it's important that the work
JavaScript can be found in the preference tree, with

[2015-09-08 08:03] maxandersen commented on #312
I don't know any user who prefers to jump across multiple JSDT preferences to use javascript.

This is just an example of where I think tern would be much better of having dependency on JSDT instead of trying be separate and causing additional confusion and inconsistency.

[2015-09-08 08:10] mickaelistria commented on #312
By the way, I agree with @maxandersen on that part. I believe the constraint of avoiding any dependency against JSDT actually has a cost for users who are going to find the UI too scattered, continuing to feel that "Eclipse is not consistent" (quoting many Eclipse users and developers there).
So IMO removing this constraint and adding a dep to JSDT would make usage of Tern more straightforward.

[2015-09-08 08:49] angelozerr commented on #312
@maxandersen @mickaelistria I prefer having none dependencies to JSDT for Core/UI because some other plugins could use tern.java without JSDT which have a lot of dependencies too. The glue between Tern/JSDT are done with those plugins https://github.com/angelozerr/tern.java/tree/master/eclipse/jsdt

But as you prefer really having Tern Preferences inside JavaScript node, I will change the category

[2015-09-08 08:56] mickaelistria commented on #312
I think it's indeed better.

What about the shorter "Infer Types from JSDoc-style type declations". It's generally a bad UI pattern to have a question for a checkbox, checkbox usually tell their affirmative value.

What about "Put higher priority to types found in comments (override inferred types)"

Maybe the page would rather use the SWT Group widget to group parts (ECMAScript, JSDoc) in a more

[2015-09-08 10:24] paulvi commented on #306
I was not able to understand, so not able to organize.

If it were more organized, I could have understood.

It is not bad, it just could have been closer to perfect for a 1.0 release

[2015-09-08 10:24] angelozerr commented on #312
Done via https://github.com/angelozerr/tern.java/commit/4a2f01bfac8b70fc36653f4cacf046af3328a7fb

[2015-09-08 15:57] paulvi commented on #312
[> JSDoc checkbox labels are to long, can you do it shorter but add tip on mouse over](https://github.com/angelozerr/tern.java/issues/312#issuecomment-137844335)

Those label are long, second Michael

:+1:

"make JSDoc-style type declarations to be higher priority"

Can anything be higher than that?

----

JavaScript in preferences should not mean only JSDT.
But if Tern tree is inside JavaScript,

[2015-09-08 16:08] paulvi commented on #312
Well, this thread is named "UI Preferences for ECMAScript compliance + JSDoc"

while there is a lot discussion about "Integration with JSDT" that is #248

[2015-09-08 16:16] paulvi commented on #312
@angelozerr

- [ ] UI Preferences for ECMAScript compliance + JSDoc should not be on Tern root page,
but on some page named with words "JavaScript", "ECMAScript", "Validation", "JSDoc"

like in JSDT

![image](https://cloud.githubusercontent.com/assets/1614482/9740543/e4ff818e-5687-11e5-98a7-f7c40806823a.png)

![](https://cloud.githubusercontent.com/assets/1932211/9664034/c0a9f428-5267-11e5-9eb6-92

[2015-09-08 16:37] paulvi commented on #313
- [ ] Plugin and View should have the same name, e.g. "Tern Outline(r)" or "JavaScript Outline(r)" or just "Outline_r_"

- [ ] There should be workspace-wide preference

[2015-09-08 16:40] paulvi opened #316 "Every project property page should have corresponding preference page."
For example if there is page for "ECMAScript compliance + JSDoc" in project properties, there should be the same page in workspace preferences to set the defaults for workspace.

![](https://cloud.githubusercontent.com/assets/1932211/9664034/c0a9f428-5267-11e5-9eb6-92d17befd130.png)

[2015-09-08 16:41] paulvi commented on #312
- [ ] There should be workspace wide preferences https://github.com/angelozerr/tern.java/issues/316

[2015-09-08 16:47] paulvi commented on #313
I went into project properties, checked Outline, but Tern Explorer is still empty.

Here is current  `.tern-project`

[code]

[2015-09-08 16:58] paulvi opened #317 "tern.java core must not depend on Eclipse"
tern.java core must not depend on Eclipse
https://github.com/angelozerr/tern.java/tree/master/core

And while Java classes do not, build does because it uses parent

[code]

that uses tycho plugin and defines Eclipse repositories

(Maven check all dependencies in all defined repositories)

[2015-09-08 21:55] angelozerr commented on #316
Yes I have though about that, but the problem is that Global Preferences update classic Eclipse preferences and Project Properties update the .tern-project. If I find time, I will try to do that.

[2015-09-09 06:42] maxandersen commented on #312
@paulvi since every UI in Tern will often if not always conflict with JSDT the topic of JSDT integration cannot really be limited to #248.

@angelozerr I like your suggested compromise of having JavaScript/Tern as the category.
Don't understand why you would want to have 2 different preference nodes dependent on what nature is on it. Whether the project has a JSDT nature and/or Tern does not reall

[2015-09-09 08:03] angelozerr commented on #312
Ok, so you mean that I must remove the `?`

@mickaelistria @maxandersen is suggestion of @paulvi please you? Just to explain "treat JSDoc-style type declarations as higher priority", it means that tern uses only the type coming from teh JSDoc. Take a sample :

[code]

 * without this option. `a' is a String and Number type.
 * with this option. `a' is a only String type.

Yes I agree, Tern for glo

[2015-09-09 08:04] angelozerr commented on #313
@paulvi I think it's a bug, I suggest you to open Tern Console and you will see errors. Please try with a simple code like "var a".

[2015-09-09 08:05] #314 closed

[2015-09-09 08:18] mickaelistria commented on #312
Yes, that's the usual convention.

I'm ok with the "use JSDoc-style type declarations" label.
For the 2nd according to your explanation, wouldn't "When JSDoc-style declarations are available, Infer only from those and exclude other inferences" be more accurate then? In any case, this checkbox seems to deserve an additional tooltip to give a more detailed explanation, and showing your example.

[2015-09-09 09:10] angelozerr commented on #312
Thanks @mickaelistria! And what dou think about "UI Preferences for ECMAScript compliance + JSDoc should not be on Tern root page" :

 * JavaScript
  * Tern
     * ECMAScript
     * JSDoc
     * Modules
     * Validation

[2015-09-09 09:30] mickaelistria commented on #312
It seems to me that the 2 JSDoc settings here are not to configure JSDoc itself, but to configure how Tern will use JSDoc to infer types. So IMO, this is a core top-level setting and would rather be in the Tern top-level page (or a dedicated "Inference" page).
Maybe those options could be shown on several pages? (on JSDoc page, and on the Tern page or an Inference page)
However, I'm not 100% confi

[2015-09-09 09:47] angelozerr commented on #312
Exactly!

Ok, so perhaps I keep my initial suggestion  (set ECMAScript + JSDoc in the Tern property page).

it is already used, no?

[2015-09-09 09:50] mickaelistria commented on #312
Yeah sorry, it's just that they were much visible on the sceenshot, but yes, there are groups.

[2015-09-09 09:56] angelozerr commented on #317
tern.java core has none dependencies to Eclipse. It seems that it's a problem with Maven. @pascalleclercq could you help me with this issue?

[2015-09-09 11:22] angelozerr commented on #312
The ternjs code uses priority for type. When JSDoc "strong" option is setted, it set the type coming from JSDoc with hight priority.

[2015-09-09 11:29] angelozerr commented on #312
@paulvi @maxandersen @mickaelistria after our discussion, here the result :

![ecmascriptuiprefs](https://cloud.githubusercontent.com/assets/1932211/9760605/bda3eb88-56f6-11e5-810e-df541ecc2af3.png)

Is it OK for you?

[2015-09-09 12:44] mickaelistria commented on #312
I like it.
(not related, but having JSHint under JavaScript would be nice too)

[2015-09-09 12:48] angelozerr commented on #312
Cool!

JSHint is not my plugin https://github.com/eclipsesource/jshint-eclipse

But Tern provides teh capability to validate with JSHint https://github.com/angelozerr/tern.java/wiki/Tern-Linter-JSHint

[2015-09-09 15:18] angelozerr commented on #312
Ok I close this issue. thanks @paulvi @maxandersen @mickaelistria for your feedback. If you need some update, please create a new issues.

[2015-09-09 15:18] #312 closed

[2015-09-09 15:21] angelozerr commented on #307
@paulvi can I close this issue?

[2015-09-09 15:28] angelozerr commented on #306
Sorry I had not seen this problem. I have fixed that https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0

@paulvi  Is it ok for you?

[2015-09-09 15:57] angelozerr commented on #312
@maxandersen I have not found solution to add JavaScript category when project has not JSDT nature. So we will have 2 cases that I hav eexplained here https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.1.0#tern-property-pages

[2015-09-10 08:51] maxandersen commented on #312
looks like a good compromise. I can't see a way around having a unified preference without Tern depending on JSDT, so as long as that split is there this will be the consequence.

[2015-09-10 10:16] angelozerr commented on #313
@paulvi I have fixed teh bug, but there are again a little bug which doesn't display your fs variable.

[2015-09-10 12:08] #313 closed

[2015-09-10 12:10] angelozerr commented on #313
@paulvi I have fixed the problem, please test in your side. Here the result:

![fixternexplorerempty](https://cloud.githubusercontent.com/assets/1932211/9787752/97772068-57c5-11e5-83ca-ce9d7e035270.png)

[2015-09-10 15:05] pgnd opened #318 "Request for Foundation5 ContentAssist support"
Similar to existing Bootstrap3 support, tern-bootstrap, requesting inclusion of ContentAssist for Zurb's Foundation 5 (http://foundation.zurb.com/)

The js API docs are here

  http://foundation.zurb.com/docs/javascript.html

Foundation5's source repo is here: https://github.com/zurb/foundation

Foundation6 is coming soon: http://zurb.com/article/1403/foundation-6-prototype-to-production

[2015-09-10 15:24] angelozerr commented on #318
It seems that Fondation 5 provides too :

 * utilities class : http://foundation.zurb.com/docs/javascript-utilities.html
 * widget classes like tabs http://foundation.zurb.com/docs/components/tabs.html#tabs-deeplink-3

It seems doc is not generated from JS code (no JSDoc comments) so we must write at hand the JSON Type Definition.

[2015-09-10 15:52] pgnd commented on #318
Re: Doc, take a look at this comment from a Zurb employee

https://github.com/zurb/foundation/issues/4710

	gakimball commented on Jan 30

		@adamj88 Yes! We're building a tool that will generate documentation from Hologram,
		SassDoc, and JSDoc. This will also make it easier to design more detailed documentation
		for the variables and mixins. (See the Neat documentation for an example.)

Not yet

[2015-09-11 04:26] paulvi commented on #307
let me first try to reproduce

I will close myself

[2015-09-12 11:30] paulvi commented on #317
If there were super build https://github.com/angelozerr/tern.java/issues/271
than it would not matter if core in separate git repo, it would be build easily.

[2015-09-13 15:49] paulvi opened #319 "Tern Explorer - one var is missing"
in example from #313 `fs` in not in view

![image](https://cloud.githubusercontent.com/assets/1614482/9837457/0d2750d6-5a72-11e5-926c-a6c787ecb8a1.png)

[2015-09-13 15:51] paulvi commented on #319
well, maybe that is version issue

![](https://cloud.githubusercontent.com/assets/1932211/9787752/97772068-57c5-11e5-83ca-ce9d7e035270.png)

[2015-09-13 15:55] paulvi commented on #306
Now it is even worse , without my changes as at https://github.com/angelozerr/tern.java/issues/306#issuecomment-137847412

e.g. what would https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0#hover-1 mean?

Skip for now, just remember for next time.

[2015-09-13 17:07] angelozerr commented on #319
Yes it was a problem that I had fixed https://github.com/angelozerr/tern-outline/commit/623e2268267d1cbc596a12a5c646e8b1315294e0#diff-3ceb5f0d824cdd1f0fd86b92126d1737R76

Thanks @paulvi to play with Tern Explorer. I think tern-outline starts working good, but there are 2 improvements to do:

 * improve performance whith a big JavaScript files (Eclipse can freeze when UI is refreshed, I must study

[2015-09-13 23:31] angelozerr commented on #306
Is it better https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0 ?

[2015-09-14 05:41] angelozerr opened #320 "Support for Phaser"
Support for http://phaser.io/ with https://github.com/angelozerr/tern-phaser

[2015-09-14 07:30] angelozerr commented on #320
See https://github.com/angelozerr/tern.java/wiki/Tern-&-Phaser-support

![](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_PhaserObjectLiteralCompletion.png)

[2015-09-14 16:42] paulvi commented on #306
I see the same old only level 1 and level 2 sections, with each drawing horizontal line.

[2015-09-14 17:05] angelozerr commented on #306
An now?

[2015-09-14 17:06] angelozerr commented on #319
@paulvi why have you reopned this issue? It is fixed. Please retry with last version of tern.java.

[2015-09-15 08:46] demonfiddler opened #321 "NPE prevents Import > Install Tern Modules wizard initialization"
For me, the import wizard never actually gets displayed. The error log shows the following exception:

java.lang.NullPointerException
	at tern.eclipse.ide.tools.internal.ui.wizards.repository.InstallTernModulesSelectionWizardPage.validate(InstallTernModulesSelectionWizardPage.java:286)
	at tern.eclipse.ide.tools.internal.ui.wizards.TernWizardPage.dialogChanged(TernWizardPage.java:80)
	at tern.ecli

[2015-09-15 08:51] angelozerr commented on #321
@demonfiddler this module import is was just a POC. I will fix this bug, but if you wish to have this feature, we need to finalize https://github.com/marijnh/tern/issues/424

[2015-09-15 09:24] demonfiddler commented on #321
Thanks for the (very) quick response @angelozerr. I'd seen the https://github.com/angelozerr/tern.java/issues/195 thread, which is how I learnt of the wizard's existence. Then I found it in my installed tern-feature.feature.group_1.0.0.201508302102 and tried to use it.

Actually, I'm writing an Eclipse plug-in to add support for a  large (2.5 MB) custom library that is generated from XSDs. I found

[2015-09-15 09:37] angelozerr commented on #321
Today it doesn't exists this extension point. I would like to do that, please create an issue for that.

I understand. If you wish to test your JSON Type Definition inside tern.java, you have 2 choices :

 * copy/paste your JSON Type Definition in your root project and go at JavaScript / Tern / Developement and check "Loading local plugin?". Apply your project preferences and reopen it. You should

[2015-09-15 09:55] demonfiddler commented on #321
Thanks for your responses and kind offer to commit your generator. I won't trouble you to do this for now, as I need to consult with my management as to whether we'll be taking our efforts any further at this juncture - it's been quite time-consuming and we haven't achieved the results we'd hoped for.

One further thought: the default tern repository currently enumerates Tern modules as children o

[2015-09-15 11:59] demonfiddler opened #322 "Eclipse extension point for third party repository and/or tern module contributions"
Raised at Angelo's invitation, see https://github.com/angelozerr/tern.java/issues/321.

The proposal is for an Eclipse extension point that would enable third party plug-ins to contribute a custom Tern repository (~~or Tern modules~~). These contributions would then be automatically included in the list of available modules when configuring your Tern Eclipse IDE workspace or Tern project. The exte

[2015-09-15 14:10] angelozerr commented on #322
@demonfiddler at first ternjs is able to load external tern plugins/JSON Type Defiition with convention name tern-* See http://ternjs.net/doc/manual.html#plugin_third_party

In tern.java,I have called that tern repository which follow node modules structures :

 * node_modules
  * acorn
  * tern
  * tern-*

The tern folder is the official tern project which hosts plugins+defs folder which contains

[2015-09-15 17:33] #321 closed

[2015-09-15 17:37] angelozerr commented on #322
@demonfiddler I have started to implement this extension point. Please see sample of the extension point with the project https://github.com/angelozerr/tern.java/tree/master/samples/ternModuleInstalls which install tern-library tern module.

metadata is not supported for this moment. Tell me if you like, if it works for you. Any PR are welcome if you need to improve it.

[2015-09-16 08:55] demonfiddler commented on #322
@angelozerr, the new extension point looks good - thanks, I'll experiment with it today. The basic approach to managing custom repositories seems sound.

Also re. your first point I hadn't realised that you don't actually need to create a Tern plug-in to load a custom JSON defs file, which is useful to know.

[2015-09-16 09:01] angelozerr commented on #322
Glad the extension point seems to please you, but it should be improved:

 *  today it unzip every time the tern plugin when Tern repository is loaded.
 * you can not use a folder (you must use a zip or jar)

I prefer creating a tern plugin which uses a JSON Type Definition, because you can load it easily with Web Browser. If you must load JSON from the web browser, you need Ajax and for local HTM

[2015-09-16 15:26] paulvi commented on #319
because you have mentioned several points, and possibly there are no open issues for those.

it is up to you.

[2015-09-16 15:31] angelozerr commented on #319
Ok I understand. I will create an issue per idea and close this issue.

[2015-09-16 16:01] demonfiddler commented on #322
I finally got it working, took a while to figure out how to load my *.json def file as the Node.js world is somewhat unfamiliar territory for me. My plug-in actually loads the defs from a sibling JSON def in the plug-in directory since the JSON will be generated from the JavaScript which is generated from the XSDs as part of the build process.

Right now I'm focussed on getting this working in Ecl

[2015-09-16 16:16] angelozerr commented on #322
At first, external plugin and JSON Type Definition are managed in teh same mean (creat ea folder with tern-mylibrary + create a package.json with a main field which is linked to the JS or JSON file).

When metadata will be supported, you will able to do that. You will have mylibrary.zip which contains mylibrary.json, package.json (which declare a main to mylibrary.js) and a metadata file with "def

[2015-09-16 16:21] demonfiddler commented on #322
Cool, sounds good!

[2015-09-17 12:08] angelozerr opened #323 "Extension point to generate tern plugin/JSON Type definition from JavaScript sources"
Tern is able to analyse any JavaScript files sources to provide completion, hyperlink, hover, refactoring, but in some cases it is better to have a tern plugin/JSON Type definition :

 * when the JavaScript framework is complex and provides complex feature like `node.js` `require` function which returns a special type according parameter id:

[code]

 * when there are a lot of JavaScript files, te

[2015-09-18 12:39] vrubezhny opened #324 "Tern.java should not propose the Hyperlinks (like "Tern - Go to definition") if it's really cannot execute the hyperlink"
Since there could be more than one Hyperlink shown for a position in JSP/HTML text, the Hyperlinks are to be shown only if the real transition is available for the Hyperlink.

In some cases, "Tern - Go to definition" link is shown first in the link of possible hyperlinks, but if the transition is not possible for the Hyperlink, no other Hyperlinks can be executed by defaullt (by pressing "F3" shor