[2015-09-18 12:46] angelozerr commented on #324
@vrubezhny if you wish I display "Tern - Go to definition" link  only if tern can retrieve definition, it means that I must call every time tern server to execute the find of definition when user open hyperlink. I have done this choice to execute the call of tern server only when user opens hyperlink (and not when he does Ctrl+Click) to have a good performance when user does Ctrl+Click (it avoids

[2015-09-18 12:49] alexeykazakov commented on #324
Can we do something with these tern hyperlinks so they won't be the first one if there are other hyperlinks available? @dazarov do you know if it's possible?

[2015-09-18 12:57] angelozerr commented on #324
An other idea to avoid freezing Eclipse when user does Ctrl+Click, is that we could execute tern server with async mode like @piotrtomiak have done for async completion https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0#async-tern-completion

@piotrtomiak do you know if it's possible and easy to call "definition" query type with asynch mode like you have done for "completion" qu

[2015-09-18 15:14] angelozerr commented on #324
@vrubezhny @alexeykazakov now I return Hyperlink for Tern & Angular only if definition can be found. The execution of the tern "definition" query is executed with async mode, it was easy to do (great job @piotrtomiak!)

Tell me if it works in your side.

[2015-09-18 15:18] #320 closed

[2015-09-18 15:19] #311 closed

[2015-09-18 15:24] piotrtomiak commented on #324
@angelozerr heh I haven't even been able to reply, you were so fast :P

[2015-09-18 16:31] boniatillo-com opened #325 "Auto-completion is not including the declaring type"
In this image you can see the completion popup  shows the name of the members, but not the declaring type.

![image](https://cloud.githubusercontent.com/assets/12187299/9964922/ff1ae240-5e00-11e5-8659-9599e68e11ff.png)

It will be nice to see a popup like:

[code]

[2015-09-18 16:43] angelozerr commented on #325
I'm afraid that it's not possible because ternjs doesn't provides this information (or we must create a PR to do that to support it).

@boniatillo-com you can see JSON request/response with Tern Console (to activate it go to Tern / Developmement and check "Trace on console") . With Tern console you will able what ternjs returns.

[2015-09-18 17:11] dazarov commented on #324
@alexeykazakov, we cannot cotrol order of hyperlinks.

But there is something we can do..
We can use keyModifier for Hyperlink Detector (See: http://help.eclipse.org/mars/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Forg_eclipse_ui_workbench_texteditor_hyperlinkDetectors.html)

So we can set some (for instance: Alt+Shift) modifier for "Tern - Go to definition"
No

[2015-09-18 17:37] boniatillo-com commented on #325
What is a PR?

I see tern has a "type" request to "query the type of something", and it works in Tern IDE when you hover an element. Maybe it can use that query to get the type of the var "b" and then show it in the proposals.

[2015-09-19 12:16] paulvi commented on #311
BTW, usually user has already types something as

[code]

convention would suggest to use variable name as first suggested module name.

[2015-09-20 19:53] angelozerr commented on #311
I don't know if it's easy to implement. Please create an issue at https://github.com/angelozerr/tern-guess-types/issues

[2015-09-20 21:52] angelozerr commented on #325
Pull Request. I mean do a contribution to ternjs.

When you hover b variable, you can see that is B type but not when you hover helloB?

To be honnest wiyh you, I have no time to investigate your proposition today, perhaps you should try to explain your wish to ternjs project?

[2015-09-21 10:07] piotrtomiak opened #326 "Contributors list removed from headers"
@angelozerr @pascalleclercq I have started merging the newest version of Tern with our codebase and I've found that the license/contributor headers have been cleared up and all information about our contributions to your project is no longer present in the source code. Everything was cleared up with commit 752e45652a3422d099f6c1fff3e53c9bdb8b8506.

[2015-09-21 11:20] angelozerr commented on #326
argh -( sorry!!!!!!!!! @pascalleclercq is it possible to fix that (hope it will not an awfull task)

[2015-09-21 11:24] angelozerr opened #327 "Load Tern Module Metadata from tern plugin"
The *.metadata.json are hosted in the tern repository. It should be cool if this metadata file could be hosted inside tern plugin to fix https://github.com/angelozerr/tern.java/issues/322#issuecomment-140791955

[2015-09-21 11:24] angelozerr commented on #326
@pascalleclercq if you have no time, I will do that at hand (I'm preparing a big refactoring with Tern Module Metadata for https://github.com/angelozerr/tern.java/issues/327)

[2015-09-21 12:18] piotrtomiak commented on #326
@angelozerr thanks! Maybe some partial commit revert would work?

[2015-09-21 12:23] angelozerr commented on #326
I will do that at hand soon.

[2015-09-21 13:01] paulvi commented on #311
This usually is templating.

In Node if variable is named `http` then it is likely meat to be for `require("http")`

[2015-09-21 16:09] #327 closed

[2015-09-21 20:34] angelozerr commented on #322
@demonfiddler now you can add metadata file in the tern plugin. See sample https://github.com/angelozerr/tern.java/tree/master/samples/ternModuleInstalls/modules/tern-mylibrary/metadata

I close this issue. If you have some bugs, please create an aother issue. Thanks.

[2015-09-21 20:34] #322 closed

[2015-09-21 21:22] angelozerr commented on #326
@piotrtomiak I have fixed the problem (hope I have not done some errors)

@vrubezhny I have not seen your name in the header, tell me of I must change something. Thanks.

[2015-09-21 23:53] vrubezhny commented on #326
@angelozerr  I'm ok with these changes. (there was no my name referenced previously so actually any change on header is acceptable for me... in case if you're not changing the license, off course :) )

[2015-09-22 07:16] angelozerr commented on #326
Next time, I think it should b every cool if you had your name in the license header, you provide too so cool feature. Thanks.

No problem with that :)

@piotrtomiak is it ok for you? If it's OK, I will close this issue.

[2015-09-22 07:27] piotrtomiak commented on #326
@angelozerr thanks! looks fine :)

[2015-09-22 08:00] angelozerr commented on #326
Cool!

[2015-09-22 08:00] #326 closed

[2015-09-22 09:46] paulvi opened #328 "ES6: Map for .. of support"
When following https://iojs.org/en/es6.html

### Which ES6 features ship with io.js by default (no runtime flag required)?

- Collections

     - Map

![image](https://cloud.githubusercontent.com/assets/1614482/10015228/aa47d77e-6151-11e5-8e1e-13b299753600.png)

is example from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map

[2015-09-22 09:48] angelozerr commented on #328
What is the problem with this issue? If it is about errors validation, it's because of JSDT validator.

[2015-09-22 09:48] paulvi commented on #328
Actually this example can't be run by node v4.1

[code]

[2015-09-22 09:52] paulvi commented on #328
yes, removing `<nature>org.eclipse.wst.jsdt.core.jsNature</nature>`

and setting in `.jshintrc`
	"esnext" : true, // Allow ES.next (ECMAScript 6) specific features such as `const` and `let`.

clears all

![image](https://cloud.githubusercontent.com/assets/1614482/10015400/85a8de9e-6152-11e5-81fc-14440a34bb63.png)

[2015-09-22 09:52] #328 closed

[2015-09-22 09:57] angelozerr commented on #328
The Tern ES6 support is for completion, hyperlink (I must implement tern-lint for validation).

JSDT has 2 limitations (Validation + Syntax coloration) that I have explained here https://github.com/angelozerr/tern.java/wiki/Tern-&-ECMAScript6-support#jsdt-limitation and see https://gist.github.com/vrubezhny/18afdbf1194b59604c7d#file-wtp-jsdt-development-txt

I hope JSDT will improve that

[2015-09-22 10:32] paulvi commented on #289
Will view id `tern.eclipse.ide.ui.views.TernExplorerView` stay the same ?

[2015-09-22 12:10] angelozerr commented on #289
What is the problem with this id? In the future, I hope JSDT will give the capability to override Outline.

[2015-09-22 15:31] paulvi commented on #289
It is added to Node perspective in https://github.com/Nodeclipse/nodeclipse-1/commit/b844c875779131f405a1f922c307a8e4527d6581

[2015-09-22 23:05] angelozerr commented on #289
Ok, this id should not changed, except whe JSDT will be available to override Outline (In this case I will remove Tern Explorer)

[2015-09-23 03:45] paulvi commented on #289
That would OK then.

[2015-09-23 06:18] paulvi opened #329 "Tern Outline for .json files"
I guess Tern Explorer #289 could easily give outline for .json files, e.g. `tern-project`

[2015-09-23 06:48] angelozerr commented on #329
For json, I prefer using Eclipse WTP JSON https://github.com/angelozerr/eclipse-wtp-json which is not stable but it's now a WTP Incubator project.

[2015-09-23 06:48] #329 closed

[2015-09-23 07:05] paulvi commented on #309
By the way, I am going to cut and release Nodeclipse 1.0 see http://www.nodeclipse.org/history

[2015-09-23 07:09] paulvi commented on #329
OK

[2015-09-23 07:10] angelozerr commented on #309
Pay attention with 1.1.0, it is not released and there are some bugs again like node mongoose, etc which works not more.

[2015-09-23 07:12] paulvi commented on #309
It is OK, there is dependency or expectation of particular version.

For users recommendation would be just to have the latest stable version
https://github.com/angelozerr/angularjs-eclipse/issues/163

[2015-09-23 15:57] angelozerr commented on #324
@vrubezhny have you tested, can I close this issue?

[2015-09-24 00:28] paulvi opened #330 "Question: where is tern repository and module list now?"
where is tern repository and module list now?

[2015-09-24 00:31] paulvi commented on #330
This file is outdated https://github.com/angelozerr/tern.java/blob/master/core/tern.core/README.md

Before it was in `core/tern.core/metadata/angular.metadata.json` ref #191

[2015-09-24 00:52] paulvi commented on #330
OK found at
core\ternjs\metadata

[2015-09-24 00:52] #330 closed

[2015-09-24 13:48] demonfiddler opened #332 "[Enhancement] ternModuleInstalls to support folders within a plug-in JAR"
The tern.eclipse.ide.core.ternModuleInstalls extension point has a plugin.xml#/plugin/extension[@point='tern.eclipse.ide.core.ternModuleInstalls']/moduleInstall@src attribute which currently provides the plug-in-relative path to a **ZIP file** containing the Tern module(s) to be deployed to the Tern repository. The plug-in is expected to be installed as a directory rather than a JAR.

It would be

[2015-09-24 13:48] demonfiddler commented on #322
Thanks Angelo, the metadata works now. Have logged an enhancement request https://github.com/angelozerr/tern.java/issues/332 per my earlier comment in this thread.

[2015-09-24 13:52] angelozerr commented on #332
@demonfiddler I'm very busy, do you think it's possible to do a PR with your idea? Thanks!

[2015-09-24 14:02] demonfiddler commented on #332
@angelozerr I'll ask my boss whether we could do this as a contribution to the project. Cheers :-)

[2015-09-25 08:04] demonfiddler commented on #323
Thanks, @angelozerr this would ceratinly be a useful addition to the Tern IDE toolset. BTW my apologies for the delayed response - too many things happening at once here.

In our own particular case we've already (partially) solved the problem of how to generate the JSON definition, since this must necessarily be done as part of our automated Maven build rather than manually in an IDE.

[2015-09-25 10:06] paulvi opened #333 "In proposals function should be before function reference"
In proposals function should be before function reference

![image](https://cloud.githubusercontent.com/assets/1614482/10097978/f6ccd198-63af-11e5-8d9a-7bcdc17fad38.png)

because usually we are selecting function.

[2015-09-25 10:54] angelozerr commented on #333
@paulvi I have done this choice because when you have several signature, the function is reference is on the bottom and it's not easy to select it.

Perhaps it could be a preferences?

[2015-09-25 11:47] angelozerr opened #334 "Create JSDoc comments with type info."
JSDT provides the capability to generate JSDoc for function, variable but without type. It should be cool if JSDT could delegate the JSDoc comments creating. After that tern.java could integrates https://github.com/angelozerr/tern-comments-generator. Here a demo with CodeMirror:

![](https://github.com/angelozerr/tern-comments-generator/wiki/images/CodeMirrorGenerateJSDocComments.gif)

You can pla

[2015-09-25 11:49] angelozerr commented on #19
Today it works if we create a tern project liek a tern plugin or if we set the JSON TYpe Definition in the root of the project and by checking "" from the Tern Development.

[2015-09-25 11:49] #19 closed

[2015-09-25 11:53] angelozerr commented on #323
Thanks @demonfiddler for your answer. I will wait to see if a lot of people could be interested with this feature to implement it.

[2015-09-25 11:55] angelozerr opened #335 "[Tern Outline] Improve performance whith a big JavaScript files"
Tern Outline can freeze Eclipse when the outline tree UI is refreshed, I must study how to fix that:

 * refresh only the tree item which must be refreshed
 * support outline without searching type?

[2015-09-25 11:56] angelozerr opened #336 "[Tern Outline] ES6 support"
Display ES6 features in the tern outline like:

 * ES6 class (done) and perhaps extends classes
 * function of ES5 class. See https://github.com/angelozerr/tern-outline/issues/6
 * ES6 import with specifiers.

[2015-09-25 11:59] angelozerr opened #337 "[Tern Outline] Extension of outline"
It shoud be cool if Tern Outline could be extended to displays other items like:

 * Angular controller, directives like https://github.com/angelozerr/angularjs-eclipse/wiki/Angular-Explorer-View (after that we will able to remove this View)
 * Grunt/Gullp tasks like https://github.com/angelozerr/jsbuild-eclipse/wiki/Getting-Started#build-explorer (after that we will able to remove this View)

[2015-09-25 12:00] angelozerr commented on #319
@paulvi I close this issue, I have created several issues:

 * https://github.com/angelozerr/tern.java/issues/335
 * https://github.com/angelozerr/tern.java/issues/336
 * https://github.com/angelozerr/tern.java/issues/337

[2015-09-25 12:00] #319 closed

[2015-09-25 12:01] angelozerr opened #338 "Ctrl+O"
It should be cool if tern.java could provide Ctrl+O like JSDT.

For that JSDT should gives the capability to override Ctrl+O.

[2015-09-25 12:02] angelozerr opened #339 "Ctrl+Shift+G"
It should be cool if tern.java could provide Ctrl+Shift+G like JSDT.

For that JSDT should gives the capability to override Ctrl+Shift+G.

[2015-09-25 12:25] vrubezhny commented on #334
@angelozerr sure, please create a Bugzilla for it

[2015-09-25 14:28] jabby commented on #333
I agree with @paulvi. A preference to set this is a good idea.

Maybe it should be set by default with function before reference ?

[2015-09-25 15:58] paulvi commented on #335
Can UI refresh be after separate Job thread is finished.

i.e. not to do on main UI thread

[2015-09-25 16:00] piotrtomiak commented on #335
There is just one UI thread in SWT. If you refresh whole huge tree, app will hang :)

[2015-09-25 16:01] paulvi commented on #333
@angelozerr

Just to clarify, it should be as

[code]

unfortunately that is not natural order.

And possibly user needs get used to press down....

[2015-09-25 16:05] paulvi commented on #333
BTW, `:` goes after `(` in ASCII http://www.asciitable.com/

so removing space in `start : fn` would solve

[2015-09-25 16:06] angelozerr commented on #335
I have tried to do that, see:

https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.ui/src/tern/eclipse/ide/internal/ui/views/TernContentOutlinePage.java#L107

But I'm not a big killer with Job and Thread. I have tested with big file like angular.js and Eclipse freezes -( Any contributions, ideas are welcome!

[2015-09-25 16:07] paulvi commented on #334
:+1:  this will be cool

[2015-09-25 16:09] angelozerr commented on #334
Thanks, but it's just a POC, it need to improve a lot (like do teh same thing for variable, etc)

[2015-09-25 16:10] paulvi commented on #334
I just vote on things I want to follow.

The same on bugzilla, where there is button for that.

[2015-09-25 17:06] angelozerr commented on #333
Yes I have understood, but if you take jQuery animation, the referenced function is on the bottom:

![jqueryanimate](https://cloud.githubusercontent.com/assets/1932211/10106989/29987b2e-63b8-11e5-880a-28b6b54d56d6.png)

@vrubezhny @dgolovin @mickaelistria @maxandersen @pascalleclercq @gamerson @fbricon @piotrtomiak what do you prefer?

[2015-09-26 05:35] paulvi commented on #333
OK, I see. In some places it is better as it is.

So let it be so. One can select function reference and send  type `(`

[2015-09-26 05:53] paulvi commented on #335
- [ ] There should not be processing if the View is minimized.

- [ ] while there is performance problem do no immediately refresh with `redone = true;` It will make things worse.

https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.ui/src/tern/eclipse/ide/internal/ui/views/TernContentOutlinePage.java#L83`

- [ ] use AtomicInt numberOfRefreshesToDo (+1 at entry, -1 at exit

[2015-09-26 13:11] angelozerr commented on #299
@piotrtomiak is there any chance that you could work on this issue since you have improved minimatch.java to check that minimatch.java is well integrated to tern.java. In other words write tests for:

 * check validation
 * check completion

Thanks for your help!

[2015-09-28 10:01] maxandersen commented on #333
it sounds like sorting is done based on ascii ordering of the string proposal ? That is almost always never the right choice.

If the sorting was done by type of "most likely" + complexity (i.e. sort by function vs method vs matching returntype and then number of parameters) and *then* alphabetically the sort would be what I think most would expect.

But if such sorting is not possible currently t

[2015-09-28 16:03] piotrtomiak commented on #299
I'll look into it tomorrow or the day after.

[2015-09-28 16:39] angelozerr commented on #299
Cool thanks!

[2015-09-28 17:41] angelozerr commented on #335
@paulvi Ia PR should be better, please.

@piotrtomiak is there any chance that you work on this issue if MyEclipse is interested with tern outline? I would like to improve it like ES6 support. thanks!

[2015-09-29 08:33] maxandersen commented on #333
If you look into eclipse JDT or even WTP xml sorting they have extra metadata to provide a relevance score which is then what is sorted by besides just plain asciisort.

Would be a good thing for tern to allow more than just string sorting.

[2015-09-29 08:36] angelozerr commented on #333
Yes @maxandersen you are right, but I don't know if tern can support that (in standard).

[2015-09-29 08:39] piotrtomiak commented on #335
@angelozerr I will work on this. We are now integrating the newest version and performance is very important to us :) You should expect a commit this week.

[2015-09-29 08:58] angelozerr commented on #335
@piotrtomiak great!

So I can spend my time to support tern outline with ES6 like class declaration , class expression, module imports, etc. I think I will have something this week.

As you are patching JSDT if I understand, you will able to use in the Outline View the Tern Outline because TernContentOutlinePage extends org.eclipse.ui.views.contentoutline.ContentOutlinePage.

[2015-09-29 09:16] piotrtomiak commented on #335
Exactly :)

[2015-09-29 17:26] piotrtomiak commented on #299
@angelozerr Could you please set up the project and testing framework around it? I guess it would be tern.eclipse.ide.core.tests. It will take some time for me to figure out how to get tests running and you already have experience with core tests. I could later on fill it up with test cases.

[2015-09-29 18:41] angelozerr commented on #299
@piotrtomiak I havce no idea for th emoment how to test it, but let's me study that.

[2015-10-03 09:59] neothemachine commented on #234
I'm new to tern.java and I can't get eslint to work. It doesn't do any validation (except in html files). When I use jshint for example, everything works. So there is a bug somewhere I think. I use ES6.

[2015-10-03 13:20] angelozerr commented on #234
I have tried with just:

[code]

And I have the error `[ESLint]: Unexpected end of input`.

Please give me more info like version of tern.java, your config, your JS code that you try to validate etc. The better thing is that you share your project.

[2015-10-03 13:50] neothemachine commented on #234
Eclipse 4.5.0, Tern 1.0.0.201508302102.

My project is a general project where I did configure -> add tern. I use
a local nodejs installation (0.12.0) on Windows (64bit). In the project
settings under Tern, in Modules I enabled ECMAScript (6), Completion
Guess, JSDoc, Outline, and ESLint. And in the ESLint settings under
Validation, the checkbox "Enable?" is ticked.

The project is open source:
ht

[2015-10-03 14:14] angelozerr commented on #234
Thanks @neothemachine for your info.

As you use ES6, I suggest really that you install [1.1.0](https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.1.0) (see https://github.com/angelozerr/tern.java/wiki/Installation-Update-Site) which provides [ES6 support](https://github.com/angelozerr/tern.java/wiki/Tern-&-ECMAScript6-support) for ES6 class, modules, templates etc.

Please note tha

[2015-10-03 14:24] neothemachine commented on #234
I updated to 1.1.0 but it still doesn't work. In the console I see that eslint gets triggered. Output:
[code]

[2015-10-03 14:41] angelozerr commented on #234
With trace it's more easy to understand the problem:)

Ok there is a bug with tern-eslint. When you see:

-----------------------------------
Tern response#eslint with 34ms:
{"messages":[{"message":"Unexpected reserved word","severity":"error","from":-1,"to":0,"file":"leaflet-coverage/controls/ParameterSync.js"}]}
-----------------------------------

the from is equal to -1, so editor can not disp

[2015-10-03 14:47] neothemachine commented on #234
I'm a little confused. You say I cannot configure ESLint with ES6. In the ESLint project property page I can set a path for the eslint.json and for that I set "D:\...\eslintrc.json" and eslintrc.json is taken from https://github.com/feross/eslint-config-standard and has `"es6": true` and others. Isn't that enough?

[2015-10-03 14:59] angelozerr commented on #234
Yes you are right, you must do that, but as I said you, tern-eslint doesn't use this configuration hard coded config https://github.com/angelozerr/tern-eslint/blob/master/eslint.js#L11

I must improve tern-eslint to configure ESlint like I have done for JSHint https://github.com/angelozerr/tern-jshint/blob/master/jshint.js#L59

[2015-10-05 06:04] angelozerr commented on #234
@neothemachine please re-install 1.1.0, your problems should be fixed (I hope).

[2015-10-05 06:57] angelozerr commented on #335
@piotrtomiak it seems the problem of freeze commes from when the tree is expanded. See https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.ui/src/tern/eclipse/ide/internal/ui/views/TernContentOutlinePage.java#L117

Other project had this problem https://github.com/palantir/eclipse-typescript/issues/50

But JSDT have not this problem, perhaps it compute a delta kind to refr

[2015-10-05 08:41] neothemachine commented on #234
Thanks for that, it works. There are some other things but I will create new issues for that. I think this issue can be closed as the basic integration is done.

[2015-10-05 08:46] neothemachine opened #342 "[ESLint] Allow absolute paths for eslint.json"
Since config files are [now](https://github.com/angelozerr/tern.java/issues/234#issuecomment-145439763) exchangeable it would be nice if it is possible to also put an absolute path for ESLint's json file. If I have several projects then I might not want to copy the same eslint.json into each project.

[2015-10-05 08:49] neothemachine opened #343 "Support for defining default eslint.json"
I use the same code style in all my projects, so it makes sense to me if I could just configure a default eslint.json file via an absolute path (outside any particular project) in the central preferences, in essence providing a different default than the built-in default of tern-eslint.

[2015-10-05 12:57] angelozerr commented on #342
It looks like same feature than https://github.com/angelozerr/tern.java/issues/297 (but for JSHint).

[2015-10-05 13:01] neothemachine commented on #342
True! Didn't see that. So there's demand, which is good :)

[2015-10-05 13:13] angelozerr commented on #342
If I understand your need. You wish to select an eslint.json from an another project (eg: commons-config). If you wish to do that I think you can do it by setting it the value at hand ../commons-config/eslint.json

[2015-10-05 13:15] neothemachine commented on #342
Not another project, but any file on my system. I really like to put it
an absolute path like /foo/bar/eslint.json (or the equivalent on Windows).

[2015-10-05 16:12] angelozerr commented on #343
I will do that when I will find time.

[2015-10-05 16:17] angelozerr commented on #342
Ok I have improved the UI, now you can select eslint.json from project, workspace or file system.

![eslintconfig](https://cloud.githubusercontent.com/assets/1932211/10286253/2fa5735a-6b8d-11e5-8b6f-96a4806d44da.png)

I have added too an error messag ewhen fiel is not valid. Tell me if it works for you.

[2015-10-05 16:19] neothemachine commented on #342
Looks good, I'll test it later. A suggestion to avoid any confusion: I
would use the singular in "Use config file"

[2015-10-05 18:14] jabby opened #344 "[jshint] How to define Globals variable ?"
Hello Angelo, today I tried to use jsHint validation with tern.java.
I have a problem with global variables like angular. In fact all globals variables are not validated by jshint.

I modify the angular-phonecat project here https://github.com/jabby/angular-phonecat

When I use jshint via Webstorm, the animation.js file is ok. No problem referenced by jshint. But with your plugin, I have the follo

[2015-10-05 20:00] jabby opened #345 "[jshint] the plugin try to validate html files"
I don't understand why but on my angular-phonecat fork, tern.java try to validate all html files in the project.

Have you an idea how to disable this behaviour ?

[2015-10-05 20:06] jabby opened #346 "[jshint][ui] improve jshint ui"
In the properties for jshint, there is a vertical scrollbar even the table for option isn't displayed.

![2015-10-05_220141](https://cloud.githubusercontent.com/assets/1883932/10291990/f0714342-6bac-11e5-9610-2b9c545bb28a.png)

An improvement should be te calculate dynamically the height of the part for jshint option.

[2015-10-06 13:59] demonfiddler commented on #332
@angelozerr I have the necessary changes finalised, just awaiting legal approval before I can submit a PR.

[2015-10-06 14:01] angelozerr commented on #332
Great!

[2015-10-07 08:26] paulvi commented on #346
I would expect here similar to jshint-eclipse to show `.jshintrc` file

![image](https://cloud.githubusercontent.com/assets/1614482/10332482/1c9ee258-6d10-11e5-99ed-972a29e8cbd6.png)

[2015-10-07 08:35] angelozerr commented on #346
@jabby please retry last version of tern.java. I hope I have fixed this problem (not sure)

@paulvi I think it's better to have a JSON Editor for that to benefit with completion, validation, synatx coloration. It's the goal of WTP JSON Editor https://github.com/angelozerr/eclipse-wtp-json/wiki/SyntaxColoring#json-comment

[2015-10-07 08:36] angelozerr commented on #344
@jabby please retry, it should work now.

[2015-10-07 08:39] angelozerr commented on #345
As you can have JS in your HTML, validation is done to HTML.

You could use JSDT Include Path to exclude path, but I think validation will be done inside HTML when you are typing.

What is your suggestion to disable HTML validation for JS, a preferences option?

[2015-10-07 09:08] jabby commented on #345
In fact I didn't realise that I can put JS in html file :)

An option to disable analyze of html file would be great for me.

[2015-10-07 09:23] angelozerr commented on #345
Just for validation? Or for both validation and completion?

[2015-10-07 09:31] jabby commented on #345
I think it will be more consistent if the option disable validation and completion.

If I want to write JS in html file, I need completion. So if I enable the validation, tern should also validate the JS in html file.

is there an option to enable / disable autocomplete in html file ?

[2015-10-07 09:32] jabby commented on #344
It works now. Thanks a lot.

[2015-10-07 09:32] #344 closed

[2015-10-07 09:39] angelozerr commented on #345
Yes you are right.

No. I know that MyEclipse has done something for Tern Performance vs Quality https://www.genuitec.com/forums/topic/troubleshooting-performance-issues-in-myeclipse-2015/ I must think about more to implement your idea.

[2015-10-07 09:42] jabby opened #347 "Error in tern console"
I don't know what happen, but sometimes I have the following errors in tern console. I can't share the project. I will try this evening to create a case with an open source project.

-----------------------------------
Tern request#angular_type:
{"query":{"type":"angular","subtype":"type","angularTypes":["controller"],"expression":"DateController","scope":{"module":"demoApp"},"files":["src/vendor/

[2015-10-07 14:42] paulvi commented on #346
@angelozerr I agree, editor should be in Editor

[2015-10-07 14:56] jabby commented on #346
@angelozerr it's better, thank you. Should we keep this issue open for a general improvement of this view ?

Maybe, you can add a button for the file edition and open the associate editor. If there is eclipse-wtp-json, it will be open the jshint editor. Otherwise, it will open the default editor.

[2015-10-07 15:15] angelozerr commented on #346
Eclipse WTP JSON will soon in WTP incubator. I would like to wait that there is a release to have dependency to the JSON Editor. After that my idea is to provide an editor for .tern-project which will use JSON Editor and completion, validation for tern modules.

My other idea is to have the same editor than MANIFEST.MF to configur etern.java with those kind of editor like having a Validation tab,

[2015-10-08 03:10] angelozerr commented on #347
Yes please give me a very simple sample. Thanks!

[2015-10-08 08:21] mickaelistria commented on #338
I believe a better approach would be that JSDT allows Tern to contribute to Ctrl+O by relyin the Common Navigator Framework to compute what to show.
Ref: https://bugs.eclipse.org/bugs/show_bug.cgi?id=479132

I'm working on making Tern.java rely on the suggested JSDT patch to contribute. I'll investigate whether this approach also allow to contribute to Ctrl+O

[2015-10-08 08:41] mickaelistria commented on #339
Shift+Ctrl+G is bound to the org.eclipse.wst.jsdt.ui.edit.text.java.search.references.in.workspace command. You can maybe try to add a handler for this command.
What are the cases where Ctrl+Shift+G is failing for JSDT where it would work for Tern?

[2015-10-08 08:42] mickaelistria commented on #337
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=479132
Switching to common navigator would allow Tern to contribute to outline using CNF framework. I'll soon provide a PR showing that.

[2015-10-08 08:44] angelozerr commented on #338
It seems that Ctrl+O and JSDT Outline are filled with the same tree content. Is Ctrl+O uses JSDT Outline? If it that id JSDT provides the capability to override JSDT Outline with Tern Outline https://github.com/angelozerr/tern.java/wiki/Tern-Outline-support, we need do nothing.

[2015-10-08 08:47] angelozerr commented on #337
Cool!

But pay attention, we must fix problem with freeze of tern outline https://github.com/angelozerr/tern.java/issues/335 before

[2015-10-08 08:50] angelozerr commented on #339
tern.java provides the capability to support node.js framework for instance. In this case, each file are their own scope (it's not a global scope). If I declare a variable in a file, it is private and not global. As JSDT doesn't support node.js framework, if I do Ctrl+Shift+G on a declaration variable, it will search inside other files. To have a global variable kind, you must export it. JSDT does

[2015-10-08 08:51] mickaelistria commented on #338
The quickoutline needs a similar change as Outline in JSDT to be extensible.

[2015-10-08 08:53] mickaelistria commented on #335
As I'm working on refactoring Outline to make it more CNF/JSDT friendly, I've done a few things on this topic that might fix this issue.
Can you please provide steps to reproduce (what projects you have in your IDE while testng, which interesting settings were made, what files a open and what action does trigger the freeze) ?

[2015-10-08 09:04] angelozerr commented on #335
Cool!

 * create a Simple Project
 * Convert to tern project
 * Check that "Outline is checked in the Tern -> Modules project properties
 * copy/paste a big JS file like angular.js in your project
 * Open Tern Outline View
 * The outline should be filled
 * Type some spaces, in angular.js and move the cursor and you will see that cursor will stop to move when tree.expandAll() is done.

[2015-10-08 09:12] angelozerr commented on #339
JSDT provide a queryParticipants, so perhaps I could use it, but I think we should invalidate default JSDT queryParticipants because it will returns wrong result with node.js framework for instance.

[2015-10-08 09:23] jabby commented on #345
I found

[2015-10-08 15:03] mickaelistria commented on #337
The suggested PR is #348
I try to copy-paste a big file and didn't get UI freeze as the parsing jobs seems to be always called in its own thread.

[2015-10-08 15:12] piotrtomiak opened #349 "Support easy debugging of tern.js from within running Eclipse"
I am continuing our discussion from here https://github.com/angelozerr/minimatch.java/pull/4#issuecomment-143226312

![shot_20151008_001](https://cloud.githubusercontent.com/assets/4244523/10370505/7b1bb3e0-6ddf-11e5-823f-02bfdddc8155.png)

So my idea is to add a field like on the screenshot and support Webclipse JS Debugger, but add a framework to provide other debuggers as well. I want to enclos

[2015-10-08 15:18] angelozerr commented on #349
Yes it was my idea too! You mean an extension point to add a new debugger, is that? If it that it should be cool to provide an abstract class which does commons thing (like search a lanch, execute it and retrieve node.js port).

Why? How it works if you have several tern projects in your workspace?

[2015-10-08 15:30] piotrtomiak commented on #349
No, extension point is not needed. We can start debug session by just configuring appropriate launch config. That does not require any dependency between plugins and extension points. So in eclipse.nodejs.core there will be a single "configurer" for each type of debug session. Those configurers will turn on, if installation has appropriate launch config type and will display in the UI.

What happe

[2015-10-08 15:36] angelozerr commented on #349
It means that Launch of Webclipse should be customized with a given port like 1234 and Remote access of tern preferences must be setted to 1234 too. User must do 2 configurations, no? Or perhaps I miss something?

My idea with extension point is that the impl with Webclipse extension point is to :

 * create a Webclipse launch with a random port.
 * extension point return this random port
 * tern

[2015-10-08 15:40] piotrtomiak commented on #349
Exactly, but Webclipse plugin do not have to be involved at all. Eclipse Nodejs plugin can create a Webclipse launch without using a single class from Webclipse. It can also find a free, random port. Thus it can setup a debug launch config and launch it.

Just like with java applications, there can be multiple debugging session with JS. So for each project a new tern server is started in debug mod

[2015-10-08 15:56] angelozerr commented on #349
So the idea is to debug the all tern project or not. The random port will work too.

Great idea @piotrtomiak !

[2015-10-08 16:47] angelozerr commented on #339
@mickaelistria I have started to implement Ctrl+Shift+G with JSDT queryParticpant and tern "refs" query type. It works only for simple variable like :

[code]

But there are some limitations with JSDT:

 * it works only if JSDT know the element type (today just with ILocalVariable, I will improve it for function too). If you execute Ctrl+Shift+G with:

[code]

It doesn't work because JSDT doesn't

[2015-10-08 16:50] angelozerr commented on #349
@dgolovin @vrubezhny @paulvi I think you could be interested with this topic since you have or plan to develop a JS debugger.

[2015-10-08 21:37] neothemachine commented on #342
Works, thanks!

[2015-10-08 21:37] #342 closed

[2015-10-09 06:22] mickaelistria opened #350 "Labels shouldn't say only "Tern""
Many labels only show Tern (such as "Tern Outline", "Configure as Tern project"...). However many JavaScript users are not aware and don't have to know of what Tern is, and reading those labels won't help them to figure out that this is something helpful for them. I suggest that wherever it's written Tern, we write "Tern for JS" or "JS with Tern" in order to make it clear what is the target of Ter

[2015-10-09 07:10] angelozerr commented on #324
@vrubezhny have you tested, can I close this issue?

[2015-10-09 07:12] angelozerr commented on #350
@vrubezhny @dgolovin @maxandersen @pascalleclercq @gamerson @PaulVI @fbricon @piotrtomiak @jabby what do you think about that?

[2015-10-09 07:37] angelozerr commented on #342
@neothemachine I use "Use config files" like WebSorms for JSHint https://www.jetbrains.com/webstorm/help/jshint.html.

[2015-10-09 07:49] gamerson commented on #350
It is considered an "anti-pattern" by Eclipse style guides to prefix all of
your "actions, preferences, views, pages" with the name of the project
"Tern XXX" which is usually done to distinguish it in the UI.

On Fri, Oct 9, 2015 at 9:12 AM, Angelo <notifications@github.com> wrote:

--
Greg Amerson
Liferay Developer Tools
Liferay, Inc. www.liferay.com

[2015-10-09 15:24] angelozerr commented on #350
@gamerson you mean that we must remove Tern, but which name can we use :

 * "Convert as Tern project" become "Convert as ? project"
 * change "Tern Outline" to  "? Outline"?

[2015-10-09 16:28] jabby commented on #350
For Outline, I think that `JavaScript Outline` is a good choice.

Mickael's proposal is a good choice too.

In fact developers of my client don't know anything about tern. Few developers know this technology. Others don't know and don't care about how the completion is provided.

[2015-10-12 02:11] gamerson commented on #350
@angelozerr  "Convert as Tern project" is ok.  That is descriptive and informative.  The practice that I was mentioning was where you "prefix" actions, menus, prefs, in order to differentiate tern.java contributions.  So something like:

Tern > Do something javascript related action

Those Should just be located where other Javascript actions are.  So "Tern Outline" would be just "Outline" or "jav

[2015-10-12 08:27] paulvi commented on #350
Tern-Outline is also name of tern plugin that is used by tern

https://github.com/angelozerr/tern-outline/issues/5 "Plugin and View should have the same name Tern-Outline"

While @angelozerr promotes TernIDE as brand, and is promoting others to write tern plugins and modules, those who use tern.java as dependency would like to be it unnoticeable.

[2015-10-12 08:43] paulvi opened #352 "support PhantomJS and SlimerJS, CasperJS"
Please support  PhantomJS http://phantomjs.org/ and SlimerJS http://slimerjs.org/, CasperJS http://casperjs.org/

please :+1: vote below if you are interested

[2015-10-12 08:56] paulvi commented on #349
I am definitely interested.
Users should have choice.
Port should be from some range, not just random Integer.

Note, that Webclipse is currently not compatible with Nodeclipse version of Chrome Dev Tools.
https://www.genuitec.com/forums/topic/error-installing-into-enide-2015/

I don't have time to test Webclipse (at least this year), but I would love to give users this option, even though it is c

[2015-10-12 09:19] mickaelistria commented on #350
To disucss that, keep in mind of what persona is the end-user of Tern Eclipse plugins: AFAIK, it's JS developer who's not aware of the underlying frameworks such as Tern. If we agree on that persona, then it's mainly a matter of asking ourselves "why would such a person click on such a UI entry".

For example, what would make a plain JS developer who wouldn't know about tern want to click on a "Co

[2015-10-12 09:22] paulvi commented on #349
@piotrtomiak I am unable to login to comment on https://www.genuitec.com/forums/topic/error-installing-into-enide-2015/ (even after reseting password via link sent by email, it say account is not activated. That is one of example why users don't like non GitHub projects: you have to learn some other issue-tracker, and the like systems)

[2015-10-12 11:23] piotrtomiak commented on #349
Please have a look at the PR (I've added more screenshots there). The setup is seamless, no need to set up any ports. It launches the tern process in the same way as Tern.java does normally, but additionally attaches a debugger. I've started to work with the extension to develop some additional features for Tern and it's really helping (hope you've @angelozerr tested it already). Right now, the bi

[2015-10-12 13:44] angelozerr commented on #335
Many thanks to @mickaelistria who have fixed this issue with https://github.com/angelozerr/tern.java/pull/348 and https://github.com/angelozerr/tern.java/pull/353

[2015-10-12 13:44] #335 closed

[2015-10-12 13:45] angelozerr commented on #352
@paulvi to be honnest with you, I'm very busy to do that, but if I will be glad to help developers to write it.

[2015-10-12 13:51] angelozerr commented on #349
No -( I must introduce tern.java at http://www.leclustr.org/agenda/eclipse-day-3 I will try your work next week.

[2015-10-12 13:59] piotrtomiak commented on #349
Ok, so you still don't know how it speeds up tern code development :)

[2015-10-12 15:38] angelozerr commented on #349
Yes, I have tested quicly Webclipse with ternjs and it works great:) I'm very exciting to test your PR, I would like just that everybody are agree with or without extension point.

[2015-10-12 15:53] piotrtomiak commented on #349
Glad to hear that! :)

[2015-10-13 02:52] paulvi commented on #352
@angelozerr
I know that. And explain in https://github.com/angelozerr/tern.java/issues/350#issuecomment-147327633 that we need more people to know how tern works.

This ticket is to find if there are other people interested. One should express interest here before we go.

[2015-10-13 07:21] angelozerr commented on #352
My goal is to provide toolings to create tern plugins like wizards (that I must improve again) and debug easily tern plugin like @piotrtomiak has started with https://github.com/angelozerr/tern.java/pull/351

Once this PR will be finished (with extansion point), it should be cool if Nodeclipse could provide this debugger too.

To start to create a tern plugin, you could read https://github.com/ang

[2015-10-13 09:08] angelozerr opened #354 "File/Import tern repository in workspace"
It should be cool if we have a File/Import tern repository wizard which will provide a wizard page which shows a lis of tern repositories. User select one repository, select a name for the project. The Finish Button copy/paste the tern repository from ECLIPSE_HOME/plugins/ternjs to teh workspace.

@piotrtomiak I think this feature could interest you for debugger.

[2015-10-13 12:17] piotrtomiak commented on #349
Paul, our support team has tried to locate your account, but was unable to find it. Could you please email support@genuitec.com with the details of email you have registered on our forum?

[2015-10-13 15:53] Rorkal opened #356 ".jshintrc not reload, I have to restart Eclipse for the changes to be reload."
Hi.

I found that .jshintrc is not reload on validation so when I change values inside the file (ex: 'maxlen'), there will be no change to validation until I restart Eclipse.
It's not blocking but can be troubling at first.

[2015-10-13 19:11] angelozerr commented on #356
@Rorkal yes I know that, it's because this file is read once time when tern server is started. I will see if it can be improved. To stop the tern server you must activat eTern Console (project properties Tern Developement trace on console.)

I have th eintention to add this stop tern server inside Tern Outline.

[2015-10-14 08:22] #356 closed

[2015-10-14 08:26] angelozerr commented on #356
Once https://opensagres.ci.cloudbees.com/job/tern.java/760/ will be finished you will able to reinstall it. Now you can change the .jshintrc without stopping the tern server.

[2015-10-14 09:57] Rorkal commented on #356
Hi!
Thanks for the quick fix!
Unfortunatly i did the update and i doesn't seems to work. I still need to restart Eclipse or stop tern server for the validation to work with the new configuration. :(

[2015-10-14 09:58] angelozerr commented on #297
@brunano21 please install last version of tern.java:

It should throw an exception in the tern console.

Now you can choose a location from project, workspace or filesystem.

[2015-10-14 09:58] #297 closed

[2015-10-14 10:05] angelozerr commented on #356
It should work:

 * perhaps you have not installed the last version (job was not finished when you have installed?)
 * when you change the .jshintrc, you need to type something in your editor to refresh the validation.

[2015-10-14 11:56] Rorkal commented on #356
I'm using the last version.
After changing value from .jshintrc, i tried "Validate", "Clean project" and editing a source file to force validation. Nothing seems to work.

[2015-10-14 11:59] angelozerr commented on #356
Is https://github.com/angelozerr/tern.java/blob/master/core/ternjs/node_modules/tern-jshint/jshint.js is the same than yours. You can find this folder in your ECLIPSE_HOME/plugins/ternjs*

[2015-10-14 12:05] Rorkal commented on #356
Yes it's the last version.

[2015-10-14 12:07] angelozerr commented on #356
I don't understand, please share your project.

[2015-10-14 12:19] Rorkal commented on #356
I think it's something wrong with my eclipse configuration,
i'm lauching eclipse with a CMD file :
[code]
Plugins are installed in the %PROJECT_HOME% folder but enabling trace shows me it uses %ECLIPSE_HOME%\plugins\ternjs_1.1.0.201510061208 wich is a previous version. I'll look into it.

Besides an other developers on the project has an unique plugin folder with 3 different versions of your plugi

[2015-10-14 13:15] Rorkal commented on #356
I found that the repository wasn't updated with the plugin update!

For anyone who experience the same problem:
I had to go to "Window > Preferences" and to "JavaScript > Tern > Development > Repository" to add a new repository corresponding to the last version of ternjs.

[2015-10-14 18:57] nimo23 opened #357 "tern 1.0.0 in eclipse has no preference->tern-menu"
I have installed tern 1.0.0 in mars sr1 but menu-entry "preference->tern" is missing. Is this a bug?

[2015-10-14 19:09] jabby commented on #357
Maybe you have jsdt in your Eclipse. Can you verify if you have an entry in Preferences > JavaScript ?

[2015-10-14 19:15] nimo23 commented on #357
I have mars sr1 jee-package and the entry "Preferences > JavaScript" is still there. But tern-menu is missing on both sides "project->properties" and "eclipse->settings".

[2015-10-14 19:21] nimo23 commented on #357
Should I try to upgrade to 1.1.0 Snapshot? I guess, then menu-entries are visible. I had such a problem a few month ago and had solved that by updating to 1.1.0 Snapshot. But then, the existing dependencies to other plugins (nodeclipse and the like) could make conflicts when not using tern 1.0.0. Am I right?

[2015-10-14 19:26] nimo23 commented on #357
"Terns Code Completion" in javascript files are working without errors. However, "tern menu entries" are missing in "preferences".

[2015-10-14 20:36] jabby commented on #357
@nimo23 I tried on my computer with Mars 4.5 and tern 1.0.0 and I have no problem.
I also tried with Mars sr1 and tern 1.0.0. I don't understand what happens.

Can you provide your OS versio and the exat version number for tern ? is it 1.0.0.201508302102 ?

For problems between nodeclipse, jboss tools and tern 1.1.0, I can't answer. Maybe @paulvi or @mickaelistria can help you.

[2015-10-14 20:49] nimo23 commented on #357
![screenshot at okt 14 23-14-51](https://cloud.githubusercontent.com/assets/3045549/10497390/d086d810-72c5-11e5-8d47-d4868438b7d8.png)

![screenshot at okt 14 23-15-46](https://cloud.githubusercontent.com/assets/3045549/10497392/d6c2e642-72c5-11e5-9748-bec52f573104.png)

[2015-10-14 20:54] nimo23 commented on #357
For problems between nodeclipse, jboss tools and tern 1.1.0, I can't answer.

If I upgrade to snapshot 1.1.0, then all the dependent plugins need to rely on 1.1.0 as after upgrading 1.0.0 is not there anymore. Am I right?

[2015-10-15 00:09] angelozerr commented on #339
@mickaelistria I have created the bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=479807

[2015-10-15 02:56] paulvi commented on #357
Isn't Tern under JavaScript now?

![image](https://cloud.githubusercontent.com/assets/1614482/10503711/610eee1c-732b-11e5-9502-7f0862f0b02f.png)

@nimo23 There's ongoing discussion, one of them is https://github.com/angelozerr/tern.java/issues/350

[2015-10-15 02:59] paulvi commented on #357
@nimo23

1.0.0 is released,
1.1 is SNAPSHOT, CI build, but basically it is to be as stable as released.

[2015-10-15 07:26] angelozerr commented on #357
@nimo23 I don't know why you have a problem with preferences with 1.0.0, but I have no time to investigate your problem because I prefer taking my time to continue 1.1.0.

I don't know too if you will have problem if you install 1.1.0 and you use Nodeclipse or JBoss Tools.

The test that you do, is too type "Tern" inside the "type filter text" to know if Tern appears. As @paulvi said, in 1.1.0 Ter

[2015-10-15 14:36] angelozerr commented on #337
@mickaelistria I have updated https://github.com/angelozerr/tern.java/issues/337#issue-108311345

I would like to know your opinion about displaying angular, grunt tasks, repository, files in the tern outline. Those information are global for the project and not according to the file which is edited.

My idea is to have this outline:

 * Files
   * file1.js
   * file2.js
 * Repository (tern module

[2015-10-15 14:51] mickaelistria commented on #337
In Eclipse IDE, the Outline is in the context of the Editor, so it's better to avoid breaking that rule.
I believe project-wide "symbolic elements" would better be shown in the Project Explorer. Here is for example of a screenshot of what project explorer look like with a JEE project in JBoss Tools:
![jbtwebprojectexplorer](https://cloud.githubusercontent.com/assets/469058/10517330/99d36dbe-735c-1

[2015-10-15 15:23] angelozerr opened #358 "Editor for .tern-project"
Develop an editor with multi page like for MANIFEST.MF for .tern-project

We could have several tabs like:

 * Overview to choose ECMASCript + Modules + Repository (that we will able to import it)
 * Server which display tern server type, debug mode, etc
 * Script paths
 * .tern-project : which display content of .tern-project. Once WTP JSON Editor will be released we could benefit with syntax col

[2015-10-15 18:10] nimo23 commented on #357
@angelozerr yes, it s good to invest your time to 1.1.0 instead of 1.0.0. I updatet to snapshot 1.1.0 and the menu entries are visible now.

[2015-10-15 18:10] #357 closed

[2015-10-16 08:58] paulvi commented on #358
I thought we could use JSON editor with some completion based on metadata (as your JSON Editor defines that)

There's no need for more GUI, as there are already preferences and projects properties pages.

[2015-10-17 08:44] angelozerr commented on #358
Yes It will work like that, but I have give my code to WTP and I would like to wait that JSON Editor is released to use it inside tern.java. For the moment I would like to manage UI like PDE (Overview, etc).

In my side, I prefer updating .tern-project directly instead of open project properties. So completion, etc will help me. More I would like to add new action like "Import Repository" in the w

[2015-10-21 06:34] paulvi commented on #349
Nowadays, GitHub is like social network for developers. Google Code gave up.

doing right now

[2015-10-21 15:41] zielu opened #359 "[Linting] Extend API to provide original linter message json"
Hi, I'm integrating tern.java with IntelliJ and have following usecase:

tern.server.protocol.lint.ITernLintCollector#addMessage provides generic API for all linters, I'd like to have however access to original linter message i.e. ESLint provides additionally "ruleId" and sometimes "fix", I would also like to have access to original line & column.

This data is needed as I want to use "ruleId" to

[2015-10-21 15:45] angelozerr commented on #359
Cool! Have you a link to the repo?

If you wish to do that, we need to update :

 * tern.java like you suggest
 * tern-eslint to returns the original message.

But perhaps we should add "ruleId" and "fix" for the whole linters even if they doesn"t manage it? What do you think about that?

[2015-10-21 16:00] zielu commented on #359
It's in the private repo for now, but I it think in a month I'll push it to github. My goal is to have support for web development in Community Edition on level that I don't need to open any "web editors".

In my opinion ruleId is generic enough but that fix looks very eslint specific:
[code]
For my needs fix as JsonObject passed to addMessage would be great :) - I don't know yet if I'll be using

[2015-10-21 16:02] angelozerr commented on #359
Ok.

Just one question. Why do you wish to integrate ternjs inside IntelliJ although WebStorm provides a powerful JavaScript engine too?

[2015-10-21 16:09] zielu commented on #359
For some time I wanted to try implementing some custom language plugin for IntelliJ :)
Also at work I can use only free tools and I don't want to go back to eclipse :D

[2015-10-27 15:41] angelozerr commented on #308
tern-es6 was integrated. I close this issue.

[2015-10-27 15:41] #308 closed

[2015-10-27 15:42] angelozerr commented on #324
@vrubezhny I close this issue, but if you find problem please reopen it.

[2015-10-27 15:42] #324 closed

[2015-10-27 16:06] angelozerr commented on #349
Close via PR https://github.com/angelozerr/tern.java/pull/351

[2015-10-27 16:06] #349 closed

[2015-10-29 08:48] paulvi commented on #358
![](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_TernProjectEditor.png)

Is current version better than JSDT JSON editing support?

[2015-10-29 10:32] angelozerr commented on #358
Today TernprojectEditor extends FormEditor (like PDE) and add a simple Text Editor. So it's very simply. But now there is an editor linked to .tern-project.

[2015-11-02 17:56] phaensgen opened #360 "Preference page for Node.js server settings broken"
Hi,
for some reason the Node.js preference page (global preferences ->JavaScript -> Tern -> Server -> Node.js) is blocked in my Eclipse installation. I am using the latest snapshot release.
The OK button is always disabled and nothing can be changed. When leaving the page, an error message like "The currently displayed page contains invalid values." is shown, no further explanations.
I know it use

[2015-11-02 19:14] angelozerr commented on #360
@phaensgen I know this problem. I'm working to replace "tern server file" with "tern repository". I try to commit my work ASAP.

[2015-11-03 16:08] paulvi commented on #308
great part of 1.1 #309

[2015-11-03 16:57] demonfiddler commented on #332
Pull request https://github.com/angelozerr/tern.java/pull/361 submitted.

[2015-11-04 01:19] angelozerr commented on #308
thanks @paulvi !

[2015-11-04 09:03] angelozerr opened #362 "Use tern repository (instead of tern server file) in NodeJS preferences"

[2015-11-06 07:13] angelozerr commented on #362
@piotrtomiak I have done a big refactoring to support tern repository inside Eclipse project. I have modified the UI of Node.js preference page. Hope you will like it. (the Add button is not implemented for the moment).

Hope there will have not a lot of bug and you will like it.

[2015-11-06 12:40] angelozerr commented on #360
@phaensgen please reinstall 1.1.0-SNAPSHOT, (hope) problem should be fixed.

[2015-11-06 14:30] phaensgen commented on #360
Yes, after updating to the latest build it works again. Thank you!

[2015-11-06 14:32] angelozerr commented on #360
That's cool, I close this issue.

[2015-11-06 14:32] #360 closed

[2015-11-06 17:09] angelozerr commented on #33
@mickaelistria  @vrubezhny @dgolovin @maxandersen @PaulVI @fbricon @piotrtomiak I have implemented quickly tern server with Nashorn (but not the integration with Eclipse IDE).

You can find info at (samples to launch, etc) https://github.com/angelozerr/tern.java/blob/master/core/tern.server.nashorn/README.md

But I'm very disappointed, because I find the load of tern server is very slowly with Nas

[2015-11-06 17:14] angelozerr opened #363 "Use WebSocket with node tern server ?"
Today tern server with node.js works with an HTTP server (created by node). I tell me if we could improve features by using WebSocket like :

 * async completion
 * refresh Angular Explorer as soon as modules, directives, etc changes.

[2015-11-07 18:11] paulvi commented on #33
At least, this is real world example for now.

BTW, https://github.com/angelozerr/tern.java/blob/master/README.md needs to be updated, it is not only idea now...

Showing that there's choice.

[2015-11-07 23:16] angelozerr commented on #33
done

[2015-11-08 10:44] angelozerr opened #364 "[JSDoc] Support for Chinese character"
This issue comes from https://github.com/angelozerr/tern-jshint/issues/2. Here a JavaScript snippet with Chinese comment:

[code]

The Hover, Completion, shows "??????" instead of showing " 这是一个测试函数".

Problem comes from the Http post client (from tern.java) which doesn't encode the request/response. To fix problem, we need to set encoding like this :

 * request:

[code]

 (see https://github.com

[2015-11-09 09:23] mickaelistria commented on #364
I agree it seems more consistent to use the text editor encoding (usually set to UTF-8) for that operation rather than relying on the JVM encoding (usually set to Cp-1215 or other on Windows). I believe it's not such a critical change, although a very useful one, so IMO if it can fit in 1.1.0, it's a good candidate to get in.

[2015-11-09 09:29] angelozerr commented on #364
Thanks @mickaelistria for your answer.

It will not possible since @pascalleclercq has doen yesterday the 1.1.0 release.

[2015-11-09 09:55] hawkxu commented on #364
hope it will coming soon in 1.2.0-SNAPSHOT, thanks!

[2015-11-09 10:59] angelozerr commented on #363
@mickaelistria @vrubezhny @dgolovin @maxandersen @PaulVI @fbricon @piotrtomiak  I'm studying WebSocket use with tern to gives the capability for instance to refresh Angular Explorer https://github.com/angelozerr/angularjs-eclipse/wiki/Angular-Explorer-View as soon as modules changed on server side, but we could use WebSocket for other feature if we need.

I have the intenstion to use WebSocket API

[2015-11-09 12:04] piotrtomiak commented on #362
@angelozerr Great. I will have a look at it soon :)

[2015-11-09 12:07] piotrtomiak commented on #33
No, it's not your fault ;) In the early days of adopting Tern in MyEclipse we've checked performance comparisons of Nashorn, Rhino and V8 (both Node.js and J2V8 are based on V8) and it looked like Nashorn is only slightly better than Rhino, and Rhino is pretty slow with Tern.

[2015-11-09 12:10] piotrtomiak commented on #364
@angelozerr - that really sounds like a really good change.

[2015-11-09 12:15] mickaelistria commented on #364
Actually, doesn't the Tern server enforce an encoding? ie, would relying on the editor encoding work for Tern, or does it enforce usage of UTF-8 so the strings should be re-encoded when they're not UTF-8 ?

[2015-11-09 13:18] angelozerr commented on #364
@mickaelistria very good question!

Indeed, tern uses UTF-8 https://github.com/ternjs/tern/search?utf8=%E2%9C%93&q=utf8 so I will force the request/response to UTF-8. I don't know if it will causes problem if the IFile has an charset different from UTF-8.

[2015-11-09 13:27] mickaelistria commented on #364
So you should enforce UTF-8 in your request/response code above.
What you could try as a primary step is to check if text editor/IFile encoding are UTF-8. If they're, then great, you can pass the string directly with `doc.toString()`, else you'll have to pass a `new String(doc.toString(), "UTF-8")`

[2015-11-09 16:03] angelozerr commented on #309
Done, thank a lot @pascalleclercq !

[2015-11-09 16:03] #309 closed

[2015-11-10 09:52] angelozerr commented on #33
Thanks @piotrtomiak for your feedback. Yes today node > J2V8 > Nashorn > Rhino.

When you will have tipe, could you answer me for https://github.com/angelozerr/tern.java/issues/363 with WebSocket topic. I have started to implement WebSocket on server/client side with Jetty (for the moment tern server send a message to the Java client and I display the result in the console). Any feedback are welco

[2015-11-10 10:01] angelozerr commented on #364
@hawkxu please install http://oss.opensagres.fr/tern.repository/1.2.0-SNAPSHOT/ Chinese character should be fixed (I hope).

@mickaelistria I have a little played with encoding and it seems I must set every time the request/response to UTF-8 even if the IFile has not UTF-8.

[2015-11-10 10:10] mickaelistria commented on #364
Yes, that makes sense. I guess the StringEntity automatically re-encode the String to UTF-8 anyway, so my suggestion above seems useless.

[2015-11-10 10:30] piotrtomiak commented on #363
Sounds like an awesome idea.

[2015-11-10 11:23] angelozerr commented on #363
@piotrtomiak glad this idea please you. My code is a little ugly because it's very hard to consume WebSocket with OSGi by using:

[code]

I had to create a new plugin which contains all Jetty JARs and develop a CustomContainerProvider to do:

[code]

It's not elegant, but it works. I will commit soon my work and if (you) or other guys whish to improve it, you are welcome!

[2015-11-10 11:48] piotrtomiak commented on #363
We use https://github.com/TooTallNate/Java-WebSocket, as it is consumed just as a single jar.

[2015-11-10 14:23] hawkxu commented on #364
Yes, now the hover display Chinese characters instead of ????, that's great, thanks very much.

[2015-11-10 15:12] demonfiddler commented on #332
Resubmitted Pull Request (https://github.com/angelozerr/tern.java/pull/365)

[2015-11-10 16:14] paulvi commented on #364
To summarize: whatever encoding is used in file, when transmitting to and from tern server it should be in UTF-8. Or simply "use UTF-8 everywhere"

[2015-11-10 21:10] angelozerr commented on #364
Thanks everybody for your feedback. I close this issue.

[2015-11-10 21:10] #364 closed

[2015-11-11 02:02] hawkxu opened #366 "Tern Outline display many anonymous"
As you can see, the Tern Outline display many anonymous item.
<ul>
<li>test_func in test_obj</li>
<li>the test_class1 dispeared</li>
<li>the test_class2 members</li>
<li>the test_class3</li>
</ul>
I am a newbe of tern.java (also javascript), I do not know if this is my fault.

thanks for any help!

[test.js.txt](https://github.com/angelozerr/tern.java/files/31490/test.js.txt)
![anonymous](https://

[2015-11-11 11:10] angelozerr commented on #366
Tern Outline is a new feature, so there are bugs, that's sure. I will study your issue when I will find time.

[2015-11-12 00:58] hawkxu commented on #366
The Tern Outline can display and locate PRIVATE members, that's cool, hope it can be more useful, thanks!

[2015-11-14 11:09] angelozerr commented on #334
Bugzilla for JSDT is created https://bugs.eclipse.org/bugs/show_bug.cgi?id=470328

[2015-11-14 13:49] rozzzly commented on #334
+1

[2015-11-18 15:26] michal-grzejszczak opened #368 "Apply and Restore Defaults buttons do not work on main Tern property page (in project properties)"
The problem is with `WorkingCopy`, that is being `clear`ed on `commit`. If someone clicks `Apply`, working copy state will become desynchronized with property page controls, which leads to erratic behavior.

Is far as I can tell there is no support for either of these buttons, so it would be best to disable them for now. Calling `noDefaultAndApplyButton()` either in `createContents` or in construc

[2015-11-19 15:50] Xenope opened #369 "Issue at validation with tern-eslint."
Hello, i think i might have an issue on validating js using eslint. I'm changing rules to make it appear as a warning but all I get is errors all over my js files.

Here is an example :

I'm using the default conf file provided by eslint :
![image](https://cloud.githubusercontent.com/assets/15614284/11275086/36cd8b3c-8edc-11e5-9336-14227b20fbde.png)
In this file I changed this rule to make it a wa

[2015-11-19 16:12] angelozerr commented on #369
It's because, tern-eslint is not able to reload config when eslint.json changes. It should be improved (like  tern-jshint which is able to do that).

So for the moment, you must stop your tern serevr at hand (click on stop button of the tern console) and retype soem content in yoru JS editor to reexcute the validation.

[2015-11-19 16:25] Xenope commented on #369
thanks for the quick response.

I've already tried that, unfortunately it didn't work, still have the issue.

[2015-11-19 16:28] angelozerr commented on #369
Could you share your project please.

:)

[2015-11-19 16:43] Xenope commented on #369
here it is.

It is based on the aurelia skeleton app. The file i showed you is app.js, with not much in it, just that unused import showing an error. I assume you already have eslint whith the conf file, just modify the line I showed you.

[2015-11-19 16:44] Xenope commented on #369
is it posible to reopen?

[2015-11-19 16:45] angelozerr commented on #369
@Xenope I don't know aurelia and I would liek to have the sam econtext than you, so please share your project.

[2015-11-19 17:18] Xenope commented on #369
I just found out that it doesn't overwrite the defaultconfig specified in eslint.js in the tern-eslint folder.
If I edit this file and change "no-unused-vars": to 1 it does change from error to warning in eclipse.

[2015-11-20 10:20] Xenope commented on #369
I made some debug and see  that it loads my custom file but then in the config.js of eslint my rules are overwritte by the following line :

   // Step 6: Merge in command line rules
    if (this.options.rules) {
        debug("Merging command line rules" + this.options.rules);
        config = util.mergeConfigs(config, { rules: this.options.rules });
    }

this.options.rules corresponds to the d

[2015-11-20 10:21] angelozerr commented on #369
Thanks @Xenope for your feedback, I will see that.

[2015-11-23 16:36] boniatillo-com opened #370 "Simple tern demo to run in a console"
Right now there is a demo of how to use tern.java outside Eclipse, but yet it uses JFace components so it is not clear how to use tern.java in other projects outside Eclipse/JFace/SWT.

It will be very useful, I think, to have a simple console demo of how to create a server and make a request.

[2015-11-23 16:38] boniatillo-com commented on #370
Angelo wrote a demo with the rhino server.

https://github.com/angelozerr/tern.java/tree/master/core/tern.server.rhino

[2015-11-23 16:38] #370 closed

[2015-11-25 19:03] boniatillo-com opened #371 "Package `tern.server.protocol.push` exported but not existent"
I cloned this repo and imported to Eclipse but I get this error in the `tern.core` manifest file:

`Package 'tern.server.protocol.push' does not exist in this plug-in`

I confirmed that package does not exist on the master branch.

[2015-11-26 11:57] angelozerr commented on #371
@boniatillo-com sorry with this error. I'm implementing WebSocket with tern node.js (to push some message from tern server to the client (Eclipse) to for instance refresh Angular Explorer as soon as modules changes, see https://github.com/angelozerr/tern.java/issues/363)

I have commited my work, but it's not finished, hope you will have not problem with my commit.

[2015-11-26 12:56] boniatillo-com commented on #371
It is fine, I just commented that import. Thanks.

[2015-11-26 12:57] angelozerr commented on #371
Ok, I close this issue.

[2015-11-26 12:57] #371 closed

[2015-11-26 20:03] boniatillo-com opened #373 "WebkitTernServer via JavaFX"
Is it possible to run the tern server in the webkit bundled in JavaFX? Probably you tried it before but I think the question is valid :)

I was reading that Rhino and Nashorn has a poor performance but for me it has a lot of value a pure java server with an acceptable performance.

I don't know if the javafx web engine is open enough to do this. If you think it is possible maybe you can give me so

[2015-11-26 21:18] angelozerr commented on #373
I don't know, any contribution are welcome!

I suggest you that you copy/paste Rhino tern server to adapt it with webkit bundled in JavaFX

[2015-11-27 09:44] neothemachine opened #374 "Old lint markers not removed"
I just set up tern on a project and it doesn't delete old markers, no idea why. When I hover over an old marker it throws an exception:

[code]

I use the latest 1.1 stable

[2015-11-27 09:59] angelozerr commented on #374
@neothemachine have you activated "Add Validation Builder" for your project with Validation preferences. If you have done that, you should have Validation in your Builders project properties.

If it is this case, if you do Ctrl+S, markers should disappear, no?

The "tern.TernException: TernError: No type found at the given position." is thrown by ternjs when it cannot find type, it's a normal erro

[2015-11-27 10:03] neothemachine commented on #374
On 27/11/2015 10:59, Angelo wrote:

That was the problem! Thanks, it works now. Why isn't this enabled by
default when a project is converted to a Tern project?

[2015-11-27 10:07] angelozerr commented on #374
tern doesn't do that, perhaps it's an another plugin which does that, I don't know.

[2015-11-27 10:13] neothemachine commented on #374
What do you mean by tern doesn't do that? Is my problem the standard
behaviour or did some other eclipse plugin remove the validation builder?

On 27/11/2015 11:07, Angelo wrote:

[2015-11-27 10:25] angelozerr commented on #374
I mean that it doesn't "Add Validation Builder" by default. Tern provides a WTP Validator and it manages validation like other WTP Validator like HTML, XML, etc

After it's the user who decide if he want to validate after a Ctrl+S or not.

If I have understood your problem, you had not "Add Validation Builder" and when you are typing, markers doesn't disappear. So I suppose you have used manual Va

[2015-11-27 10:44] neothemachine commented on #374
Ok, I understand that. Seems to be how WTP projects behave. But on the
other hand, if you have a Java project, it also automatically adds the
relevant builders and you don't have to do anything manually. For me the
most confusing thing was that in the top menu at "Project", the "Build
automatically" was enabled, so I assumed it would validate while I type.
It's just a bit user unfriendly I think.

[2015-11-27 10:53] angelozerr commented on #374
It should do that without "Add Validation Builder".

WTP provides 2 validators :

 * as you are typing. In this case you need not to add "Validation Builder".
 * when you are saving/clean project. In this case you need to add "Validation Builder".

In your case, I think you had not "Validation Builder", when you are typing, errors should appear (otherwise it's a bug). After you have perhaps do "Va

[2015-11-27 11:00] neothemachine commented on #374
On 27/11/2015 11:53, Angelo wrote:

You're right, I was still messing around with settings and I think I
manually did a validation. I didn't know that this is different
(permanent) compared to the while-you-type markers. So, I think there's
no bug after all, just a bit of unfortunate workflow, which doesn't
surprise me in Eclipse ;) I'm closing this now.

[2015-11-27 11:00] #374 closed

[2015-11-27 13:45] boniatillo-com opened #375 "How to get the jsdoc of a function parameter"
The parameter information given in the `tern.server.protocol.completions.Parameter` does not contain any method to get the parameter doc.

Actually I see no parameter doc in the screenshots shown in the Tern Eclipse IDE wiki:

![Tern Eclipse IDE](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_TernjQueryCompletion.png)

[2015-11-27 13:47] boniatillo-com commented on #375
Actually, I do not see a method to get the doc of the function return neither.

[2015-11-27 13:57] angelozerr commented on #375
It's because ternjs doesn't support doc for parameter. The JSON Type Definition supports doc only for function but not for parameter.

[2015-11-27 14:11] boniatillo-com commented on #375
Ok, I will open an issue in ternjs then. Thanks.

[2015-11-27 14:11] #375 closed

[2015-11-27 22:24] boniatillo-com opened #376 "Error adding a new JSON type definition"
I added a new `phaser.json` type definition in the `defs` folder of the tern installation. Then I register it in the tern server via:

[code]

But I get this error:

[code]

Am I missing something? I would like to add my type definitions via JSON and not via plugins.

[2015-11-27 22:47] boniatillo-com commented on #376
Sorry, I was generating a wrong JSON format!

[2015-11-27 22:47] #376 closed

[2015-11-30 16:05] #325 closed

[2015-11-30 16:13] boniatillo-com commented on #375
I did a work around, maybe someone can take advantage of it too. What I am doing is generating a definition file with no jsdoc at all, just with the API information, so each function, property etc will have as "!doc" the qualified name of the member, for example, `MyProduct.MyClass.mymethod`. So I can use tern for completions but I get all the metadata from the json file generated by the jsdoc too

[2015-12-01 19:12] boniatillo-com commented on #366
@angelozerr I opened (https://github.com/ternjs/tern/issues/692) an issue in the tern repo about to get the AST with the type information.

I think with a query like that we can implement much better tools (like the outline) but in the client side (with Java).  For example, for me it is more easy to hack a Java code in your tern.java than a JavaScript code running in the tern plugins space.

I don

[2015-12-02 03:14] angelozerr commented on #366
Yes I have seen that, but I think the answer will be "write a plugin for that".

If you see https://github.com/angelozerr/tern-outline/blob/master/outline.js#L188, you have the acorn AST which follows the [Mozilla Parser API](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/Parser_API)

I could send this AST for outline, but for performance reason. If I did that, it means tha

[2015-12-02 09:01] #368 closed

[2015-12-02 09:02] angelozerr commented on #368
Thanks for the suggestion! Next time, I think you could create a PR for that.

[2015-12-02 09:05] angelozerr commented on #362
@piotrtomiak had you hav etime to test this issue? Can I close this issue?

[2015-12-02 10:27] piotrtomiak commented on #362
@angelozerr sorry, I got distracted and forgot to check. I think you can close it, if there are any problems, I'll just open a new one

[2015-12-02 10:29] angelozerr commented on #362
Ok thanks, I close the issue.

[2015-12-02 10:29] #362 closed

[2015-12-02 14:20] boniatillo-com commented on #366
Yes I see... I should start learning the tern plugin API. Thanks.

[2015-12-02 22:47] boniatillo-com opened #378 "Missing `documentation` query."
I do not see any implementation for the `documentation` query.

In the meantime I am doing this:

[code]

[2015-12-03 20:49] angelozerr commented on #366
It's not pefect, but here the result:

![a](https://cloud.githubusercontent.com/assets/1932211/11573661/b87aab8e-9a07-11e5-9a4a-a53fa7bd48ea.png)

[2015-12-03 20:49] #366 closed

[2015-12-05 10:57] angelozerr commented on #378
Yes you are right, it misses this tern query because I don't use it. If you need it, please create a PR to add it. Thanks!

[2015-12-05 10:58] angelozerr commented on #373
@boniatillo-com is there any chance that you work on this topic? Are you sure that it will be more fast than J2V8 or node.js?

[2015-12-05 11:01] angelozerr commented on #359
@zielu have you continued your work about developping an IntelliJ plugin for tern.java?

@boniatillo-com has integrated tern.java with Swing, if I have understood. I believe that IntelliJ is based on Swing, so perhaps you could share your work by contributing to tern.java?

[2015-12-05 11:09] angelozerr opened #379 "[ES6] display module import specifiers in the tern outline"
ES6 modules import is written like this:

[code]

I would like to display it in the tern outline. My proposition is like this

 * import: "./list"
   * List: array
   * List2: array
 * import: "./mymath"
 * i: number

@mickaelistria @piotrtomiak @paulvi @dgolovin @vrubezhny @maxandersen @alexeykazakov what do you think about that?

[2015-12-05 14:47] angelozerr commented on #379
Ok I have started to implement that, here the result:

![es6moduleimportternoutline](https://cloud.githubusercontent.com/assets/1932211/11608368/6a635214-9b67-11e5-8315-735516aba82d.png)

Any feedback are welcome!

[2015-12-05 19:36] zielu commented on #359
Hi, still on it - even got some people to test it at work ;)
I was about to try adding discussed changes but encountered some problems configuring project in IJ.

[2015-12-05 20:53] zielu commented on #359
Also I think I found some problem when using configFile instead of config in eslint: I looks like defaults added in eslint plugins take precedence over anything defined in file. I managed to overcome this by using empty object as defaults.

[2015-12-06 00:58] angelozerr commented on #359
@zielu just one question, have you integrated completion, hover, navigation in your IntelliJ plugin?

If you need changes, don't hesitate to create a PR. It will more easy to discuss together.

[2015-12-06 06:56] zielu commented on #359
For now I was concentrating on linting but I want to move on to completion next.

[2015-12-07 15:39] boniatillo-com commented on #378
My swing editor is going very well, as soon as I finish the preview version I will get the time to contribute back to tern.java, count with that.

Ok I am testing how you are giving hover feedback and I see you are requesting a `type` query, which is actually a more suitable query because it returns the doc but also the name of the expression in question. So I will do the same on my editor. I don'

[2015-12-07 15:45] boniatillo-com commented on #373
@angelozerr I don't know. Nodejs is performing so well that for now it is fine for me. When I reach the preview version of my editor I will get the time to contribute back to tern.java and I will look on this issues because yet I prefer a multi-platform and smaller-size solution.

[2015-12-09 21:55] boniatillo-com opened #380 "The tern project is not "updated" after change it"
I am using the `core` classes (in swing application) and I created the tern project in this way:

[code]

It adds the jshint plugin, but it happens to me that if I modify the .tern-project to configure jshint options, then those changes are not taken in count unless I restart the application.

It is like if the project loads the first time but cannot be modified in runtime.

Actually, if just dele

[2015-12-09 22:31] boniatillo-com commented on #380
Well, thinking more... I guess when the tern server is created, it loads the `.tern-project` and keep it on memory. So the solution is to restart the server when that file is modified. It can be expensive, but is better than restart the whole editor. In the case of `jshint`, the better is to reference an external `.jshintrc` file, in that way you can tune jshint without restart the tern server.

[2015-12-09 22:31] #380 closed

[2015-12-09 23:59] angelozerr commented on #380
@boniatillo-com you have everything understood. ternjs uses .tern-project on start server so you cannot update it after. The tern-jshint is able to refresh jshintrc if it changes on runtime.

[2015-12-10 16:22] boniatillo-com opened #381 "jshint breaks the server connection"
When the `.jshintrc` has an invalid format, the jshint plugin breaks the server connection and I do not find  a way to avoid this. I think we need a way to catch that plugin exception in the server an send back the error to the client as usual, via `IResponseHandler.onError()`.

This is the error:

[code]

[2015-12-11 02:34] angelozerr commented on #369
@Xenope I have improved tern-eslint:

 * I don't use default config, so your problem should disappear
 * you can update the eslint.json without stopping tern server (you must just revalidate at hand your JS editor after changing your eslint.json).

Tell me if it works for you.

[2015-12-11 02:40] angelozerr commented on #359
@zielu @boniatillo-com I have refactored the [ITernLintCollector](https://github.com/angelozerr/tern.java/blob/master/core/tern.core/src/tern/server/protocol/lint/ITernLintCollector.java#L56):

 * you can collect now the ruleId of eslint.
 * you can collect the JSON message (not the original of eslint). So tern-eslint must be improved to add fix. I'm waiting for your feedback @zielu to know we cou

[2015-12-11 02:45] angelozerr commented on #381
The .jshintrc is loaded when tern server is started. So if it is not valid, tern server cannot be started. Is it a problem? What is your suggestion?

[2015-12-11 02:47] angelozerr commented on #345
@jabby is .jshintignore could help you?

A PR was created at https://github.com/angelozerr/tern.java/pull/377

[2015-12-11 10:03] jabby commented on #345
@angelozerr I think it could help and it will be a great improvement. With this, I will disable validation on my generated JS files.

[2015-12-11 14:31] boniatillo-com commented on #381
Yes it is  a problem because it is a file that a user needs to change from time to time. I think the jshint plugin, at least, should catch any syntax error, print a message error and fallback to a default jshint configuration. I will look more into the plugin.

[2015-12-11 15:04] boniatillo-com commented on #381
This is the same issue but in Atom:

https://github.com/sindresorhus/atom-jshint/issues/21

[2015-12-11 16:14] boniatillo-com commented on #381
Problem solved.

The cli.js file exits if it cannot parse the config file. So what I did was to modify the `loadConfig` method and replace all `exports.exit(1)` by `return {};`

Maybe other option is to avoid using `cli` and load the config in the plugin.

[2015-12-11 16:20] angelozerr commented on #381
@boniatillo-com  could you create a PR for tern-jshint please. Thanks!

[2015-12-11 18:00] boniatillo-com commented on #381
I never wrote a single line of `nodejs`. I was trying to load the config in the plugin and not in the `cli` but I got lot of errors, for example I don't know how to inclue `shelljs` etc..

[2015-12-11 18:05] boniatillo-com commented on #381
How can I include `shelljs` in the plugin? To do `var shjs = require("shelljs")` does not work.

[2015-12-12 09:56] angelozerr commented on #381
Ok @boniatillo-com I will do that (you must add shelljs in package.json and do npm install to download shelljs inside node_modules).

[2015-12-12 10:16] angelozerr commented on #381
@boniatillo-com don't loose your time with this problem. I will study it. I have an idea with https://nodejs.org/docs/latest/api/fs.html#fs_fs_watch_filename_options_listener to observe changes of a file. I would like to use to observe changes of .jshintrc to update it (instead of read every time the last mtime of teh file to know if it must be updated). So I could use watch too to check if jshint

[2015-12-12 14:01] boniatillo-com commented on #381
Thanks very much @angelozerr
I have to get some time to learn nodejs :(

[2015-12-15 06:42] zielu commented on #359
New API looks good. Now I will be able to add things like changing message level configuration directly from editor.
Eagerly awaiting fix field access :)

[2015-12-15 08:09] angelozerr commented on #359
Cool:)

Yes I will do it, but I would like to study how to integrate quick fix inside Eclipse Tern IDE to have a generic fix info.

[2015-12-15 15:06] boniatillo-com commented on #359
@angelozerr I am using jshint in my editor with a custom query, however I see you are giving support for eslint and even you plan to implement a quick fix function. That will be great, but how do you plan to do it? I thought via eslint but I see in this issue https://github.com/eslint/eslint/issues/1332 they say it is not supported by this tool.

[2015-12-15 15:13] angelozerr commented on #359
Why? tern.java provides support for tern-jshint too?

I don't know. I must study before quick fix inside Eclipse JSDT.

I don't use command line with tern-eslint. I use api.verify of eslint and it seems that result can returns a JSON fix object.

[2015-12-15 15:21] boniatillo-com commented on #359
Just now I realize that there is a `TernLintQuery`! I thought it was only about jslint but it has a parameter to use the other linters.

Let's see then.

[2015-12-15 15:43] boniatillo-com commented on #359
Oh yes, it has a JSON fix: http://eslint.org/docs/developer-guide/nodejs-api.html
So I am migrating my editor to eslint right now.

Does it support source formatting? All that I found was about to format the feedback messages, and probably a fix for indentation. I also see it can use different parsers like esprima, it would be great if we can reuse the same tern ast, to gain in performance.

[2015-12-15 15:48] angelozerr commented on #359
I don't know.

It was my first idea because Acorn and Esprima shouls manage the same AST (Mozilla API), but:

 * I think that acorn ast doesn't contaisn some information like source range.
 * when your js is not valid, acorn is able to create a valid AST, so you will loose this error.

[2015-12-15 16:15] boniatillo-com commented on #359
I see.

[2015-12-15 18:59] boniatillo-com commented on #378
I close this the `type` query gives more information than `documentation` so I see no reason for use the last.

[2015-12-15 18:59] #378 closed

[2015-12-31 14:57] Xenope commented on #369
Well i can sucssefully say that it works fine now :). Thanks!!

[2015-12-31 14:57] #369 closed

[2016-01-02 16:24] Knight-Yoshi opened #383 "ES6 Validation & Auto-Complete"
I'm having issues setting up validation via Tern with ESLint. I disabled the internal parsing as shown, http://tools.jboss.org/documentation/whatsnew/jbosstools/4.3.0.Final.html#javascript-development-tools-improvements, and I enabled ESLint. In the project properties javascript > Tern > Validation > ESLint I specified the .eslintrc config file to use (also tried eslint.json).

I can run ESLint fr

[2016-01-03 00:21] angelozerr commented on #383
At first I suggest you that you install tern.java 1.2.0-SNAPSHOT which improves eslint validation.

f you have again problem, please share your project (with github).

[2016-01-03 16:13] angelozerr commented on #6
The completion with big file file like [ember.js](http://builds.emberjs.com/release/ember.js) doesn't work because timeout is every time thrown because it takes too time to analyze the file.

If you take the demo http://ternjs.net/doc/demo/#simple and you copy/paste [ember.js](http://builds.emberjs.com/release/ember.js), teh first time completion is slow and teh second time it is fast, because it

[2016-01-05 15:46] angelozerr commented on #381
@boniatillo-com please update tern.java, it should work. Now when you have an error with .jshintrc, it add an error in your JS file.

[2016-01-06 08:04] angelozerr opened #384 "[Outline] Add Link Editor action"
Add Link Editor action.

[2016-01-06 13:23] HaiboLee opened #385 "The API"
hi.I hope I can in accordance with API hints I want to come out,
do you have any idea,or where can setting.
.(I don’t want the lib’s ionic.js or jquery.js appear in the API hint’s,if my project have the js file ,it always appear)

[2016-01-06 13:25] angelozerr commented on #385
I'm sorry I don't understand your issue?

[2016-01-06 13:28] HaiboLee commented on #385
i send you email ,can you see the picture?

[2016-01-06 13:34] angelozerr commented on #385
Please read https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0#includeexclude-tern-script-paths

[2016-01-06 13:45] HaiboLee commented on #385
thank you very much. this is i need. sorry my English is not very good ^.^

[2016-01-07 13:17] piotrtomiak commented on #6
@angelozerr - I have done support for part files through comparison. I will update you on whether we can contribute this.

[2016-01-07 13:20] angelozerr commented on #6
@piotrtomiak I'm sorry I have not understood? You have already implemented tern  file "part" (see http://ternjs.net/doc/manual.html) instead of "full" (like today?). If it that and you can contribute it, it should really fantastic, otherwise I will implement it and are you OK to have ONE instance of TernDocumentFile per editor?

[2016-01-07 16:13] piotrtomiak commented on #6
@angelozerr yeah, exactly. Not much coding :) I will create PR soon, today or tomorrow morning.

[2016-01-07 16:14] angelozerr commented on #6
Wow, very cool! I'm very exciting with your PR:) Thanks!

[2016-01-12 13:35] angelozerr opened #387 "Update embed node.js v0.10.22 to v4.2.4"
Today https://nodejs.org/en/download/ provides v4.2.4. I need this update to support last version of protractor https://github.com/angelozerr/angularjs-eclipse/issues/178

@mickaelistria @piotrtomiak @paulvi @dgolovin @vrubezhny @maxandersen @alexeykazakov I have just windows 64 bits, so please test with other OS. Thanks!

[2016-01-14 00:14] dgolovin commented on #387
I am running from my dev environment under Linux 64-bit, CA and Angular Explorer seem to work the same as before.

There are several exceptions in log like
[code]
and
[code]
but they seem to be harmless.

[2016-01-14 08:16] angelozerr commented on #387
Many thanks @dgolovin for your test. It seems that it's an error with tern-angular1. Could you create an issue at https://github.com/angelozerr/angularjs-eclipse/issues and tell me what do you do (which project and which HTML file you are using for completion). Thanks!

[2016-01-14 12:49] angelozerr commented on #387
@dgolovin I have created the issue https://github.com/angelozerr/tern-angular1/issues/1. I will try to fix it.

[2016-01-21 19:46] orlandoibm opened #389 "ClassCastException on linter validation"
Intermitently, I'm getting the following exception on a tern project having JSHint enabled. I have noticed it mainly when closing and reopening the workspace with some .js file open in the editors.

This is my .tern-project contets:

[code]

Stack trace:
<pre>
tern.TernException: java.lang.ClassCastException: com.eclipsesource.json.JsonLiteral incompatible with com.eclipsesource.json.JsonObject

[2016-01-21 20:57] orlandoibm opened #390 "NullPointerException on completion guess"
Steps to reproduce:
1. Import attached project [NPE.zip](https://github.com/angelozerr/tern.java/files/99886/NPE.zip)
2. Open Error Log view
3. Open index.js file by double-clicking it.
4. Navigate to the second line of that file (i.e. where there is a single "f")
5. Put the cursor right after the "f" and invoke content assist (Ctrl + Space)
6. From the content assist, select the f(x, y) function

[2016-01-22 23:42] #390 closed

[2016-01-23 15:44] #389 closed

[2016-01-23 17:11] angelozerr commented on #387
I close this issue. If there is a problem with other OS, please create an issue. Thanks!

[2016-01-23 17:11] #387 closed

[2016-01-23 17:20] angelozerr commented on #385
@midzelis I tell me why you have forked tern.java with several changes? Have you the intention to contribute to tern.java?

[2016-01-24 15:16] HaiboLee opened #391 "Eclipse tern. Jshint check HTML in the javascript when there will be a mistake"
![image](https://cloud.githubusercontent.com/assets/16329338/12537038/64ed2174-c2f0-11e5-9377-ce6c64490b99.png)
Sometimes, sometimes not, there is a solution?

[2016-01-24 15:35] angelozerr commented on #391
What do you mean? Please explain more your problem and please share your project in order to I can test quickly your problem.

[2016-01-24 15:52] HaiboLee commented on #391
![image](https://cloud.githubusercontent.com/assets/16329338/12537231/d54e499e-c2f4-11e5-8e46-47c0ebc964a3.png)
![2016-01-24](https://cloud.githubusercontent.com/assets/16329338/12537239/e8abe96a-c2f4-11e5-88f6-33bf2fa1b377.png)
i want use the jshint module to check HTML in the javascript

[2016-01-24 16:17] angelozerr commented on #391
If I understand your problem, you have marker error on the first line, although you should have none error?

If it that, try to validate your HTML file (select your HTML file, open the contextual menu and do Validate).

It's perhaps the same problem than https://github.com/angelozerr/tern.java/issues/374

[2016-01-25 13:16] HaiboLee commented on #391
I don't think that 374 is the same mistake, I use jshint, when I no javascript code in the HTML file is not wrong, only using javascript code in the HTML in this problem,I think it's jshint problem

[2016-01-25 13:22] HaiboLee commented on #391
I don't think this is the same problem with #374, because the tip is jshint mistakes, not HTML. I suppose jshint in identifying errors in HTML file

[2016-01-25 13:33] HaiboLee commented on #391
This error is not, when you create a new HTML is not, when you close the editor and then open and use the validate may appear

[2016-01-25 16:23] angelozerr commented on #391
@HaiboLee I have fixed the problem. It was when you do Validate at hand. When https://opensagres.ci.cloudbees.com/job/tern.java/853/ will be finished, you will able to install 1.2.0-SNAPSHOT

[2016-01-25 16:23] #385 closed

[2016-01-25 16:24] #384 closed

[2016-01-25 16:24] angelozerr commented on #383
None answer, I close this issue.

[2016-01-25 16:24] #383 closed

[2016-01-25 16:25] angelozerr commented on #381
@boniatillo-com  could you tell me if it works for you? Thanks

[2016-01-25 16:26] #354 closed

[2016-01-25 16:27] angelozerr commented on #347
@jabby could you tery with 1.2.0-SNAPSHOT. I have done a lot of improvement. Hope it will fix this issue, otherwise please share your project. Thanks.

[2016-01-25 16:28] #336 closed

[2016-01-25 16:31] midzelis commented on #385
Yeah. I'm working on a ternjs plugin, and ran into a few issues in tern.java/eclipse plugin. I would love to contribute back the changes I'm making. Right now its still a work-in-progress. When its ready to go, I'll squash my git changes and submit a pull request.

[2016-01-25 16:38] angelozerr commented on #385
It's a great news! IMHO I think you should create a GitHub project for tern-auraframework and if you are agree, I can host it inside tern.java. What do you think about that?

[2016-01-25 17:02] boniatillo-com commented on #381
Let me check.

[2016-01-25 20:59] jabby commented on #347
I will take a look this week.

[2016-01-26 13:39] HaiboLee commented on #391
thanks very much,it work now

[2016-01-26 21:42] vrubezhny opened #392 "TernException occures when trying to open hiperlink in JSP."
The issue is reproducible in JSP 1.2 files (JBDS 9.1.0.Beta2 + Tern.java + AngularJS-eclipse).

Steps to reproduce:

1. Create JSF 1.2 project
2. Open inputUserName.jsp in VPE
3. Hover over <%@ taglib uri="http://java.sun.com/jsf/core"
4. Press Ctrl
ERROR:
{noformat}
tern.TernException: TernError: No type found at the given position.
	at tern.server.DefaultResponseHandler.getData(DefaultResponseHa

[2016-01-26 23:17] #391 closed

[2016-01-26 23:46] angelozerr commented on #392
@vrubezhny this error occurs every time that you try to open an hyerlink inside js content. Ex try to do Ctrl+Click on 'function'.

This error is thrown by ternjs. It's not a critical error. I have ignored this error when it occurs and Error Log View should not contains this error. Tell me if it was the problem and if it fixes your https://issues.jboss.org/browse/JBIDE-21580

[2016-01-26 23:52] vrubezhny commented on #392
Am I correct in that it's like an informational message (like 'tern could not find any type at this position')?

@angelozerr  if it's not an error (a normal situation) it just should not being reported.

Any error/warning message reported to the Error Log disturbs a user - so it it's a normal situation and not an error - it's better not to report it at all.

Of course, the real errors/warnings sti

[2016-01-27 00:07] angelozerr commented on #392
Exactly!

Yes it's my fix. I don't log this ren error in the log view. But I throw this error for displaying it in the tern console (used by developper). Is it OK?

Please try it and tell me if I can close this issue. Thanks!

[2016-01-27 00:26] vrubezhny commented on #392
IMHO it is acceptable solution.

Thanks!

[2016-01-27 05:20] angelozerr commented on #392
@vrubezhny can I close this issue?

[2016-01-27 07:49] vrubezhny commented on #392
https://github.com/angelozerr/tern.java/commit/ca66921b9a0b0191bd121d525c74895f538fac65#commitcomment-15698531

Are you sure it will work for any system languages other than English?

[2016-01-27 09:20] angelozerr commented on #392
Yes it will work. Tern error message are hard coded. See https://github.com/angelozerr/tern.java/blob/master/core/ternjs/node_modules/tern/lib/tern.js#L841

I know it's not a clean mean, but I have none idea how to do that with clean mean.

[2016-01-27 14:11] vrubezhny commented on #392
Then it should work.
Thanks!

[2016-01-27 14:31] #392 closed

[2016-01-27 21:43] orlandoibm opened #393 "Project re-validation should be triggered when changing one of the configuration elements of a linter"
Take this example:
1. Have a simple project
2. Convert it to Tern Project
3. Enable JsHint validation (at this point, tern.java offers to make a validation since Validation Settings have changed, which is good)
4. Open preferences and make a change in one of the JsHint flags (let's say bitwise), then apply the changes.
5. At this point, Validation Settings have changed, but since no linter has bee

[2016-01-27 21:55] angelozerr commented on #393
@orlandoibm I agree with you. It should be very cool to do that when you update and save the .jshintrc.

[2016-01-27 22:41] orlandoibm commented on #393
@angelozerr I actually was thinking about the case when you use a "config object" directly in .tern-project instead .jshintrc file, but certainly supporting both cases would be great.

[2016-01-28 13:57] HaiboLee commented on #391
hi, @angelozerr First of all thank you very much to solve my problem, but I found that if you have any HTML files in your project and js files, when you have to validate the whole project, HTML will appear in the error, the folder is too. As a project or folder only HTML or separately to validate HTML is there won't be wrong, I think it might be a bug

[2016-01-28 19:05] angelozerr commented on #393
@orlandoibm I have fixed the problem. For your information, you can update the .tern-project from the editor. See the following demo:

![test2](https://cloud.githubusercontent.com/assets/1932211/12655709/8504c3b0-c5fa-11e5-859b-3ce79bfd8ad0.gif)

[2016-01-28 19:07] angelozerr commented on #391
Problem should be fixed. Please reinstall 1.2.0-SNAPSHOT when job https://opensagres.ci.cloudbees.com/job/tern.java/858/ will be finished.

[2016-01-28 19:42] jabby commented on #393
@angelozerr Nice !

[2016-01-28 19:59] angelozerr commented on #393
@jabby glaid it please you:)

Next step is to do the sam ething when .jshintrc is updated. I thinj it's a cool feature when you want to check quickly your jshint config.

[2016-01-29 06:54] angelozerr commented on #359
@zielu for your info, I'm implementing fix support inside Eclipse. I have started to return fix in the lint message. See https://github.com/angelozerr/tern-eslint/issues/11

I will adjust the tern.java API linter to collect fix. I want to have a generic API linter (for JSHint, I will study https://github.com/jshint/fixmyjs)

Just for information, why do you not use https://plugins.jetbrains.com/pl

[2016-01-29 08:19] zielu commented on #359
I want to have "total" tool :). I already implemented JS parser and integrated some more tern features (completion, docs), linter support is also done. All these work but still require much more polishing.

I've noticed you made changes to offsets returned by eslint module to include more than start but didn't have time to try them out yet - does it affect start offset in any way ?
I rely on this

[2016-01-29 17:37] angelozerr commented on #359
Cool!

Do you think it's possible to share your work?

Yes I have improved start/end offset. Now you can node highlight error instead of highlight just one char:

![ESLint](https://github.com/angelozerr/tern.java/wiki/images/1.2.0/ESLintSyntaxErrorHighlight.png)

The start offset is the same than before. It's the end offset which was improved.

I have started to implement fix with ESLInt. To get t

[2016-01-29 18:16] angelozerr opened #394 "Cache TernDocumentFile inside IDETernProject"
@piotrtomiak I would like to cache a TernDocumentFile  per opened editor inside the IDETernProject like I have done for typescript.java https://github.com/angelozerr/typescript.java/blob/master/core/ts.core/src/ts/resources/TypeScriptProject.java#L55

It will give us several advantage:

* don't create an instance of TernDocumentFile  each time (each time that completion, hyperlink is executed)
* g

[2016-01-29 18:37] zielu commented on #359
I won't be opensourcing it for now however I have some pull requests on mind around TernSynchronizer that make it less chatty and more modular. I could also contribute eslint page scraper that extracts rules metadata and data model classes for manipulating basic eslint rules configuration -  these form basis for UI.

[2016-01-30 08:06] whysqwhw opened #395 "open .min.js file is very slow"
Open three.min.js for example (win7-32bit,eclipse).
Without tern.java it will be opened in 3 seconds.
But with tern.java it will be opened in 7 seconds or more.
Corresponding to the developers can't stand,there should be some improvement,could the things be do after the file is opened,or some other way.

[2016-01-30 08:53] whysqwhw commented on #395
This plugin tern.eclipse.ide.jsdt.ui.editor taken most of the time.
And there is a loop:

TernTokenScanner highlight
IDETernTokenScanner getTernProject
IDETernTokenScanner hasTernNature
TernCorePlugin getTernProject

Would do you speed it.

[2016-01-30 10:09] angelozerr commented on #395
How can you use this plugin, although it is not included in the update site? TernTokenScanner was just a POC https://github.com/angelozerr/tern.java/tree/master/sandbox

After discussing with JSDT Team guys, it seems that it is better to support highlight with Java code. Have you build you rown distribution with tern.java?

[2016-01-30 10:31] whysqwhw commented on #395
:+1:  :)

[2016-02-01 08:12] whysqwhw commented on #395
Tern. Java powerful and very complex, I just use feeling to do some test and analysis.
Without tern.java, frequent opening and closing three.min.js file,CPU graph in Windows task manager is growing rapidly, reduce slowly. it is easy to cause the eclipse no response.Perhaps JSDT group can improve this.
By the way, min. js file is configured to ignore the inspection,in project explorer it is ok;but

[2016-02-01 08:31] whysqwhw commented on #395
project->properties->Tern->Validation the sub items's UI is not vertical covered.

[2016-02-01 08:38] angelozerr commented on #395
So it's a problem with JSDT. JSDT Team are improving a lot JSDT for Neon.

You must not parse three.min.js with tern.java. You should ignore it and use tern three.js plugin.

I don't understand what you mean? is it an other issues? If yes, please create the new issues with more info.

[2016-02-01 08:58] whysqwhw commented on #395
okey. I create new issues and describe more clear.

[2016-02-01 10:37] #168 closed

[2016-02-01 10:42] angelozerr commented on #141
@paulvi can I close this issue?

[2016-02-01 10:43] angelozerr commented on #106
Done https://github.com/angelozerr/tern.java/wiki/Debugging-Tern.js-on-Node.js

[2016-02-01 10:43] #106 closed

[2016-02-01 10:54] piotrtomiak commented on #394
@angelozerr The ITernFile was designed as a lightweight wrapper around File or IFile or IDocument with IFile. Cost of creation such object is very small and whole design bases on their short lifetime. I feel it's not a good idea to change that approach. If you need to add something, like an access to cached file or so, I would rather create an interface, like ITernFileInfo, which can give addition

[2016-02-01 11:00] angelozerr commented on #394
@piotrtomiak I don't want to cache the ITernFile. I would like just cache the opened JavaScript File (in other words TernDocumentFile). I tell me that we could do the same thing than TypeScript Service API which knows the opened ts file. I have done that for typescript.java nad I find it's a clean mean.

[2016-02-01 11:18] piotrtomiak commented on #394
@angelozerr so, instead of creating the ad-hoc, you want to retrieve them using IDETernProject? I still feel that caching the TernDocumentFile objects is not a good idea. It seems straightforward, but there is always a big cost to handling cache, especially if you need to have it very accurate, as want to retrieve information about opened editors, etc. from it's state. So you need to start listeni

[2016-02-01 11:32] piotrtomiak commented on #394
What do you think?

[2016-02-01 12:05] angelozerr commented on #394
Yes it was my idea.

We have already done that:

 * here we open the TernDocumentFile https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.ui/src/tern/eclipse/ide/internal/ui/EditorActivationTracker.java#L78

 * here we close the TernDocumentFile https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.ui/src/tern/eclipse/ide/internal/ui/EditorActivation

[2016-02-01 12:17] piotrtomiak commented on #394
Yes, intuitively creation of objects is pretty bad, but with Java I've learned to actually verify my intuition against how the language works. I've read some articles on creation of objects in java, can't find them now, but here are some links which also treat about object creation:

- http://programmers.stackexchange.com/questions/149563/should-we-avoid-object-creation-in-java
- http://stackoverf

[2016-02-01 12:36] angelozerr commented on #394
The issue that I would like to fix is for Validate:

 * you have typing some text in your editor
 * you do Validate.

The problem is that validate use ITernFile coming from IFile, so validation is done for IFile and not IDocument. A solution could save the whole editor before validating, but other WTP Validator doesn't work like this.

So when Validate is done (not by the UI, I mean as you type va

[2016-02-01 13:46] paulvi commented on #106
great

[2016-02-01 13:48] #141 closed

[2016-02-01 13:59] piotrtomiak commented on #394
I've created a PR with proposed solution. Note that I haven't tested it much. Basically, instead of keeping our own cache of IDocuments, we can safely relay on the Text File Buffer Manager, which keeps track of opened IDocuments. The translation is done only if provided tern file does not provide IDocument adapter.

[2016-02-01 14:05] HaiboLee opened #397 "tern-jshint ignore file open the editor still validate"
@angelozerr I use the tern-jshint,  min.js file is configured to ignore the inspection,when i Validate the project it is OK, but I open the js file in the editor is still validate, Are specially designed so that? I think when the file is bigger, the validate is accounted for resources.
![test](https://cloud.githubusercontent.com/assets/16329338/12719365/8ebb19e4-c92f-11e5-834c-a2a48a795f4f.png)
Wh

[2016-02-01 17:23] piotrtomiak commented on #394
We could also go further and actually embed that behaviour in IDETernFile class, so that it automatically looks for IDocument if needed and takes contents from there, of course in a lazy manner.

[2016-02-01 18:52] angelozerr commented on #394
Thanks!

You mean set the code https://github.com/angelozerr/tern.java/pull/396/files#diff-1a94abe6b719114f91a97a2485952e19R64 and call ternFile.getAdapter(TernDocumentFile.class) to return if possible an instance of TernDocumentFile, is that?

[2016-02-02 08:57] piotrtomiak commented on #394
Rather something like in the new PR I've created. The class is still lightweight, document is retrieved only if necessary. Since the class objects are short lived, we don't need to bother about refreshing contents of the document field, i.e. whether the document is still present in file buffers or not. Alternatively, we could access IDocument always through File buffers manager, but that depends o

[2016-02-02 09:02] angelozerr commented on #394
@piotrtomiak you convinced me to not cache tern file. Hope I have not lost your time with our discussion. Great PR, many thanks!

[2016-02-02 09:06] piotrtomiak commented on #394
I wouldn't call that a lost time. I like the final solution :) I wouldn't actually get to it without all that discussion.

[2016-02-02 20:56] orlandoibm opened #399 "Project validation (jshint) hangs when it contains big files"
Steps:

1. Clone [this](https://github.com/amirrajan/nodejs-todo) repository.
2. Convert it into a Tern project
3. Enable JSHint validation
4. Allow Eclipse to validate the project.

The validation process hangs on the file "lib/words.js" and if tracing in the console, the only message shown is:

{"query":{"type":"jshint","lineNumber":true,"file":"lib/words.js"}}

While in the Progress view, it sa

[2016-02-03 00:23] angelozerr commented on #399
After debugging, it seems that the problem comes from JSHint 2.9.1 (I have tried with simple command jshint and there is the same problem). I have created the issue at https://github.com/jshint/jshint/issues/2866

For tern.java, it should be good that to stop the validator when JSHint hangs. I have none idea for the moment how we could do that.

[2016-02-04 02:19] HaiboLee commented on #397
oh,i know the problem .it's jsdt validator problem.when the file is bigger,it leads to high CPU for long time

[2016-02-04 08:21] angelozerr commented on #397
Please post your issue to eclipse bugzilla JSDT.

I close this issue.

[2016-02-04 08:21] #397 closed

[2016-02-05 03:26] whysqwhw opened #401 "Delete project error sometimes"
Delete project in eclipse, sometimes  appear an error popup window, prompt  '.tern-project' file is still being used, may be cased by FileReader  in TernProject.doLoad() is not closed.

[2016-02-16 17:23] lmoretto commented on #401
I have the same issue. Every time i try to delete an eclipse project with Tern nature, I get an error saying that the '.tern-project' file could not be deleted because it is still being used.

As @whysqwhw says, this seems to be caused by the FileReader in TernProject.doLoad() not being properly closed. I tried to change that piece of code with a finally block where the reader is closed and the pr

[2016-02-16 23:40] angelozerr commented on #401
yes please.

No sorry. I would like to release 1.2.0, but I must finish some work on AngularJS Eclipse before.

[2016-02-17 08:35] lmoretto commented on #401
Ok, I will provide the pull request today.

I was asking to release a new version this because this issue also affects current 1.1.0 release.

[2016-02-19 16:13] angelozerr commented on #394
Ok I give up this issue.

[2016-02-19 16:13] #394 closed

[2016-02-19 16:19] #395 closed

[2016-02-24 12:25] Saurabh06 opened #407 "how to disable "synchronizing script resources with tern server" in eclipse."
how to disable "synchronizing script resources with tern server" in eclipse.

[2016-02-24 18:36] angelozerr commented on #407
tern.java needs to synchronize script resources to send to the tern server the JS files to analyze. So you could disable this synch, ternjs will not work.

Why do you wish to disable the synchronization? I suppose because it's slow? If it that you must exclude folder (like node_modules) by using JSDT Include Path.

[2016-02-25 07:15] Saurabh06 commented on #407
Yes @angelozerr, I want to disable the sync of node modules with tern server because it takes lot of time for sync node modules and it start automatically after some interval for sync up. Actually i want to run protractor test cases from eclipse so for that i have installed AngularJS- 1.2.0 snapshot, which also installs the tern server. Is any requirement of tern server to run protractor test case

[2016-02-25 07:25] angelozerr commented on #407
Please try with ****/node_modules/***

[2016-03-04 00:25] Knight-Yoshi opened #408 "ESLint Comma-Dangle"
So ESLint with Tern is giving me an error for every object and array with a trailing comma and is also throwing errors for unused variables.
eslint.json
[code]

test.js
[code]

However, when I use the CLI, `eslint -c eslint.json test.js`, it does't display said errors. I made sure it was validating correctly on the command line by changing comma-dangle to `[2, "never"]` then on the command line it

[2016-03-04 04:04] angelozerr commented on #408
Which version of tern.java do you use? Please test with 1.2.0

[2016-03-04 04:36] Knight-Yoshi commented on #408
I _was_ on 1.1.0. Thanks for that though! That solved that. :D
I also can't seem to figure out why auto-complete is not working; going off of https://github.com/angelozerr/tern.java/wiki/Tern-Eclipse-IDE

[2016-03-04 07:37] angelozerr commented on #408
@Knight-Yoshi you mean that tern completion doesn't work in 1.2.0?

At first I suggest you that you activate tern console with Properties / Tern / Developement/ trace on console.

Please share your project if you have troubles.

[2016-03-04 08:29] Knight-Yoshi commented on #408
I couldn't get it to work in 1.1.0 either.
I made a test repo with Tern configured the exact same way as my actual project.
https://github.com/Knight-Yoshi/terntest

[2016-03-04 08:40] angelozerr commented on #408
Have you error in the Error Log view? Have you activated 'trace on console?"

[2016-03-04 08:52] Knight-Yoshi commented on #408
Yeah, but it doesn't have an error message aside from what ESLint throws
[code]

[2016-03-04 09:05] angelozerr commented on #408
And what about Tern request#completion ?

[2016-03-04 09:06] Knight-Yoshi commented on #408
That didn't show up in the log
.

[2016-03-04 09:13] angelozerr commented on #408
When you do Ctrl+Space, none logs are displayed? That's very strange? Is there some logs in the "Error log" view?

[2016-03-04 09:21] Knight-Yoshi commented on #408
Using control + space (I'm on Mac) showed the auto-complete. - I initially tried command + space, since most hot keys involving Ctrl are mapped to the command/meta key - though that did what I thought, open the Mac spotlight, but also added an error
[code]
Not sure what purpose it has, but thought I'd mention that since Mac already uses the meta + space combination.

[2016-03-04 09:28] angelozerr commented on #408
Your problem is about JSDT and not Tern IDE. I don't know Mac, but I suggest you that completion opens as soon as you type '.'

To do that go at Window / Preferences/ JavaSCript / Editor / Content Assist and activate "Enable auto activation".

[2016-03-04 09:34] Knight-Yoshi commented on #408
Sweet, thanks! Tern is making Eclipse more bearable for JS development.

[2016-03-04 09:37] angelozerr commented on #408
Thanks!

For your information, JSDT Team is working hard to improve it (Grunt, Gulp, npm, bower support, etc) which will be available in June.

I'm working too a new project https://github.com/angelozerr/typescript.java which is an Eclipse Plugin for TypeScript. And TypeScript guys are supporting simple JavaSCript too (Salsa) and it starts having the same features than ternjs.

[2016-03-04 09:37] #408 closed

[2016-03-05 09:29] Knight-Yoshi opened #409 "Tern ESLint Arrow Function Issues (from 2.3.0 eslint)"
So with ESLint (in Tern) I'm getting errors about arrow functions and classes, I do not get the error notices when using ESLint from the command line.
eslint.json
[code]

test.js
[code]

Tern
[code]

What I get in the command line
[code]

[2016-03-05 11:14] angelozerr commented on #409
Do you use the same version of ESLint with command line than tern-eslint https://github.com/angelozerr/tern-eslint/blob/master/package.json#L18

[2016-03-05 15:00] Knight-Yoshi commented on #409
I have v2.3.0 (updated just yesterday, March 4th) for command line ESLint.

[2016-03-05 15:11] angelozerr commented on #409
Try to remove at hand eslint of tern-eslint with your version. You can find tern-eslint in your ECLIPSE_HOME/plugins/ternjs***/node_modules

[2016-03-06 16:05] Knight-Yoshi commented on #409
I'm attempting to, but of course it wouldn't be as simple as replacing the tern-eslint/node_modules/eslint directory with the latest one.

[2016-03-06 17:19] angelozerr commented on #409
@Knight-Yoshi I have started to use 2.3.0 eslint inside tern-eslint, but "fix" doesn't work? See https://travis-ci.org/angelozerr/tern-eslint#L261

I have no time to study the problem. It should be cool if you could help me to fix the problem. The test which causes the problem is https://github.com/angelozerr/tern-eslint/blob/master/test/issues.js#L22

[2016-03-06 18:40] angelozerr commented on #409
@Knight-Yoshi forget my last comment. Once job https://opensagres.ci.cloudbees.com/job/tern.java/872/ will be finished, please reinstall tern.java and tell me if it works for you. Thanks.

[2016-03-07 01:41] Knight-Yoshi commented on #409
After uninstalling and reinstalling Tern this is the error I get

[code]

[2016-03-07 06:34] angelozerr commented on #409
That's stange it works for me and I have no done some midificatiob about the load of eslint.json? Could you share your project please?

[2016-03-07 11:14] angelozerr commented on #409
Ok forget my last comment. Please reinstall tern.java once https://opensagres.ci.cloudbees.com/job/tern.java/875/ will be finished.

[2016-03-07 14:27] Knight-Yoshi commented on #409
Sorry for the late replies, it's working now. Good job at getting ESLint fixed so quickly though!

Off-topic question. Is highlight suppose to highlight every instance of a function/variable or syntax highlighting? There's no description or anything and as far as I can tell it doesn't do anything so I was just curious.

[2016-03-10 00:16] kkoo95 opened #410 "ESLint doesn't work at all on my system"
Hi. I wasn't able to make JSCS validation working. I am using Tern 1.2.0 in Eclipse Mars.
I am using a specific config file (simply called `.jscsrc`) at the root of my eclipse project which contains something like this:
[code]
And no error is detected for my invalid js file when I right-click Validate. I can see from console trace that Tern is trying something but that's it. No message is returned

[2016-03-11 08:09] angelozerr commented on #410
To be honnest with you, I have developped quickly JSCS linter, I have no time to support it, any contribition are welcome!

[2016-03-11 08:10] angelozerr commented on #409
@Knight-Yoshi please create an other issue with your question with more detail. Thanks.

I close this issue.

[2016-03-11 08:10] #409 closed

[2016-03-11 08:11] angelozerr commented on #407
@Saurabh06 is my suggestion resolves your problem?

[2016-03-11 08:11] angelozerr commented on #401
@lmoretto can I close this issue?

[2016-03-11 08:14] lmoretto commented on #401
@angelozerr  Yes, I think that your commit d694c3e properly solved this issue.

[2016-03-11 08:18] angelozerr commented on #401
Ok, thanks for your answer. I close this issue. Reopen it if you have problem again by adding more info to reproduce the problem.

[2016-03-11 08:18] #401 closed

[2016-03-15 05:53] Saurabh06 commented on #407
yes @angelozerr its get resolved, thanks

[2016-03-19 23:13] rrefsland opened #411 "Tern Eclipse Javascript Support in PHP Files"
Hi,
Is there a way to enable Tern javascript support for PHP files?  Namely autocomplete with Tern's JQuery module.

Tern autocompletes fine with .html files (inside script block) and .js files.

However, php files with script block do not autocomplete at all.

Thanks.

[2016-03-20 09:28] angelozerr commented on #411
If your PHP editor is based on JSDT for JavaScript, it should work, but never really tested. Which plugins do you use for PHP?

[2016-03-20 14:48] rrefsland commented on #411
Thanks for the quick reply.

I installed Zend Studio trial just now to test it.  Enabled JS support which installed Tern libraries.  Same results (Tern code hinting works in .js file, but not in .php file inside script tag).

[2016-04-11 19:02] jasonwmatteson opened #412 "No type hinting"
I am running Eclipse Java EE - Mars.2 Release (4.5.2). I installed as instructed using the update site, set my project up as a Tern Project, added the Bootstrap, Express, Nodejs, and jQuery modules.  I get no type-hinting what so ever.

Also, when I hit F3, I get the "Current text selection does not resolve to a JavaScript element" error.

Ideas?
-j

[2016-04-11 23:20] angelozerr commented on #412
Don't use F3, but use Ctrl+Click. When you do F3 it executes hyperlink of JSDT and not Tern Hyperlink (I don't know ow to override it). If it doesn't work, please share your project and tell me which file and content you are hyperlinking.

[2016-04-17 19:16] datasmithtech opened #413 "angular tag, ng-app not recognized in Eclipse 4.5"

[2016-04-17 20:53] angelozerr commented on #413
It works for me with 1.2.0-SNAPSHOT, please share your project.

[2016-04-17 21:40] datasmithtech commented on #413
Can you please refer me to a good sample?

Larry

Larry

[2016-04-18 08:23] angelozerr commented on #413
It should work with any project. I suggest you that you install 1.2.0-SNAPSHOT https://github.com/angelozerr/tern.java/wiki/Installation-Update-Site

[2016-04-18 10:41] datasmithtech commented on #413
Can I use the latest version of eclipse?

[2016-04-18 11:50] angelozerr commented on #413
It works with Eclipse Mars. Not tested with Neon (which will be available in June)

[2016-04-26 12:34] QualifiedSuccess opened #414 "JSHint validation does not use Script Paths"
Hi,

in my Project i want to validate all *.js files in my app/js folder. I set in my Eclipse Preferences under Tern->Script Paths that folder and it shows all my files. I configured JSHint as well and saved my settings. When validation starts i can see that every js file in my project gets validated instead of just the bunch of flies in my Script Paths.

How can i configure JSHint to only validat

[2016-04-26 14:14] vrubezhny opened #415 "TernException during code completion"
An exception has occured when using content assist on html5 file

tern.TernException: 127.0.0.1:50063 failed to respond
	at tern.server.DefaultResponseHandler.getData(DefaultResponseHandler.java:45)
	at tern.server.protocol.TernResultsProcessorsFactory.makeRequestAndProcess(TernResultsProcessorsFactory.java:43)
	at tern.eclipse.ide.internal.core.resources.IDETernServerAsyncReqProcessor.run(IDETern

[2016-04-26 14:20] angelozerr commented on #415
@vrubezhny which version of tern.java do you use? I cannot reproduce it with 1.2.0-SNAPSHOT?

[2016-04-26 15:05] vrubezhny commented on #415
At the moment for jbosstools-4.3.x we force the dependencies to Tern.java from 1.1.0 and higher.
So, it actually can be any of Tern version starting from 1.1.0.

[2016-04-26 15:06] angelozerr commented on #415
@vrubezhny could you check please that with tern 1.2.0 it works. I would like to avoid doing some patches for old version of tern.java. I'm sorry I have no time to do that -(

[2016-04-26 15:24] vrubezhny commented on #415
No need to patch the older versions. We're ok if that issue is fixed in latest version.
But I don't know if it's really fixed. The code in stack trace just catches the exception and logs it, and there is not a clue on why that "failed to respond" error has occurred.

[2016-04-26 15:37] angelozerr commented on #415
It's difficult to discover the problem with just with stacktrace.

Here my test context:

 * tern 1.2.0-SNAPSHOT
 * `.tern-project`:

[code]

 * I open completion inside `src/main/webapp/index.html` and I have:

![areogar](https://cloud.githubusercontent.com/assets/1932211/14824025/c48ad068-0bd4-11e6-916c-6905f1d7f787.png)

[2016-04-26 21:58] angelozerr commented on #414
It was a bug. Please install tern.java 1.2.0-SNAPSHOT with [update site](https://github.com/angelozerr/tern.java/wiki/Installation-Update-Site) once https://opensagres.ci.cloudbees.com/job/tern.java/876/ will be finished.

[2016-04-27 00:11] angelozerr commented on #413
@datasmithtech have you fixed your prblem? Please give me more info about your problem. More your issue is about AngularJS Eclipse and not tern.java

[2016-04-27 00:12] angelozerr commented on #411
@kisaloyan-raev could you help me please about this issue. Thanks!

[2016-04-27 00:13] #407 closed

[2016-04-27 00:14] angelozerr commented on #381
@boniatillo-com can I close this issue?

[2016-04-27 00:16] angelozerr commented on #399
@orlandoibm can I close this issue?

[2016-04-27 00:17] angelozerr commented on #412
@jasonwmatteson is my suggestion help you?

[2016-04-27 08:15] kaloyan-raev commented on #411
@angelozerr Sorry, I missed the previous comments.

@mniewrzal Can you help here?

[2016-04-27 10:52] mniewrzal commented on #411
Hi,
it looks that CA is not working with combination PHP + HTML + JS (PDT/Zend Studio). Later I will take a look what is going on there.

[2016-04-27 13:03] mniewrzal commented on #411
Turns out that in **tern.eclipse.ide.jsdt.ui**  proposal computer **tern.eclipse.ide.jsdt.ui.contentassist.TernContentAssistProcessor** needs additional content type **org.eclipse.php.core.phpsource**. I will prepare patch for this.

[2016-04-27 14:59] orlandoibm commented on #399
Yes @angelozerr, go ahead and close it. Thanks.

[2016-04-27 15:44] boniatillo-com commented on #381
yes please thanks

[2016-04-27 15:44] #381 closed

[2016-04-27 17:02] angelozerr commented on #381
Thanks @boniatillo-com !

[2016-04-27 17:02] angelozerr commented on #399
Thanks @orlandoibm

[2016-04-27 17:11] angelozerr commented on #411
@rrefsland once https://opensagres.ci.cloudbees.com/job/tern.java/877/ will be finished, please try to install tern.java 1.2.0-SNAPSHOT https://github.com/angelozerr/tern.java/wiki/Installation-Update-Site

Thanks @mniewrzal for your job!

[2016-04-28 03:08] rrefsland commented on #411
Excellent.....will do.  I'll try it out this weekend.

[2016-04-28 08:26] QualifiedSuccess commented on #414
Thanks, that works.

[2016-04-28 08:26] #414 closed

[2016-05-01 04:25] rrefsland commented on #411
I installed the updates to 1.2.0.  It improved a little.

Ex: In a PHP file.....Starting out with "$" will popup JQuery (that's an improvement).  But after the selector period "$()." no methods show.

In a javascript file, $(). will display all available methods.

[2016-05-01 09:02] angelozerr commented on #411
@rrefsland @kaloyan-raev have you an idea?

[2016-05-02 10:07] Saurabh06 commented on #369
I want to use my made eslint config file instead of default eslint file for javascript validation in my tern protractor project. Can you please help me out how to use my config file instead of default eslint in eclipse for validation.

[2016-05-02 10:40] Saurabh06 opened #417 "How to use my made eslint.json file for validation instead of default eslint.json file using eclipse"
I want to use my made eslint config file instead of default eslint file for javascript validation in my tern protractor project. Can you please help me out how to use my config file instead of default eslint in eclipse for validation.

[2016-05-02 11:19] angelozerr commented on #417
https://github.com/angelozerr/tern.java/wiki/Tern-Linter-ESLint#configfile should help you

[2016-05-02 12:03] Xenope commented on #369
I simply put it like this
![selection_153](https://cloud.githubusercontent.com/assets/15614284/14953946/a6d36582-106e-11e6-8d7f-d405ae6a724c.png)
and that's it.

[2016-05-03 05:54] kaloyan-raev commented on #411
@mniewrzal could you take at this one too?

[2016-05-03 13:19] Saurabh06 commented on #417
Thanks, @angelozerr
And can you help me out how to export all error generated through eslint during validation in eclipse in some file

[2016-05-03 15:11] mniewrzal commented on #411
@rrefsland Can you try convert your project to javascript project? To do this select your project and from context menu choose **Configure -> Convert to Javascript Project**.  After that I have result like on attached image.

![screenshot from 2016-05-03 17-09-23](https://cloud.githubusercontent.com/assets/7313031/14987941/f2e5f960-1151-11e6-9b8e-c6a2403a450f.png)

[2016-05-03 20:35] angelozerr commented on #417
The only trace that you could have is that you enable Tern Console (see Tern / Developement) project properties, but you will hav etrace too for completion, hover etc.

Perhaps you should execute eslint with line command to hav eonly eslint errors.

[2016-05-03 20:36] angelozerr commented on #411
That's strange, it should work without converting your project to JavaScript project.

[2016-05-03 21:01] mniewrzal commented on #411
Problem is probably only with .php files. When I will be sure that this is a problem I will try to fix situation. Today I had only a moment to verify problem.

[2016-05-03 21:14] mniewrzal opened #418 "Tern validator is triggered for projects that are not Tern projects"
Projects that aren't converted to Tern projects are also processed by validator. This I believe is not necessary.

[2016-05-04 03:17] rrefsland commented on #411
Hey Angelo/Michael,

Appreciate the assistance.  Think we got it figured out now.  Discovered the culprit below….

Created a new javascript project, and a new php project to test.  Both could see JQuery assist OK.

However, I went back to my original project, and ran into the same problem.  No JQuery assist???  What is going on……

The problem is this added junk Eclipse adds to the default script t

[2016-05-04 04:25] angelozerr commented on #411
@rrefsland if I understand your problem, when you have`<!--` after `<script type="javascript" >`,, it breaks tern completion? If it that it's a bug with tern.java. To support completion tern.java extract JavaScript code from HTML with https://github.com/angelozerr/tern.java/blob/master/core/tern.core/src/tern/server/protocol/html/HtmlHelper.java#L50

It replaces HTML code with spaces and keep JS c

[2016-05-04 06:06] Saurabh06 commented on #417
@angelozerr how to do with command line??
Can you help me for setup and installation of eslint for validate my javascript project.

[2016-05-04 06:26] angelozerr commented on #417
http://eslint.org/docs/user-guide/command-line-interface

It's out teh scope of tern.java, I have no time to help you for that, please read the eslint doc http://eslint.org/docs/user-guide/command-line-interface

[2016-05-04 06:27] #417 closed

[2016-05-04 06:34] angelozerr commented on #418
@mnieiwrzal indeed a WTP document region processor is added when the editor is opened. See https://github.com/angelozerr/tern.java/blob/master/eclipse/jsdt/tern.eclipse.ide.jsdt.ui/src/tern/eclipse/ide/jsdt/internal/ui/JavaEditorTracker.java#L165

I have commented the test with "project has tern nature" (it means that it contains a .tern-project file in the project, I don't use Eclipse nature) bec

[2016-05-05 03:51] rrefsland commented on #411
@angelozerr
Thanks for the explanation.  It helped when I visited the link to extractJS().  The Tern library is so huge man....

Just to summarize:
Tern can handle `<!--  --!>` inside the script tags OK.

Tern does not handle a script tag with two `<<`.  For example `<<script type="text/javascript">`.  I'm not sure why Eclipse adds a default script tag with two `<<`.  Who knows....Not a big deal.

[2016-05-05 03:51] #411 closed

[2016-05-07 05:19] CharlyRipp commented on #383
I found that it expects only the rules in the configuration.
Instead of:
    {
        "env": { ... },
        "extends": "eslint:recommended",
        "parserOptions": { ... },
        "rules": {
            "no-trailing-spaces" : "error"
        }
    }

It's just looking for:
    {
        "no-trailing-spaces" : "error"
    }

[2016-05-07 12:46] angelozerr commented on #383
@CharlyRipp please create a new issue with more info. I don't know very well ESLint.

[2016-05-13 14:59] piotrtomiak commented on #310
@angelozerr FYI we've improved syntax coloring in the recent release of Webclipse within a new feature - JSjet - we're using acorn for this. It also ships with a modified version of Tern.java. Would you mind if I update the list of "Who is using" ?

P.S. JSjet is the main reason I was quiet recently on github ;)

[2016-05-13 15:34] angelozerr commented on #310
Nice! You mean that you are using acorn direcly instead of using a tern plugin. If it that, I think it's a good idea. My fear is for large JS files. JSDT 2.0.0 uses now esprima with Nashorm and for big files, it's very slow. They will study Google closure which seems to be fast.

I have too in my side studied how to support syntax coloration for my TypeScript Editor which is based on JSDT. Today I

[2016-05-16 08:00] piotrtomiak commented on #310
Let's see. Our current approach turns out to be really neat. With tsserver.js file our code performs really good and we will add more improvements to make it even faster.

We've wanted to merge Tern seamlessly with JSDT and most of the changes are around preference pages reordering and include path.

[2016-05-16 09:01] angelozerr commented on #310
That's very strange, JSDT 2.0.0 is very slow with esprima + Nashorm with tsserver.js. But perhaps you have optimized acorn walk (like tern-tjmode) to just return few JSON stream.and perhaps you execute acorn with J2V8?

What do you think about https://github.com/angelozerr/textmate.java? Could you be interested?

Ok you mean tern script path. Thanks for your feedback?

[2016-05-16 11:25] piotrtomiak commented on #310
Not immediately. We are focusing on plain JavaScript for now. I hope to be able to get to TypeScript soon.

[2016-05-18 20:21] kazuyakuza opened #420 "Tern works on Eclipse Mars.2?"
I updated Eclipse Mars.1 to Mars.2 and before reintalling Tern i would like to know if it will works.

[2016-05-18 20:35] angelozerr commented on #420
It should work. I have developped some feature with Mars 2 and even with Neon and I have no problem.

[2016-05-18 21:41] kazuyakuza commented on #420
I tested it, and all ok.
Thanks.

[2016-05-18 21:41] #420 closed

[2016-06-04 02:29] whysqwhw opened #421 "project rename, resource path is still under old project name"
Eclipse content assist set auto and prompt more characters.

egg.
<link href="css/base.css">

It will prompt "href" and it's value. The former seems supported by jsdt and the latter is by angularjs-eclipse.It's cool.But after I changed the project name, it does not work anymore unless I restart Eclipse.
In Eclipse's "Error Log" view there are some resource path errors which are use old project nam

[2016-06-05 16:49] angelozerr commented on #421
Could you please give a simple and detailled scenario with your problem, please.

[2016-06-08 07:54] whysqwhw commented on #421
1.Create a new javascript project which named "HelloWorld". In this project, it contains some css files in a folder. The index.html will link the css files.
2. Input the `<link>` tag, it will prompt the css files path.
3. Rename the project's name as "HH2".
4. The `<link>` tag cannot prompt the css files path.
5. Then open the Error Log view of eclipse, there are multiple errors. It shows "Error w

[2016-06-08 07:58] angelozerr commented on #421
This issue is not for tern.java, but for https://github.com/angelozerr/eclipse-wtp-webresources

But I think I will give up this project since @mickaelistria is to move features from  https://github.com/angelozerr/eclipse-wtp-webresources to WTP HTML Editor step by step.

[2016-06-08 11:04] acarstoiu opened #422 "Mark occurrences is often completely wrong"
It may be that it's not _tern_ that provides this functionality, but JSDT. No surprise here, but can you intercept the triggering events and make it properly? It is the local only (file) version of #339.

Thanks.

[2016-06-08 11:08] angelozerr commented on #422
tern.java doesn't support mark occurrences and it will not. It's the goal of JSDT. JSDT 2.0 (Eclipse Neon) which is sonn available is a lot improve.

I close this issue.

[2016-06-08 12:30] acarstoiu commented on #422
Well, I'm reporting this while running on Neon RC (JSDT _2.0.0_).

[2016-06-09 07:39] Hirse opened #423 "[ESLint] Support YAML configuration files"
ESLint itself accepts configuration files in [several formats](http://eslint.org/docs/user-guide/configuring#configuration-file-formats).

Is it possible to enable usage of YAML files which are passed to ESLint?

[2016-06-09 07:40] angelozerr commented on #423
Never tested, have you tried?

[2016-06-09 14:49] Knight-Yoshi opened #424 "Tern Content Assist Timing Out and Out of Memory"
This started happening just yesterday for no reason (nothing in Eclipse was changed).
Tern's Content Assist times out every time. It also has issues synchronizing script resources, it gets to around 93% and then just hangs there until it runs out of memory. After this started happening I checked for and updated Tern to the latest release, it's still having issues.

Here's the stack trace for when

[2016-06-09 15:02] angelozerr commented on #424
It's little hard to help you with your info. Could you share your project please?

[2016-06-09 15:14] Hirse commented on #423
Not personally, but one colleague at work tried and was unable to use `.yml` files.
Only after converting our rule-file to json, we were able to use it.

[2016-06-09 15:15] angelozerr commented on #423
It's very difficult for me to find time to support that, any contribution are welcome!

[2016-06-09 15:51] acarstoiu opened #425 "Validator errors are not showing up in the Problems view"
I'm using the _JSHint_ validator and noticed that the validation errors do not show up in the **_Problems_** or **_Markers_** view. Related to that, they are not marked with a special decoration on the file's name (editor tab, file tree item).
The wrong outcome of this is that the developer does not have an overview of errored files and the IDE does not warn the user when attempting to commit :-1:

[2016-06-09 15:55] angelozerr commented on #425
Please read https://github.com/angelozerr/tern.java/wiki/Tern-Linter#wtp-tern-validator

[2016-06-09 16:45] angelozerr commented on #422
@acarstoiu I have seen some bugs about mark occurrences inside JSDT bugzilla. I suggeset you that you post your bug in the JSDT bugzilla.

JSDT Editor doesn't give the capability to override mark occurences, so it's not possible to do it with tern. I have no time to support that, but any contribution are welcome.

[2016-06-10 03:04] Knight-Yoshi commented on #424
Whoops! Meant to reply to this way sooner, but got busy.

I can't share the project itself, but I can share the JavaScript resources and project
https://github.com/Knight-Yoshi/terntest

As I said I didn't change anything in Eclipse itself and it was working fine two days ago and the issues only started yesterday afternoon.

[2016-06-10 03:18] Knight-Yoshi commented on #424
May be worth noting that yesterday morning my system did perform an update and other Eclipse plugins had a few problems, like EGit saying a perference node had been removed.

I replaced that installation of Eclipse with a new one and a fresh copy of Tern. Other plugin issues were resolved, but Tern still times out.

[2016-06-10 08:39] acarstoiu commented on #422
If marking occurences is not override-able, then I guess the guys developing JSDT have reserved this issue for themselves. If only they used a proper parser...

[2016-06-10 08:39] #422 closed

[2016-06-10 08:41] angelozerr commented on #422
JSDT 2.0.0 uses Esprima parser, but there is discussion to use Google closure.

[2016-06-10 08:54] acarstoiu commented on #425
I have configured the project as depicted in the last image of the page linked above, that is, I have the _Validator_ builder enabled for the project and the _Tern Validator_ is listed among the enabled validators.
The project has been rebuilt with and without the _JavaScript Validator_ also enabled as builder.

Still, with the currently edited file full of JSHint red markings, the file's icon is

[2016-06-10 09:28] angelozerr commented on #425
Please try with Eclipse JEE Neon + tern.java 1.2.0 SNAPSHOT https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.2.0

[2016-06-10 12:48] angelozerr commented on #424
Try to exclude vendor folder by adding it with JavaScript/Include Path and add exclusion like `**/vendor/*`

[2016-06-10 15:44] natasha544 commented on #35
I had same problem then i use Long path tool.

[2016-06-10 15:46] natasha544 commented on #35
long path tool can be helpful. thanks

[2016-06-10 15:47] angelozerr commented on #35
I don't understand you rproblem, today we use zip file.

[2016-06-11 04:59] paulvi commented on #35
@natasha544 Please raise new issue

[2016-06-14 09:08] whysqwhw commented on #421
Yes,hello cow force. I fix it by change WebResourcesIndexManager.performAction function  to update WebResourcesProjectConfiguration data; and WebResourcesProviderType.collect function to avoid resource not exists.Is it ok?

[2016-06-14 09:15] mickaelistria commented on #421
@whysqwhw Would you rather be interested in contributing those features to Eclipse directly? As @angelozerr explained, we're trying to move/copy those features to Eclipse WTP directly (where the HTML editor lives). See https://bugs.eclipse.org/bugs/show_bug.cgi?id=495132 for example.

[2016-06-14 09:23] whysqwhw commented on #421
ok,thanks

[2016-06-14 09:25] mickaelistria commented on #421
@whysqwhw a nice contribution would be to try the Gerrit patch I suggested and to report whether it works for your use-case or not ;)

[2016-06-17 07:20] #379 closed

[2016-06-22 14:59] acarstoiu commented on #425
Sorry, there's something I don't get: how was _1.2.0_ released in 2015 long before _1.1.0_?

[2016-06-22 15:09] angelozerr commented on #425
It was a mistake in teh wiki, I have fixed it.

[2016-06-22 16:04] #425 closed

[2016-06-22 16:18] acarstoiu opened #426 "Validators should be run on JS folders only"
In a JS project's properties there's an _Include Path_ section which among others allows one to set the source folders. Here I have a `js` folder listed as source folder, with the exclusion `*/node_modules` (it's a _Node.js_ project).

The problem is that folder `js/xyz/node_modules` is scanned by JSHint for errors, when it should **not** be (which is annoying, those are third party modules). I al

[2016-06-22 16:19] acarstoiu commented on #426
Forgot to say I'm using the latest release, _1.2.0_.

[2016-06-22 17:41] angelozerr commented on #426
You must use ` **/node_modules/*` as pattern.

[2016-06-23 09:18] acarstoiu commented on #425
The dates are still wrong.

[2016-06-23 09:23] acarstoiu commented on #426
This does the trick for _tern_, but has side effects with JSDT because the pattern `**/node_modules/*` only excludes files, not folders.

[2016-06-23 09:25] angelozerr commented on #426
Sorry I have not understood. I suggest you that you share a little project with your problem and tell me which files causes problems. Thanks.

[2016-06-23 09:25] angelozerr commented on #425
Fixed.

[2016-06-28 03:26] paulvi opened #427 "plans, roadmap"
With Eclipse Neon JavaScript Editor come with full EcmaScript 2015 (ES6) support. (Internally uses esprima, but not ternjs parser).

http://nodeclipse.org/history

I have not tried yet fully, but I wonder what should be recommended for end users.
Can tern go well together with JSDT (that uses esprima)?

Please give also what has happen within Eclipse, as I saw you were active there. I think that s

[2016-06-28 08:55] angelozerr commented on #427
@paulvi it's a very good question.

At first tern.java can work with Eclipse Neon. JSDT 2 provides now support for ES6, right but it doesn't provide advanced feature for completion, hyperlink for a given framework like angularjs, requirejs. So tern.java is again interesting even with Eclipse Neon.

The big problem today is that there are double parsing:

 * JSDT parse JS content with Esprima to cr

[2016-06-28 09:02] mickaelistria commented on #427
Tern.java is still relevant with the new JSDT. Tern.java adds to JSDT some features that aren't yet implemented. The recommendation is IMO to have end-users using latest JSDT + Tern.java.

JSDT has started CQs at Eclipse.org to be allowed to ship tsserver. Once tsserver is in, I believe it will be used to implement many features provided by tern.java (+ addition for typescript). I believe once JSD

[2016-06-28 09:08] angelozerr commented on #427
@mickaelistria you mean that you could be interested to move typescript.java to JSDT? If it that, yes I'm really interested!

I will try it, yes sure.

[2016-06-28 09:11] mickaelistria commented on #427
Concretely, either you contribute some parts of this integration; or it's going to be reimplemented. Taking advantage of the existing code would for sure be better. However, I don't think JSDT is ready to take the whole typescript.java project "as it". The best approach is to first wait for JSDT to be allowed to consume tsserver, have some minimal integration between JSDT and tsserver working, and

[2016-06-29 14:25] shehrozhussain opened #428 "How do I install a new JSON file for my API into an already installed module?"
So, in my environment, a module which is a ZIP file is already loaded. Now, later on, I get an updated JSON with new API information from somewhere. How do I install the new JSON to replace the old one in the module that was already loaded?

What public API calls can I use?

[2016-06-29 17:09] angelozerr commented on #428
I'm not sur to understand what you wish, but perhaps https://github.com/angelozerr/tern.java/wiki/Tern-IDE-Extension#ternmoduleinstalls is what you are searching.

[2016-06-30 01:15] vazexqi opened #429 "Tern.java doesn't respect the [ ] Expand function? preference and always expands"
<img width="1007" alt="screen shot 2016-06-29 at 6 10 29 pm" src="https://cloud.githubusercontent.com/assets/54414/16473737/f8f3b16c-3e24-11e6-9fc7-2bbb358bde7f.png">

Using tern.java 1.2.0 from http://oss.opensagres.fr/tern.repository/1.2.0/.
Per my understanding of https://github.com/angelozerr/tern.java/wiki/Tern-Advanced-Completion#expand-function the expand function preference gives multiple

[2016-06-30 08:00] wolfgang-ch opened #430 "I get a TernException since using Eclipse Neon"
This exception do not appear immediately when starting js editing but sometimes.

[code]

[2016-06-30 18:29] shehrozhussain commented on #428
I already have created a module for tern to consume. The module provides the API definition in JSON format. The module is currently a .zip folder with the name tern-mystuff. It has a JSON file with the API called mystuff.json.

Now, during the installation, the module gets installed. What I want to do is update the API provided by a new JSON file when an updated API becomes available (basically, I

[2016-07-01 04:40] angelozerr commented on #428
I don't understand what you expect about tern.java? Which feature do you need? An new extension point? Perhaps it's the same issue than https://github.com/angelozerr/tern.java/issues/323 ?

[2016-07-01 04:40] #428 closed

[2016-07-01 14:40] shehrozhussain commented on #428
Ok, so the issue 323 is somewhat different. Basically what I want to ask: is there any way to update the JSON type definition once the tern plugin is already loaded? How to re-load it?

I believe this functionality is not available (from my understanding), if it is, then kindly point me to the right direction.

[2016-07-02 07:27] angelozerr opened #431 "Provide JSDT Tern Debugger for Eclipse Neon"
Eclipse Neon provide now a JSDT debugger. Add it as tern debugger to debug tern plug, protractor (like Nodeclipse and Webclipse tern debuggers).

[2016-07-02 07:28] #431 closed

[2016-07-02 18:01] angelozerr commented on #430
I'm not sure that this issue is just for neon. Please give me more information, I can do nothing with this info.

Thanks!

[2016-07-02 18:12] angelozerr commented on #429
The expand function is done on client side and not by ternjs. The idea is to provide the full signatures of a method. Imagine that ternjs returns. A sample is

`String#indexOf(elt: ?, from?: number)`

You will have this completion:

 * with expand:

[code]

 * with no expand:

[code]

[2016-07-02 18:17] angelozerr commented on #418
@mniewrzal could you tell me the problem that you have please (when you do Build, it execute Tern Validator even for project which dosn't contains .tern-project?)

[2016-07-03 16:01] vazexqi commented on #429
@angelozerr Thanks for the reply. It seems you are saying that the behavior that I see in my example is **not** due to turning expansion on/off since the method signature doesn't have any ?optional parameters

[code]
In that case, what option(s) do I need to do on the client side to turn off the double entries of

[code]

I know that this is possible since your own example at https://github.com/an

[2016-07-03 16:45] angelozerr commented on #429
As I said you, the expand is done on client side. With tern.java I have hard coded if I remember the completion to show the fn and fn with signature.

It doens't exist none preferences to disable that. I will do it when I will find time.

[2016-07-08 07:11] mniewrzal commented on #418
Sorry for delayed response. Yes, when project is being built Tern validator is visible in Progress view. Project doesn't contain .tern-project. I'm not 100% sure that validation is fully performed but at least its visible. See screenshot.

![screenshot from 2016-07-08 09-04-18](https://cloud.githubusercontent.com/assets/7313031/16679949/d9c7a5dc-44eb-11e6-82d2-13804da14b75.png)

Eclipse Neon PHP E

[2016-07-11 00:42] angelozerr commented on #418
@mniewrzal you should have the same problem with HTML Validator no?

If you see https://github.com/angelozerr/tern.java/blob/master/eclipse/linters/tern.eclipse.ide.linter.core/src/tern/eclipse/ide/linter/internal/core/validation/TernValidator.java#L85, the validator checks that it's a tern project (a project which contains a .tern-project file in the root of the project).

[2016-07-11 04:02] chientranthien opened #432 "disable ecma5 content assist"
ecma5 content assist is not necessary for me.
So how do i disable it?

[2016-07-11 06:48] angelozerr commented on #432
Tern supports ES5 and ES6 version. It is based on that for her inference engine. So you cannot disable ecma5. I don't understand very well your need (perhaps you wish to have ES3?).

[2016-07-11 07:44] mniewrzal commented on #418
Ok, then I think this is how WTP validation framework shows progress. For me the issue can be closed.

[2016-07-11 14:02] angelozerr commented on #418
@mniewrzal you are right, today the whole js resources of the project try to be validated even if the project is not a tern project:

 * in case of the project is a tern project, JS files are validated.
 * in case of the project is NOT a tern project, JS files are NOT validated.

But it should be better not to loop for each resources. To do that, WTP provides a filter rule, but it works only with

[2016-07-11 14:07] mniewrzal commented on #418
Thanks for reporting this issue to WTP :)

[2016-07-12 16:11] chientranthien commented on #432
![abc](https://cloud.githubusercontent.com/assets/11552837/16774311/a7ae9e6e-4885-11e6-93b9-76a1a3c03b3f.png)

i want to remove 3 first suggestions. I never use those suggestions while developing. how can i do that?

[2016-07-12 23:08] angelozerr commented on #432
You cannot :

 * the 2 suggestions comes from Tern.
 * the other comes from JSDT

[2016-07-15 13:41] angelozerr commented on #413
None answer, I close this issue.

[2016-07-15 13:41] #413 closed

[2016-07-15 13:42] #415 closed

[2016-07-26 06:47] mgeorgy opened #433 "NullPointerException when attempting to convert project to tern"
I'm new to Tern and have followed the installation instructions.  After creating a general project, I attempt to convert the project to a tern project from the Project Explorer and receive the follwing error:

!ENTRY org.eclipse.core.jobs 4 2 2016-07-26 02:38:44.354
!MESSAGE An internal error occurred during: "Converting '<project_name>' to tern project...".
!STACK 0
java.lang.NullPointerException

[2016-07-26 06:51] angelozerr commented on #433
It seems the location of your project is null? https://github.com/angelozerr/tern.java/blob/master/eclipse/tern.eclipse.ide.core/src/tern/eclipse/ide/internal/core/resources/IDETernProject.java#L118

Have you created your project in the default location of the workspace?

[2016-07-26 12:37] mgeorgy commented on #433
Thank you.  It is working without a problem if my project is created in my workspace.  Is there an issue if I wanted to create the project on a remote server using RSE?

[2016-07-26 16:31] sosahvictor opened #434 "Extension point to specify Node.js installation location"
I've noticed that Tern.java has this extension point[1] to specify a current node.js install location so that is taken automatically when Tern preferences are initialized. However, looking at the code that reads that extension[2] I can tell that it only looks for a directory under the plugin declaring the extension point, i.e. is relative to the plugin, or else it looks for a ZIP archive in the bu

[2016-07-27 06:04] angelozerr commented on #434
No.

The extension point could be improved to specifiy a class to return a custom file node path.

[2016-07-27 06:06] angelozerr commented on #433
I have never used RSE. tern.java uses project location, because tern.js need a working directory (file system). I'm not sure if it can work with RSE?

[2016-07-27 19:19] sosahvictor commented on #434
Thanks for confirming Angelo. Will think about this. As we require this functionality, we'll be contributing a patch soon.

Quick question, talking about release timeline, do you plan to release something within the next two months? This can help to plan my work.

Thanks again.

[2016-07-28 06:01] angelozerr commented on #434
To be honnest with you, I don't know when tern.java will be released. We do a release when there are interesting features. But SNAPSHOT version is available as soon as pushes are done.

[2016-07-28 13:41] sosahvictor commented on #434
Alright. That should be enough. I'll be in touch soon about this contribution.
Thank you, Angelo!

[2016-07-30 06:03] angelozerr commented on #434
Cool:)

You are welcome!

[2016-08-08 17:04] sosahvictor commented on #434
Hi @angelozerr.
I've created PR https://github.com/angelozerr/tern.java/pull/435. I guess it's better to track it there. If you have the same feeling, please feel free to close this one

[2016-08-08 19:17] angelozerr commented on #434
Thanks @sosahvictor!

Please read my comment https://github.com/angelozerr/tern.java/pull/435/files#r73936067

I close this issue.

[2016-08-08 19:17] #434 closed

[2016-08-09 10:53] kaloyan-raev opened #436 "Update ExtJS module to the latest definitions"
I've just tried working on an ExtJS 4.2.1 project with the latest Tern 1.3.0-SNAPSHOT.

I noticed that some code assist results are incomplete - missing parameter types and result types for some functions like Ext.urlAppend().

I found that the code assist info comes from the <ternjs-plugin>/node_modules/tern/plugin/extjs4.2.1.js. It contains a huge JSON object with the API info. The methods with

[2016-08-09 15:02] sosahvictor commented on #434
oh, btw, where can I find the snapshot that has this change?

[2016-08-09 17:50] angelozerr commented on #434
You can install SNAPSHOT version with update site https://github.com/angelozerr/tern.java/wiki/Installation-Update-Site

You work is included in this snapshot, see https://opensagres.ci.cloudbees.com/job/tern.java/

[2016-08-09 18:01] angelozerr commented on #436
Indeed @fflorent has improved a lot ExtJS support. I have not found time to integrate her work.

I have tried quickly and I have the same problem than you @kaloyan-raev To fix the problem:

 * use https://raw.githubusercontent.com/angelozerr/tern.jsduck/master/plugin/extjs_4.2.1.js
 * remane `tern.registerPlugin("extjs_4.2.1"` with `tern.registerPlugin("extjs4.2.1"`
 * replace `"destroy":{"!type":

[2016-08-09 19:17] sosahvictor commented on #434
Thanks for the pointers

[2016-08-10 06:32] kaloyan-raev commented on #436
Thanks @angelozerr! Your instructions helped to make code assist working again. How did you spot that this part of the definition is the problem?

BTW, changing ```Ext.util.Observable[]...``` to ```[+Ext.util.Observable]``` also resolves the issue.

I think that the ellipses (```...```) are causing the problem. The generator fails to break ```Ext.util.Observable[]...``` from the JSDoc into two sep

[2016-08-10 06:57] angelozerr commented on #436
You are welcome @kaloyan-raev !

I have enable Tern Console to see this error in the Eclipse console (Tern / Development and check "tern console")

Thank's @kaloyan-raev for your feedack. Is there any chance that you could contribute to tern.jsduck (I know you are very busy)?

@fflorent have you time to fix this issue? Once this issue will be fixed, I will integrate the work of @fflorent inside te

[2016-08-10 07:15] kaloyan-raev commented on #436
This is really helpful!

Yes, I can if I understand quickly how the tern.jsduck generator works.

BTW, I am not really sure what is the semantics of the ellipses ```...``` and how should they be represented in that JSON definition. Could you give me some explanation?

For users who have a commercial license, I guess the plugin by Sencha is the better choice. The ExtJS support in Tern would be help

[2016-08-10 16:29] angelozerr commented on #436
Glad this feature please you:) Please note that you can debug too tern plugins with breakpoint. See https://github.com/angelozerr/tern.java/wiki/Debugging-Tern.js-on-Node.js (in 1.3.0 I have implemented quickly tern debugger with JSDT 2, but I don't know if it works very well).

Cool, see https://github.com/angelozerr/tern.jsduck#how-it-works and https://github.com/angelozerr/tern.jsduck/blob/mast

[2016-08-11 06:08] fflorent commented on #436
Sorry, I am a bit busy this week. May I take a look at this this week-end ?

Florent

[2016-08-11 06:38] kaloyan-raev commented on #436
@fflorent Absolutely! There is nothing urgent on this. Thanks for your help!

[2016-08-14 14:14] fflorent commented on #436
PR submitted : https://github.com/angelozerr/tern.jsduck/pull/12

[2016-08-15 15:01] angelozerr commented on #436
There is again a bug https://github.com/angelozerr/tern.jsduck/pull/12#issuecomment-239825062

[2016-08-27 16:29] fflorent commented on #436
@angelozerr Fixed as said in the PR :)

[2016-08-28 11:13] #436 closed

[2016-08-28 11:14] angelozerr commented on #436
It works like a charm! Thanks a lot @fflorent !

[2016-09-01 13:47] bobkubista commented on #423
I would also like javascript files to be supported. Should I open a new issue for this? Tern doesn't accept the config file at the moment.

[2016-09-08 13:32] cloudyafternoon opened #437 "No support for adding project root to Script Paths"
In Eclipse Neon, when I try to add the project root to the Script Paths, this is ignored.

![2016-09-08_15-27-58](https://cloud.githubusercontent.com/assets/21170969/18351103/17895f6e-75d9-11e6-866c-792020b90daf.png)

After clicking "OK", the new path is not added. In addition, I cannot remove the "WebContent" folder.

![2016-09-08_15-30-29](https://cloud.githubusercontent.com/assets/21170969/1835

[2016-09-08 13:40] cloudyafternoon opened #438 "[ESLint] .eslintignore file is ignored"
Usually, you use the file `.eslintignore` in any directory and specify paths (one per line) in it that ESLint should ignore. However, ESLint in tern ignores all of my .eslintignore files, that I use e.g. to exclude external libs.

[2016-09-08 19:08] angelozerr commented on #437
Your script path comes from JSDT (Include Path), that's why you cannot remove it. Please use Include Path which gives the capability to include/exclude paths.

[2016-09-08 19:10] angelozerr commented on #438
tern.java uses today JSDT Include Path or tern script path.  I have though about your idea, but not find time to implement it.

[2016-09-16 08:28] fkranenburg commented on #430
I have exactly the same issue. Sometimes while editing or after saving Javascript files I get this error message. But I had this issue also in Eclipse mars before upgrading to Neon (not really upgraded, but installed a new fresh copy).

Along with the stacktrace @wolfgang-ch posted, I also see this stacktrace in my environment. What further information do you need?

[code]

[2016-09-16 08:35] angelozerr commented on #430
Please share your project.

[2016-09-20 19:16] walhow opened #439 "Trouble creating client file for Eclipse"
Not sure how to create the client file for eclipse. I'm kind of new to npm/node, but I do have npm installed and am running simple Protractor tests. I need to be able to debug and step through a Protractor test in Eclipse, it seems I can't run as Protractor in Eclipse without the client file. Thanks for any help!

[2016-09-21 06:35] angelozerr commented on #439
I suggets you that you install npm to donwload protractor. I don't want to host protractor inside AngularJS Eclipse because it is big and it changes every time.

[2016-09-23 06:14] angelozerr commented on #437
None answer, I close this issue.

[2016-09-23 06:14] #437 closed

[2016-09-23 07:27] cloudyafternoon commented on #437
Thank you. I managed to exclude folders jusing the JSDT include path.

[2016-09-23 10:05] serifeciftci commented on #407
Hi,

I'm working in a Java EE Web Project and have the same issue. Everytime I open a js/html file the popup pops up.
I checked the JSTD Include Path which excluded the bower components, node modules and .min.js
Any suggestions?

[2016-09-23 10:20] angelozerr commented on #407
Please share your project.

[2016-09-23 10:46] serifeciftci commented on #407
@angelozerr you can find the code [here](https://github.com/serifeciftci/repo1)

[2016-09-23 11:13] angelozerr commented on #407
Thanks I have tried and I don't see the problem? You have few JS files, so it's quick, no?

Please explain me more what is your problem (which file you open, which problem you have, etc).

[2016-09-23 11:19] serifeciftci commented on #407
![knipsel3](https://cloud.githubusercontent.com/assets/3762900/18784102/2091fc3e-8190-11e6-92cf-e5c33f42ce71.PNG)

Each time i click on a html/ js file this popup keeps popping up. The same happens on other projects so maybe the code isn't the problem

[2016-09-23 11:47] angelozerr commented on #407
I have not this problem.

Which version of tern.java are you using?

I suggest you that you use Eclipse Jee Neon with tern.java 1.3.0-SNAPSHOT.

[2016-09-23 11:50] serifeciftci commented on #407
I'm using Eclipse EE Mars. I don't know where to find or how to upgrade the Tern version.

[2016-09-23 11:52] angelozerr commented on #407
Try with Eclipse Jee Neon and see https://github.com/angelozerr/tern.java/wiki/Installation-Update-Site

[2016-09-23 12:22] rawagner opened #440 "Tern throws exception when deleting project which is closed"
Steps to reproduce:
1. use new & clean workspace
2. create some project (java project is enough)
3. close it
4. delete
5. check error log

`org.eclipse.core.internal.resources.ResourceException: Resource '/NewCdiProject' is not open.
	at org.eclipse.core.internal.resources.Project.checkAccessible(Project.java:144)
	at org.eclipse.core.internal.resources.Resource.checkAccessibleAndLocal(Resource.ja

[2016-09-24 04:21] #440 closed

[2016-09-24 04:21] angelozerr commented on #440
Thanks @rawagner for your explanation. Problem is now fixed.

[2016-10-25 23:19] vrubezhny opened #441 "Could not load nodeJSInstall: node-v0.10.22-linux-x86_64"
On RHEL Tern.java attempts to extract Node.js runtime into a directory that is not accessible to a user.

[code]

The solution could be the move of the node.js runtime directory to <workspace>/.metadata/.plugins/... which is (at least is supposed to be) fully accessible by a user.

At the moment, we'd like to create a new branch tern.java-1.1.x-branch, based on tern.java-1.1.0 tag, fix the issue i

[2016-10-26 14:40] vrubezhny commented on #441
@pascalleclercq , could you please add a preparation for 1.1.1 development to tern.java-1.1.x-branch branch, so I can put my fix on top of it?

[2016-12-06 13:51] siluri opened #445 "An internal error occurred during: "Validating...". tern.server.protocol.lint.TernLintQuery.setFix(Z)V"
convert maven project to tern project
after that validating fails

[2016-12-19 10:57] velizarn opened #446 "eslint.json file from another project"
Hello,
I want to have a common .eslint.json file for the entire workspace. How can I add a file from a workspace location in the dialog Tern > Validation > ESlint?

Thank you in advance!

[2016-12-23 02:01] digable1 opened #447 "java.lang.RuntimeException: java.lang.NullPointerException"
at tern.eclipse.ide.core.resources.MyEclipseResourcesDelegatingManager.init(MyEclipseResourcesDelegatingManager.java:44)
        at tern.eclipse.ide.core.resources.MyEclipseResourcesDelegatingManager.isHTMLFile(MyEclipseResourcesDelegatingManager.java:74)
        at tern.internal.resources.InternalTernResourcesManager.isHTMLFile(InternalTernResourcesManager.java:77)
        at tern.TernResourcesMa

[2016-12-23 08:04] angelozerr commented on #447
@piotrtomiak I think it's a bug with MyEclipse?

[2016-12-28 06:27] Ridhuvarshan commented on #412
I am using Eclipse neon.2. When I control + click, it says current text selection does not resolve to a Javascript element. I have enabled Project facets for javascript.
This was working perfectly in Luna and Mars, but for some reason it is not working in neon

[2016-12-31 14:52] #441 closed

[2016-12-31 14:53] angelozerr commented on #412
I have testes quickly and it works. Please share your project and tell me what you are doing. Thanks!

[2017-01-11 13:20] vrubezhny opened #448 "Errors when selecting some JS modules in project properties"
AERI Report: https://redhat.ctrlflow.com/reviewers#!/problems/577453c2e4b03c6ed09af1d6

Environment:
Devstudio 10.1.0.GA

Steps to reproduce:
I was able to reliably reproduce it using these steps:
1. Have JS project in workspace.
2. Open its preferences -> JavaScript -> Modules
3. Select Lint (no error)
4. Select some other module (no error)
5. Select Lint again (error)

The same steps could be us

[2017-01-19 21:20] BHARATSEHRA opened #449 "No type hinting"
Hi Angelozerr ,

Nothing seems to be working for me after migrating the project from webstorm to eclipse-tern project.
No type hinting at all. Don't know why this is not working.  Could you please help me in resolving the same at the earliest possible.

Thanks in Anticipation

[2017-02-10 09:50] atlante7 opened #450 "Trouble installing Tern 1.2.0 and 1.3.0 Snapshot on Eclipse Luna"
I have a working tern ide on Eclipse Luna. But I'm trying to install on another Eclipse Luna and after installation (with no errors) it doesn't appear any option on preferences and I can't convert my javascript project into a tern project.

I noticed a difference between the two Eclipse IDEs. If I go to _Help > Eclipse Installation Details_, in _Plug-ins_ tab appears a different number of tern ent

[2017-02-10 09:52] angelozerr commented on #450
Luna is very old. Please use Neon.

[2017-02-19 14:19] gasparmedina commented on #234
Do you want to know if eslintignore is supported by this eclipse plugin, and how could you use it?

[2017-02-20 08:23] angelozerr commented on #234
No, see https://github.com/angelozerr/tern.java/issues/438

[2017-02-28 22:33] jbhardwaj12 opened #451 "Tern IDE not working with Spring's STS"
I am trying to use Tern IDE and tooling with Spring Tool Suite, which is eclipse based platform. It seems to have been installed fine. But I can not see Configuration options under project properties not I do see anything related to Tern under Windows Preferences. Is there a compatibility issue with STS ?

![image](https://cloud.githubusercontent.com/assets/11051205/23437249/0216b5fa-fdd3-11e6-824

[2017-03-01 00:28] angelozerr commented on #451
Have you done that https://github.com/angelozerr/tern.java/wiki/Getting-Started#tern-configuration

If this menu doesn't appears, perhaps your project is allready a tern project (it contains the .tern-project file in the roor of your project)?

[2017-03-01 04:56] jbhardwaj12 commented on #451
@angelozerr Sorry, I think I was on clear and tried to sum that under one line
`But I can not see Configuration options under project properties not I do see anything related to Tern under Windows Preferences.`
Please see elaborated issue below :
I installed tern via Eclipse Marketplace, I can see it installed under installation details. I also tried to manually add via update site - It shows late

[2017-03-01 08:12] angelozerr commented on #451
Do you use project explorer? Please add scrennshot with your contextual menu.

Try to create at hand a .tern-project file and fill it with `{}`

Open project properties and try to type tern in the filter (or search Tern or JavaScript / Tern) properties page

[2017-03-01 15:51] jbhardwaj12 commented on #451
@angelozerr  Thank you for your time on this. This is not a tern issue.

I tested on Vanilla STS bundle and tern is working as expected there.  Looks like there is some conflict between plugins in STS installation I was using earlier.  I am closing this issue.

[2017-03-01 15:51] #451 closed

[2017-03-12 10:13] faxik commented on #447
I also have exactly the same issue and also attribute it to Angular 2 IDE. Any solution other than rollback?

[2017-05-02 14:22] htreu opened #452 "Unable to install with eclipse neon.3"
I tried both, marketplace URL and update site (1.3.0-SNAPSHOT) and have the same results with both methods:
- the tern packages/bundles are listed in the "Installed Software" tab (see screenshot),
- the tern plugin is not showing up in the "Plug-Ins" tab,
- the "Convert to Tern Project" entry is missing in the project context menu,
- the Tern entry in the Preferences menu is missing.

What can I d

[2017-05-09 20:24] skinny-jones commented on #447
I got the same problem, any solution so far? It seems I will have to re install Eclipse

[2017-05-10 07:23] piotrtomiak commented on #447
@digable1, @skinny-jones, @faxik - this issue may happen if you uninstall Webclipse JSjet, which is using enhanced version of Angelo's Tern.java project. JSjet is part of Genuitec Angular IDE as well. Unfortunately due problems with Eclipse P2 (which manages plugins), some plugins are left after uninstallation. This error happens, because `com.genuitec.eclipse.javascript.tern` bundle is not presen

[2017-05-10 07:29] angelozerr commented on #447
Thanks @piotrtomiak for your great explanation!

If there are something to do in tern.java to fix your problem, don't hesitate to do a PR.

[2017-05-10 07:42] piotrtomiak commented on #447
Thanks, but unfortunately that's just some P2 mess we need to figure out.

[2017-05-25 17:53] neilrackett commented on #452
I'm seeing the same issue on Neon 3 for Windows (and also with the AngularJS and Angular2 plugins)

[2017-05-26 08:29] angelozerr commented on #452
Have you tried with a fresh Eclipse Neon3? It works for me.

If you mean https://github.com/angelozerr/angular2-eclipse there is no Convert menu, if you have some trouble with Angular2 Eclipse please create an issue.

[2017-06-07 06:44] kaloyan-raev commented on #430
We have a user that experience the same issue: http://forums.zend.com/viewtopic.php?f=59&t=132628

The only relevant error I find in the log is this one:
[code]
Unfortunately, I myself don't reproduce the issue.

Could it be that the tern server process crashes (out of memory?). Is there any log file that can be analyzed? Are there any memory settings that can be tuned?

[2017-06-07 06:52] angelozerr commented on #430
Whithout having a project which reproduces the problem, it's hard to give an answer. I suspect that there are too many files to load but not sure.

Please note Today, I'm very busy today with https://github.com/angelozerr/typescript.java which provides a better JavaScript/TypeScript editor by using tsserver and TextMate for syntax coloration.

[2017-06-30 06:12] peltsi212 opened #453 "Feature request: async/await support"
Node 8 has been released 2017-05-30 and it supports async/await
eslint support ES2017
http://eslint.org/blog/2016/09/eslint-v3.6.0-released
Is it possible to upgrade eslint and get support for async/await to tern?

[2017-07-02 07:54] ruichenx opened #454 "how to remove the function reference of the content assist?"
![tim 20170702155052](https://user-images.githubusercontent.com/24670630/27768120-65dddfe2-5f3e-11e7-934f-b9e11448045b.png)
thank you~

[2017-07-11 02:58] zhenizhui commented on #452
same, too.
[code]

[2017-07-11 06:29] neilrackett commented on #452
I wasn't able to install on neon.3, even a fresh install, but it appears to be working without any problems after upgrading to Oxygen.

[2017-07-26 06:24] quent57 opened #455 "Upgrade to tern 0.21"
Tern 0.21 was realeased on 18-02-2017

It contains some improvements (from http://ternjs.net/) : 
- Support JSDoc-style object property docs in doc_comments plugin.
- Various fixes and completions in the type definitions.
- Fix bug where server self-resets left old state on AST.
- Improve and document the webpack plugin.
- Fix issue where file offsets were interpreted wrong when the file contained

[2017-08-09 03:16] BeginnerGitHub opened #456 "The console does not appear in the Tern project property,"
Hello,

I would like to use the Tern console but it does not appear in the properties of the project Tern.
Is there a particular configaration to be made ?

Thank you.

[2017-08-18 16:02] wnmills3 opened #457 "NullPointerException TernOutlineContentProvider.java:182"
I have recently started seeing these exceptions in the Error Log. They seem to be reported when I use File / Close All when in the Java or Node perspectives (but not reliably).

Problem:
Problems occurred when invoking code from plug-in: "org.eclipse.ui.navigator".

Environment:
eclipse.buildId=4.7.0.I20170612-0950
java.version=1.8.0_131
java.vendor=Oracle Corporation
BootLoader constants: OS=maco

[2017-10-16 08:02] JoyeLuo opened #458 "How about embed the latest version of node.js?"

[2017-10-22 02:35] FireController1847 commented on #453
PLEASE I NEED THIS, there's so many bugs because this isn't supported and I don't want to keep using Atom to code, I want to use Eclipse but I can't until this gets added!

[2017-10-22 09:48] angelozerr commented on #453
It's an issue for ternjs https://github.com/ternjs/tern/issues/814

[2017-11-03 08:36] peltsi212 commented on #453
It seems that there is no progress in ternjs
eslint is already integrated to VSCode editor and works fine and supports ES2017 async/await
It would be nice to have eslint integrated also to eclipse.

[2017-11-03 19:19] FireController1847 commented on #453
Yeah, I just gave up on eclipse and moved to VSCode. Works much better 👌

[2017-11-08 06:46] jonghoon1210 opened #459 "latest ESLint support."
Hi.

I converted my project to 'tern', made .eslintrc.json config file and Everything worked fine.

But the problem is this module doesn't handle some eslint rules.
( ex. func-call-spacing )

With this rule, eclipse gives me an error - [ESLint]: Definition for rule 'func-call-spacing' was not found.

Is this module doesn't support latest ESLint rules?

or did I miss something?

Please give me some

[2017-12-08 02:36] krkhnh commented on #452
I'm using Oxygen and having the same issue after updating to 1.2.0.201711281852. Works well with 1.2.0.201606160856. So I'm not updating Tern for now.

[2018-01-21 22:35] #318 closed

[2018-01-28 22:24] mplescano opened #460 "Support for navigator.getUserMedia"
Guys:

I think it's necessary to add support for :
navigator.getUserMedia,
navigator.webkitGetUserMedia,
navigator.mozGetUserMedia,
navigator.msGetUserMedia

besides:
video.src
video.onloadedmetadata

Regards

[2018-01-28 22:27] angelozerr commented on #460
I suggest you that you do a PR for that in https://github.com/ternjs/tern/pulls

[2018-01-28 22:27] #460 closed

[2018-02-21 06:55] htreu commented on #452
I'm updated to Oxygen and Tern IDE in Version 1.2.0.201606160856 (from the Marketplace) works well now.
Thanks.

[2018-02-21 06:55] #452 closed

[2018-02-28 13:45] AndrewJobel commented on #35
I recommend LongPathTool, Please try.

[2018-07-11 08:33] rajraavi opened #461 "“Error while launching client file ,Cannot find node install path node-native” wrt protractor in eclipse"
Hi All,

I am unable to fix this “Error while launching client file ,Cannot find node install path node-native” even after following the steps in GitHub forum. Please ca  any one help me with steps to resolve this issue.
My system and s/w details are follows:

OS: Windows 10 , 64bit
Eclipse : Version: Oxygen.3a Release (4.7.3a)
Node.js : Version 10.6.0

![image](https://user-images.githubuserconte

[2018-07-13 14:33] Pasupathi-Rajamanickam opened #463 "Error why installing in photon"
An error occurred while collecting items to be installed
Unable to read repository at http://oss.opensagres.fr/tern.repository/1.2.0/plugins/tern.eclipse.ide.server.nodejs.embed.macosx.cocoa.x86_64_1.2.0.201606160856.jar.
Premature end of Content-Length delimited message body (expected: 10452995; received: 392945
Unable to read repository at http://oss.opensagres.fr/tern.repository/1.2.0/plugins/t

[2018-07-31 19:55] wnmills3 commented on #457
I think I upgraded to the latest Oxygen version of Eclipse and have not had this problem since.

[2018-08-01 01:38] cocohello commented on #457
Oh, really thank you for update!!!!!! : )

[2018-09-05 20:08] jabby commented on #459
Hello I'm not sure @angelozerr has time to work on this. Instead, you can have a try https://github.com/mickaelistria/eclipse-bluesky
I'm not sure it will ber sufficient for your need but there is some work in progress. Bluesky will be renamed to Eclipse Wild Web Developer.
You can find more information here : https://projects.eclipse.org/proposals/eclipse-wild-web-developer

[2018-09-06 07:54] angelozerr commented on #459
Indeed I have not time to continue to support tern.java, but I think the future of Eclipse IDE is https://github.com/mickaelistria/eclipse-bluesky based on Language Server Protocol. This project provides a fantastic completion, validation etc for JavaScript/TypeScript (same feature than VSCode) and you should manage your lint with tslint (which should work with JS too). I had create a TypeScript p

[2018-09-13 17:05] BeginnerGitHub commented on #456
Up.
Thank you.

[2018-12-03 06:54] abarik1981 opened #469 "nodeclipse auto-complete not working on installed packages (aws-sdk) // Tern.java?"
I have installed `aws-sdk` and create a nodejs eclipse project, but i can't seem to get auto-completion on available methods in the module

here is my setup

1. Eclipse IDE for JavaScript and Web Developers Version: Photon Release (4.8.0) Build id: 20180619-1200
2. eclipse plugin: nodeclipse 1.0.2
3. eclipse plugin: javascript development tools-2.1.1
2. nodejs 0.13.0
3. installed tern.js IDE from

[2019-01-22 07:51] krkhnh opened #470 "Can't install Tern Eclipse IDE on Eclipse 4.10"
Spring Tool Suite 4
Version: 4.1.0.RELEASE
Build Id: 201812201400

Eclipse Platform
Version: 4.10.0.v20181206-0815
Build id: I20181206-0815

I can't find Tern Eclipse IDE from Marketplace and drag and dropping "install" button is not working.

[2019-01-24 01:39] #470 closed

[2019-03-21 23:26] nimo23 opened #471 "add react module"
Please add support for "react".

Thanks.

[2019-03-23 11:07] nimo23 commented on #471
I think, there is no more need for "tern.java" because of https://projects.eclipse.org/projects/tools.wildwebdeveloper.

**The "wildwebdeveloper" does all what tern.js does, am I right?**

So I close this issue.

[2019-03-23 11:07] #471 closed

[2019-08-02 14:58] iabdelrahman commented on #407
Windows > Preferences > Type Tern in the search >check the box next to disable

[2019-10-16 06:36] #230 closed

[2020-05-27 00:01] doldoldol21 opened #475 "tern of eclipse not dose work that calculating completion proposals…"
consol :

Nodejs Commnand: "D:\JSP작업\.metadata\.plugins\tern.eclipse.ide.server.nodejs.embed.win32.win32.x86_64\node-v4.2.4-win32-x86_64\node.exe" "C:\Users\rdi\.p2\pool\plugins\ternjs_1.2.1.201611022209\node_modules\tern\bin\tern" --no-port-file --disable-loading-local
.tern-project: {
  "ecmaVersion": 6,
  "plugins": {
    "guess-types": {

    },
    "outline": {

    },
    "es_modules": {

[2020-05-27 06:26] angelozerr commented on #475
I gave up the project.  I suggest that you install https://github.com/eclipse/wildwebdeveloper

[2020-05-27 06:39] doldoldol21 commented on #475
Thanks for the answer, I hope it's full of good things

[2020-05-27 06:55] #475 closed, assigned to nobody